@import 'pdf.css';

@font-face {
	font-family: "Gotham";
	src: url('S:/resources/bookmaker_scripts/bookmakerfonts/Gotham-Book.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Gotham";
	src: url('S:/resources/bookmaker_scripts/bookmakerfonts/Gotham-Bold.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Gotham";
	src: url('S:/resources/bookmaker_scripts/bookmakerfonts/Gotham-BookItalic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Gotham";
	src: url('S:/resources/bookmaker_scripts/bookmakerfonts/Gotham-BoldItalic.otf');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Gotham";
	src: url('S:/resources/bookmaker_scripts/bookmakerfonts/Gotham-Medium.otf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Gotham";
	src: url('S:/resources/bookmaker_scripts/bookmakerfonts/Gotham-Light.otf');
	font-style: normal;
	font-weight: 100;
}

/*@page {
	@footnotes {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
    }
}

@page chapter {
	@top-center {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
	}
	@bottom-center {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
	}
}

@page front {
	@top-center {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
	}
	@bottom-center {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
	}
}

@page copyright {
	@top-center {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
	}
	@bottom-center {
		font-family: "Gotham", sans-serif;
		font-size: 7.5pt;
	}
}*/

body {
	font-family: "Gotham", sans-serif;
}

p {
	font-size: 9pt;
}

/*div.runheadleft {
	font-family: "Gotham", sans-serif;
	font-size: 7.5pt;
}

div.runheadright {
	font-family: "Gotham", sans-serif;
	font-size: 7.5pt;
}

div.runfoot {
	font-family: "Gotham", sans-serif;
	font-size: 7.5pt;
}

div.runfoot span {
	font-family: "Gotham", sans-serif;
	font-size: 7.5pt;
}*/

.FrontSalesTitlefst {
	font-weight: 600;
}

.FrontSalesQuoteSourcefsqs {
	font-family: "Gotham", sans-serif;
	font-weight: 600;
	font-size: 9pt;
}

section[data-type="halftitlepage"] > h1,
p.HalftitleBookTitlehtit {
	font-size: 15pt;
	font-weight: normal;
}

p.AdCardMainHeadacmh {
	font-size: 11.5pt;
}

section[data-type="titlepage"] > h1 {
	font-family: "Gotham", sans-serif;
	font-size: 20pt;
}

.TitlepageBookSubtitlestit,
.TitlepageSeriesTitleser {
	font-weight: normal;
	font-size: 13pt;
}

section[data-type="titlepage"] p.TitlepageAuthorNameau {
	font-size: 13pt;
}

.TitlepageCitiescit, .TitlepagePublisherNamepub, .TitlepageImprintLineimp {
	font-family: "Gotham", sans-serif;
	font-size: 10pt;
}

section[data-type="copyright-page"] p {
	font-family: "Gotham", sans-serif;
	font-size: 8pt;
}

section[data-type="dedication"] p[class*="Epigraph-verse"],
section[data-type="dedication"] p[class*="Epigraph-non-verse"] {
	font-family: "Gotham", sans-serif;
	font-size: 8pt;
}

section[data-type="dedication"] p[class*="EpigraphSource"] {
	font-family: "Gotham", sans-serif;
	font-weight: 600;
	font-size: 8pt;
}

nav[data-type="toc"] h1 {
	font-weight: 600;
	font-size: 13pt;
}

nav[data-type="toc"] li {
	font-size: 9pt;
}

section[data-type="preface"] h1,
section[data-type="appendix"] h1,
h1.BMHeadbmh,
h1.AboutAuthorTextHeadatah {
	font-size: 13pt;
	font-weight: 600;
}

section[data-type="preface"] p.FMSubheadfmsh, p.ChapSubtitlecst, p.BMSubheadbmsh {
	font-size: 11pt;
}

section[data-type="chapter"] h1.ChapNumbercn,
p.ChapNumberNonprintingcnp {
	font-size: 9pt;
	font-weight: 600;
}

section[data-type="chapter"] h1.ChapTitlect {
	font-size: 12pt;
}

h1.ChapTitlect[data-autolabel="yes"]:before {
	font-size: 9pt;
	font-weight: 600;
}

section[data-type="chapter"] > blockquote[data-type="epigraph"] p,
div[data-type="part"] > blockquote[data-type="epigraph"] p,
section[data-type="preface"] > blockquote[data-type="epigraph"] p {
	font-family: "Gotham", sans-serif;
	font-size: 8pt;
}

section[data-type="chapter"] > blockquote[data-type="epigraph"] p.ChapEpigraphSourceceps,
div[data-type="part"] > blockquote[data-type="epigraph"] p.PartEpigraphSourcepeps,
section[data-type="preface"] > blockquote[data-type="epigraph"] p.FMEpigraphSourcefmeps {
	font-weight: 600;
}

[class*="ChapOpeningText"] .chapopener {
	font-weight: 600;
}

.Head-Level-1h1 {
	font-size: 11pt;
}

.Head-Level-2h2 {
	font-size: 9pt;
}

.Head-Level-3h3 {
	font-size: 9pt;
}

div[data-type="part"] h1 {
	font-size: 19pt;
}

div[data-type="part"] h1.PartNumberpn {
	font-size: 15pt;
}

p.Text-StandardALTatx,
p.Text-StdNo-IndentALTatx1 {
	font-family: "ArnoPro", serif;
	font-size: 12pt;
}

pre.poetry {
	font-family: "Gotham", sans-serif;
}

pre.poetry p, pre.poetry p:first-of-type {
	font-size: 8pt;
}

p[class*="Extract"] {
	font-family: "Gotham", sans-serif;
	font-size: 8pt;
}

.ExtractHeadexth, .Extract-Headlineexthl {
	font-size: 9pt;
	font-weight: 600;
}

p[class*="Dateline"] {
	font-size: 8pt;
	font-weight: 600;
}

section[data-type="copyright-page"] p.IllustrationSourceis {
	font-size: 7.5pt;
}

figcaption {
	font-family: "ArnoPro", serif;
	font-size: 10.5pt;
}

p.SpaceBreak,
p.SpaceBreak-1-Linels1,
p.PartOrnamentporn,
p.ChapOrnamentcorn,
p.ChapOrnamentALTcorn2,
p.SpaceBreakOrnamentorn,
p.SpaceBreakwithOrnamentorn,
p.SpaceBreakwithALTOrnamentorn2 {
	font-size: 13pt;
}

p.SpaceBreak-PrintOnlypo {
	font-size: 13pt;
}

/* footnotes */

span[data-type="footnote"],
.endnotetext {
	font-family: "Gotham", sans-serif;
	font-size: 7.5pt;
}

::footnote-marker {
    font-family: "Gotham", sans-serif;
    font-weight: 600;
}

.endnotetext p:first-of-type:before {
	font-family: "Gotham", sans-serif;
    font-weight: 600;
}

sup, sub {
	font-size: 5pt;
}

.spansuperscriptcharacterssup {
	font-size: 5pt;
}

.spansubscriptcharacterssub {
	font-size: 5pt;
}
