.ScreenplayDramatisPersonaedp {
  text-indent: 0;
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

.ScreenplayDramatisPersonaedp + div.runfoot + div.runheadright + div.runheadleft + .ScreenplayDramatisPersonaedp {
  text-indent: $textindent;
}