@mixin runhead {
  font-family: $familyrunhead;
  text-align: center;
  font-style: italic;
  font-size: $sizerunhead;
  vertical-align: top;
  padding: ($gridheight * 2) 0 0 0;
  margin: 0;
}

@page {
  size: 5in 8in;
  margin-top: $margintop;
  margin-bottom: $marginbottom;
  padding: $padding;
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  marks: crop;
  prince-mark-offset: 0.125in;
  prince-mark-length: 0in;
  bleed: 0.125in;
  @footnotes {
    font-family: $familyfootnote;
    font-size: $sizefootnote;
    background-image: url("#{$ornpath}/titlepage-rule.jpg");
    background-position: 0 0in;
    background-size: 60pt auto;
    background-repeat: no-repeat;
    padding-top: 0.127in;
    margin-top: 0.38in;
    }
}

@page :left {
  margin-left: $outsidemargin;
  margin-right: $insidemargin;
}

@page :right {
  margin-left: $insidemargin;
  margin-right: $outsidemargin;
}

@page part {
  @top-center {
    @include runhead
  }
  @bottom-center {
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    /*content: counter(page);*/
    content: flow(runfoot);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page part:left {
  @top-center {
    /*content: string(author);*/
    content: flow(runheadleft);
  }

}

@page part:right {
  @top-center {
    /*content: string(title);*/
    content: flow(runheadright);
  }
}

@page part:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page part:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page chapter {
  @top-center {
    @include runhead
  }
  @bottom-center {
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    /*content: counter(page);*/
    content: flow(runfoot);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page chapter:left {
  @top-center {
    /*content: string(author);*/
    content: flow(runheadleft);
  }

}

@page chapter:right {
  @top-center {
    /*content: string(title);*/
    content: flow(runheadright);
  }
}

@page chapter:first {
  @top-center {
    content: normal;
  }
}

@page chapter:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page front {
  @top-center {
    content: normal;
    @include runhead
  }
  @bottom-center {
    content: normal;
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    content: counter(page);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page front:left {
  @top-center {
    content: normal;
    @include runhead
  }
  @bottom-center {
    content: normal;
  }
}

@page front:right {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page front:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page front:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright {
  margin-bottom: 0.25in;
  padding-bottom: 0;
  @top-center {
    content: normal;
    @include runhead
  }
  @bottom-center {
    content: normal;
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    content: counter(page);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page copyright:left {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright:right {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed {
  margin: 0;
  padding: 0;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:left {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:right {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page epigraph {
  @top-center {
    content: normal; }
  @bottom-center {
    content: normal; }
}

body {
  font-family: "ArnoPro", serif, "Noto";
  counter-reset: endnotes chapternumber;
}

section, p, div, h1, h2, h3, h4, h5, h6 {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

p {
  font-size: $sizenormal;
  line-height: $gridheight;
  text-indent: $textindent;
  text-align: justify;
  text-align-last: left;
  margin: 0;
  widows: 1;
  orphans: 1;
  hyphens: auto;
  prince-hyphenate-after: 3;
  prince-hyphenate-before: 2;
  hyphenate-lines: 3;
}

h1 + p,
h1 + div.runfoot + div.runheadright + div.runheadleft + p,
p[class*="Author1Au1"] + p[class*="Body-TextTx"],
p[class*="Author1Au1"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Body-TextTx"],
p[class*="SubtitleSttl"] + p[class*="Body-TextTx"],
p[class*="SubtitleSttl"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Body-TextTx"] {
  text-indent: 0;
}

div.runheadleft {
  flow: static(runheadleft);
  font-family: "ArnoPro-Caption", serif, "Noto";
  text-align: center;
  font-style: italic;
  font-size: $sizerunhead;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

div.runheadright {
  flow: static(runheadright);
  font-family: "ArnoPro-Caption", serif, "Noto";
  text-align: center;
  font-style: italic;
  font-size: $sizerunhead;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

div.runfoot {
  flow: static(runfoot);
  font-family: "ArnoPro-Caption", serif, "Noto";
  font-variant: prince-opentype(onum);
  text-align: center;
  font-size: $sizerunfoot;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

div.runfoot span {
  display: block;
  content: counter(page);
  font-family: "ArnoPro-Caption", serif, "Noto";
  font-variant: prince-opentype(onum);
  text-align: center;
  font-size: $sizerunfoot;
  text-indent: 0;
}

p:first-of-type,
p[class*="-Space-Break"] + p {
  text-indent: 0;
}

p[class*="SpaceBefore"] {
  margin-top: $gridheight;
}

p[class*="SpaceAround"] {
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

p[class*="SpaceAfter"] {
  margin-bottom: $gridheight;
}

blockquote {
  margin: $gridheight;
  page-break-inside: auto;
}

blockquote p:first-child {
  text-indent: 0;
}

/* ---------------- FRONTMATTER */

section[data-type="halftitlepage"],
section[data-type="titlepage"],
section[data-type="preface"],
section[data-type="foreword"],
section[data-type="introduction"],
section[data-type="copyright-page"],
section.adcard {
  page-break-after: always;
}

section[data-type="halftitlepage"],
section[data-type="titlepage"] {
  page-break-before: right;
}

section[data-type="preface"].adcard {
  page-break-before: always;
}

section[data-type="halftitlepage"],
section[data-type="titlepage"],
section[data-type="copyright-page"],
section[data-type="dedication"],
nav[data-type="toc"] {
  page: front;
}

section[data-type="copyright-page"] {
  page: copyright;
}


*[class*="FrontSalesTitlefst"] {
  font-size: $sizefst;
  font-weight: bold;
  text-align: center;
  margin-bottom: $gridheight;
}

*[class*="FrontSalesQuoteNoIndentfsq1"]  {
  text-indent: 0;
  text-align: left;
}

*[class*="FrontSalesQuotefsq"],
*[class*="FrontSalesQuotefsq"]:first-of-type {
  text-indent: $hanging;
  text-align: left;
}

*[class*="FrontSalesQuoteSourcefsqs"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-weight: bold;
  font-size: $sizefsqs;
  text-align: right;
  margin-bottom: $gridheight;
}

*[class*="FrontSalesQuoteSourcefsqs"] em,
*[class*="FrontSalesQuoteSourcefsqs"] span.itali {
  break-inside: avoid;
}

section[data-type="halftitlepage"] > h1 {
  font-size: $sizehalftitle;
  font-weight: normal;
  line-height: $gridheight;
  margin-top: $htmargintop;
  text-align: center;
}

section.adcard {
  text-align: center;
}

section.adcard > h1 {
  text-transform: lowercase;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-size: $sizeacmh;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  text-align: center;
  text-indent: 0;
}

section.adcard > p[class*="SubtitleSttl"], 
section.adcard > p[class*="List-HeadLhead"] {
  text-align: center;
  text-indent: 0;
  margin-top: $gridheight;
  margin-bottom: 0;
}

section.adcard > p.SeparatorSep + p[class*="SubtitleSttl"],
section.adcard > p.SeparatorSep + p[class*="List-HeadLhead"],
section.adcard > p.SeparatorSep + div.runfoot + div.runheadright + div.runheadleft + p[class*="SubtitleSttl"],
section.adcard > p.SeparatorSep + div.runfoot + div.runheadright + div.runheadleft + p[class*="List-HeadLhead"] {
  margin-top: 0;
}

section.adcard ul {
  margin: 0;
  padding-left: 0;
}

section.adcard li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

section.adcard ul li p {
  text-align: center;
  text-indent: 0;
}

section[data-type="titlepage"] > h1 {
  font-family: "ArnoPro-BoldSubhead", serif, "Noto";
  font-weight: normal;
  font-style: normal;
  font-size: $sizetitle;
  line-height: $sizetitle * 1.12;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  string-set: title content();
}

section[data-type="titlepage"] > h1:first-child {
  margin-top: $gridheight * 1.5;
}

section[data-type="titlepage"] p + h1 {
  margin-top: $gridheight * 1.625;
}

section[data-type="titlepage"] h1 + p {
  margin-top: $gridheight * 1.5;
  margin-bottom: 0;
}

section[data-type="titlepage"] p[class*="SubtitleSttl"],
section[data-type="titlepage"] p[class*="TitlepageSeriesTitleser"] {
  font-weight: normal;
  font-size: $sizesubtitle;
  line-height: $gridheight * 1.5;
  font-style: italic;
  text-align: center;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

section[data-type="titlepage"] p[class*="SubtitleSttl"]:first-child,
section[data-type="titlepage"] p[class*="TitlepageSeriesTitleser"]:first-child {
  margin-top: $gridheight * 0.375;
}

section[data-type="titlepage"] p[class*="TitlepageTranslatorNametran"],
section[data-type="titlepage"] p[class*="TitlepageContributorNamecon"] {
  text-align: center;
}

section[data-type="titlepage"] p[class*="Author1Au1"] {
  font-size: $sizeau;
  padding-top: $gridheight * 2.5;
  background-image: url('#{$ornpath}/titlepage-rule.jpg');
  background-size: 60pt auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: $gridheight * 1.5;
  margin-bottom: $gridheight * 2;
  text-indent: 0;
  text-align: center;
  string-set: author content();
}

section[data-type="titlepage"] *[class*="ImprintImp"] {
  float: bottom;
  text-align: center;
  text-indent: 0;
}

section[data-type="titlepage"] *[class*="Logo-PlacementLogo"] {
  content: " ";
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/torDOTcom/logo.jpg");
  background-position: center bottom;
  background-size: $logowidth $logoheight;
  background-repeat: no-repeat;
  display: block;
  float: bottom;
  width: 100%;
  height: 0.5in;
  text-align: center;
  margin-bottom: 0.2in;
}

section[data-type="titlepage"] *[class*="CitiesCit"], 
section[data-type="titlepage"] *[class*="TitlepagePublisherNamepub"], 
section[data-type="titlepage"] *[class*="ImprintImp"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
  font-size: $sizetitlepagetext;
  line-height: $gridheight;
  float: bottom;
  text-align: center;
  text-indent: 0;
}

section[data-type="copyright-page"] p:first-child {
  margin-top: $gridheight;
}

section[data-type="copyright-page"] p {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizecopyright;
  text-align: center;
  text-indent: 0;
  line-height: $sizecopyright * 1.4;
}

/* This style no longer exists in RSuite styles. Leaving in, just in case. */
/**[class*="CopyrightTextdoublespacecrtxd"] {
  margin-bottom: $sizecopyright * 1.4;
}*/

section[data-type="dedication"] {
  page-break-before: always;
  page-break-after: always;
}

section[data-type="dedication"] p {
  text-align: center;
  font-style: italic;
  text-indent: 0;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

.texttoc {
  display: none;
}

nav[data-type="toc"] {
  page-break-before: right;
  page-break-after: always;
}

nav[data-type="toc"] h1 {
  font-weight: bold;
  font-size: $sizetochead;
  line-height: $gridheight;
  margin-top: 0;
  text-align: center;
}

nav[data-type="toc"] ol {
  margin-left: 0;
}

nav[data-type="toc"] li {
  font-size: $sizetocentry;
  line-height: $gridheight;
  margin-bottom: $gridheight;
  margin-left: 0;
  list-style-type: none;
}

nav[data-type="toc"] li.TOC-FrontmatterTocfm {
  display: none;
}

nav[data-type="toc"] li.TOC-BackmatterTocbm {
  margin-left: $sizenormal * 2;
  font-weight: normal;
  text-align: left;
}

nav[data-type="toc"] li.TOC-ChapterTocch + li.TOC-BackmatterTocbm {
  margin-top: $gridheight;
}

nav[data-type="toc"] li.TOC-PartTocpt ~ li {
  margin-bottom: 0;
}

nav[data-type="toc"] a {
  text-decoration: none;
  color: cmyk(0%,0%,0%,100%);
}

nav[data-type="toc"] li a:before {
  content: target-counter(attr(href), page);
  display: inline-block;
  width: $normal * 2;
  text-align: left;
}

nav[data-type="toc"] li.TOC-BackmatterTocbm a:before {
  content: normal;
}

nav[data-type="toc"] li.TOC-PartTocpt {
  margin-bottom: $gridheight * 0.5626;
  margin-top: $normal * 2;
  vertical-align: top;
  font-style: italic;
}

nav[data-type="toc"] li.TOC-PartTocpt a {
  vertical-align: top;
}

nav[data-type="toc"] li.TOC-PartTocpt a:before {
  content: normal;
  display: inline;
}

/* sections and headings */

section[data-type="preface"],
section[data-type="foreword"],
section[data-type="introduction"] {
  page: chapter;
  page-break-before: right;
  prince-page-group: start;
}

section.adcard {
  page: front;
}

section.frontsales {
  page: front;
}

section[data-type="preface"] > h1,
section[data-type="foreword"] > h1,
section[data-type="introduction"] > h1,
section[data-type="appendix"] > h1,
section[data-type="afterword"] > h1,
section[data-type="glossary"] > h1,
section[data-type="index"] > h1,
section[data-type="bibliography"] > h1,
section[data-type="conclusion"] > h1,
section[data-type="acknowledgments"] > h1 {
  font-size: $sizefmhead;
  line-height: $gridheight;
  font-weight: bold;
  margin-top: $prmargintop;
  margin-bottom: $gridheight * 3;
  padding: 0;
  text-align: center;
}

section[data-type="preface"] > p[class*="SubtitleSttl"],
section[data-type="foreword"] > p[class*="SubtitleSttl"],
section[data-type="introduction"] > p[class*="SubtitleSttl"],
section[data-type="chapter"] > p[class*="SubtitleSttl"],
section[data-type="appendix"] > p[class*="SubtitleSttl"],
section[data-type="afterword"] > p[class*="SubtitleSttl"],
section[data-type="glossary"] > p[class*="SubtitleSttl"],
section[data-type="index"] > p[class*="SubtitleSttl"],
section[data-type="bibliography"] > p[class*="SubtitleSttl"],
section[data-type="conclusion"] > p[class*="SubtitleSttl"],
section[data-type="acknowledgments"] > p[class*="SubtitleSttl"],
section[data-type="preface"] > p[class*="Author1Au1"],
section[data-type="foreword"] > p[class*="Author1Au1"],
section[data-type="introduction"] > p[class*="Author1Au1"] {
  text-indent: 0;
  font-size: $sizechapsubtitle;
  line-height: $gridheight;
  font-style: italic;
  margin-top: $gridheight * 2;
  text-align: center;
  margin-bottom: $gridheight * 2;
  page-break-after: avoid;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

section[data-type="preface"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="foreword"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="introduction"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="appendix"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="afterword"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="glossary"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="index"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="bibliography"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="conclusion"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="acknowledgments"] > p[class*="SubtitleSttl"]:first-of-type,
section[data-type="preface"] > p[class*="Author1Au1"]:first-of-type,
section[data-type="foreword"] > p[class*="Author1Au1"]:first-of-type,
section[data-type="introduction"] > p[class*="Author1Au1"]:first-of-type {
  margin-top: $gridheight * -2;
}

/* ---------------- CHAPTERS */

section[data-type="chapter"] {
  page: chapter;
  page-break-before: $chapterstart;
  prince-page-group: start;
  counter-reset: footnote;
}

section[data-type="preface"] + section[data-type="chapter"],
section[data-type="foreword"] + section[data-type="chapter"],
section[data-type="introduction"] + section[data-type="chapter"],
section[data-type="titlepage"] + section[data-type="chapter"],
section[data-type="halftitlepage"] + section[data-type="chapter"],
section[data-type="copyright-page"] + section[data-type="chapter"],
section[data-type="dedication"] + section[data-type="chapter"],
section[data-type="acknowledgments"] + section[data-type="chapter"],
nav[data-type="toc"] + section[data-type="chapter"],
div[data-type="part"] + section[data-type="chapter"] {
  page-break-before: right;
}

section[data-type="chapter"] > h1[class*="NumberNum"] {
  font-size: $sizechapnum;
  line-height: $gridheight;
  font-weight: 600;
  text-align: center;
  margin-top: $gridheight * 1.25;
  margin-bottom: 7pt;
  text-indent: 0;
}

section[data-type="chapter"] > h1[class*="NumberNum"] + p {
  margin-top: $gridheight;
}

/* remove top margins from Dedication, FM Epigraph, and Copyright inserted CTNP */
section[data-type="preface"].epigraph h1[class*="ChapTitleNonprintingctnp"] + *,
section[data-type="copyright-page"] h1[class*="ChapTitleNonprintingctnp"] + *,
section[data-type="dedication"] h1[class*="ChapTitleNonprintingctnp"] + * {
  margin-top: 0; }

section[data-type="chapter"] h1[class*="TitleTtl"] {
  font-size: $sizechaptitle;
  line-height: $gridheight;
  font-weight: normal;
  margin-top: $prmargintop;
  text-align: center;
  margin-bottom: $ctmarginbottom;
  counter-increment: chapternumber;
  padding: 0;
}

h1[class*="TitleTtl"][data-autolabel="yes"]:before {
  content: attr(data-labeltext);
  display: block;
  font-size: $sizechapnum;
  line-height: $gridheight;
  font-weight: 600;
  text-align: center;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  text-indent: 0;
}

section[data-type="chapter"] h1[class*="TitleTtl"] + p {
  margin-top: $comargintop;
}

*[class*="Nonprinting"] {
  display: none;
}

section[data-type="appendix"],
section[data-type="afterword"],
section[data-type="glossary"],
section[data-type="index"],
section[data-type="bibliography"],
section[data-type="conclusion"],
section[data-type="acknowledgments"] {
  page-break-before: right;
  counter-reset: footnote;
  page: chapter;
  prince-page-group: start;
}



section[data-type="appendix"]:first-of-type,
section[data-type="afterword"]:first-of-type,
section[data-type="glossary"]:first-of-type,
section[data-type="index"]:first-of-type,
section[data-type="bibliography"]:first-of-type,
section[data-type="conclusion"]:first-of-type,
section[data-type="acknowledgments"]:first-of-type {
  page-break-before: right;
}

section[data-type="appendix"].bobad {
    page-break-before: always;
}

section[data-type="bibliography"] > p[class*="Body-TextTx"],
p[class*="Reference-EntryRef"] {
  text-indent: 0;
}

blockquote + p[class*="Body-TextTx"]:first-of-type {
  /*margin-top: $gridheight * 3;*/
}

p[class*="Body-TextTx"] .chapopener {
  font-weight: 600;
  letter-spacing: 0.1pt;
}

/* ---------------- HEADINGS */

*[class*="A-HeadAhead"] {
  text-indent: 0;
  font-size: $sizeh1;
  font-style: italic;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

*[class*="B-HeadBhead"] {
  text-indent: 0;
  font-size: $sizeh2;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  text-transform: lowercase;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;
}

*[class*="C-HeadChead"] {
  text-indent: 0;
  font-size: $sizeh3;
  font-style: italic;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

*[class*="A-HeadAhead"] + p,
*[class*="B-HeadBhead"] + p,
*[class*="C-HeadChead"] + p,
*[class*="A-HeadAhead"] + div.runfoot + div.runheadright + div.runheadleft + p,
*[class*="B-HeadBhead"] + div.runfoot + div.runheadright + div.runheadleft + p,
*[class*="C-HeadChead"] + div.runfoot + div.runheadright + div.runheadleft + p {
  text-indent: 0;
}

*[class="Main-HeadMHead"] + *[class*="A-HeadAhead"],
*[class="Main-HeadMHead"] + div.runfoot + div.runheadright + div.runheadleft + *[class*="A-HeadAhead"] {
  margin-top: $gridheight * -2;
  margin-bottom: $gridheight * 2;
}

section[data-type="appendix"].notes *[class*="A-HeadAhead"] {
  margin-bottom: $gridheight * 2;
}

/* ---------------- PARTS */

div[data-type="part"] {
  page-break-before: right;
  counter-reset: footnote;
  page: part;
  prince-page-group: start;
}

div[data-type="part"] > h1 {
  font-weight: normal;
  font-size: $sizeparttitle;
  letter-spacing: 1pt;
  text-transform: uppercase;
  line-height: 28pt;
  text-align: center;
  margin-top: 8pt;
}

div[data-type="part"] > h1[class*="NumberNum"] {
  font-size: $sizepartnum;
  text-transform: lowercase;
  font-variant: prince-opentype(smcp, onum);
}

div[data-type="part"] > h1[class*="NumberNum"] + div.runfoot + div.runheadright + div.runheadleft + h1[class*="TitleTtl"] {
  margin-top: 0;
}

div[data-type="part"] > p[class*="SubtitleSttl"] {
  text-indent: 0;
  text-align: center;
  font-size: $sizechapsubtitle;
  margin-bottom: $gridheight;
}

/* ---------------- TEXT */

/* NEED CLARIFICATION */
*[class*="Text-StandardALTatx"],
*[class*="Text-StdNo-IndentALTatx1"] {
  font-family: "AromaNo2LTPro", sans-serif, "Noto";
  font-size: $sizenormalalt;
}
/* end note */

*[class*="Computer-TextComp"] {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

p[class*="Extract"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizeextract;
}

pre.computer {
  white-space: normal;
  margin: $gridheight;
  page-break-inside: auto;
}

pre.computer p:first-child,
p.Design-NoteDn + div.runfoot + div.runheadright + div.runheadleft + p {
  text-indent: 0;
}

pre.computer p.Body-TextTx {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
  white-space: normal;
}

section[data-type="appendix"].abouttheauthor p[class*="Body-TextTx"]:first-of-type {
  text-indent: 0;
}

/* ---------------- SCREENPLAY EXTRACT */

/* need clarification */
.ScreenplayHeadsph {
  text-align: center;
  text-indent: 0;
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

.ScreenplaySubheadspsh {
  text-align: center;
  text-indent: 0;
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

.ScreenplayDramatisPersonaedp {
  text-indent: 0;
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

.ScreenplayDramatisPersonaedp + div.runfoot + div.runheadright + div.runheadleft + .ScreenplayDramatisPersonaedp {
  text-indent: $textindent;
}

.ScreenplayTextNo-Indentsptx1 {
  text-indent: 0;
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

.ScreenplayTextsptx {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

p.ScreenplayExtractsp {
  text-indent: 0;
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}
/* end note */

/* ---------------- SIDEBARS */

p[class*="-Space-Break"] + div.runfoot + div.runheadright + div.runheadleft + aside,
p.SeparatorSep + div.runfoot + div.runheadright + div.runheadleft + aside {
  margin-top: 0pt;
}

aside {
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  margin-left: $gridheight;
  margin-right: $gridheight;
  page-break-inside: auto;
}

aside p:first-child {
  text-indent: 0;
}

aside > *:first-child {
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
}

aside::after {
  display: block;
  content: " ";
  font-size: $normal;
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
  line-height: $gridheight;
  margin-bottom: $gridheight;
  min-height: $gridheight;
}

aside[data-type="sidebar"] > p[class*="A-HeadAhead"] {
  page-break-after: avoid;
  font-size: $sizeextracthead;
  line-height: $gridheight;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

aside[data-type="sidebar"] > p[class*="A-HeadAhead"] + p {
  text-indent: 0;
}

aside[data-type="sidebar"] > p[class*="B-HeadBhead"] {
  page-break-after: avoid;
  font-size: $sizeextracthead;
  line-height: $gridheight;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

aside[data-type="sidebar"] > p[class*="B-HeadBhead"] + p {
  text-indent: 0;
}

aside[data-type="sidebar"] > p[class*="B-HeadBhead"] + p[class*="A-HeadAhead"] {
  margin-bottom: 0;
}

aside[data-type="sidebar"] p[class*="Body-TextTx"] {
  font-size: $sizeextract;
}

aside[data-type="sidebar"] > p[class*="TitleTtl"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Body-TextTx"],
aside[data-type="sidebar"] > p[class*="A-HeadAhead"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Body-TextTx"],
aside[data-type="sidebar"] > p[class*="B-HeadBhead"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Body-TextTx"] {
  text-indent: 0;
}

aside[data-type="sidebar"] *[class*="Bullet-Level-1-ListBl1"] {
  font-size: $sizeextract;
}

/* ---------------- DEDICATION and EPIGRAPH */

section[data-type="dedication"] p:first-child {
  margin-top: $gridheight;
}

section[data-type="dedication"] blockquote[data-type="epigraph"],
section[data-type="preface"].epigraph,
p[class*="DedicationDed"] + p[class*="Epigraph"] {
  page-break-before: right;
  margin-top: $gridheight * 2;
}

section[data-type="dedication"] blockquote[data-type="epigraph"],
section[data-type="preface"].epigraph blockquote[data-type="epigraph"] {
  margin-left: 0;
  margin-right: 0;
}

section[data-type="preface"].epigraph p[class^="Body-TextTx"] + blockquote[data-type="epigraph"],
section[data-type="preface"].epigraph p[class^="Body-TextTx"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"] {
  margin-top: 0;
}

section[data-type="dedication"] p[class^="Epigraph-Verse"],
section[data-type="preface"] p[class^="Epigraph-Verse"],
section[data-type="dedication"] p[class^="Epigraph-Non-Verse"],
section[data-type="preface"] p[class^="Epigraph-Non-Verse"],
section[data-type="preface"].epigraph p[class^="Body-TextTx"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-style: normal;
  font-size: $sizeepigraph;
  text-align: left;
  margin-left: $gridheight * 3.25;
  margin-right: $normal * 3;
  text-indent: -$textindent;
}

section[data-type="dedication"] p[class^="Epigraph-Non-Verse"],
section[data-type="preface"].epigraph p[class^="Epigraph-Non-Verse"],
section[data-type="preface"].epigraph p[class^="Body-TextTx"] { /*edit 7*/
  margin-left: 36pt;
  text-indent: 0; }

section[data-type="dedication"] p[class^="Epigraph-Source"],
section[data-type="preface"] p[class^="Epigraph-Source"],
p[class^="SourceSrc"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-weight: 600;
  font-size: $sizeepigraph;
  font-style: normal;
  text-align: right;
  margin-left: $sizenormal * 3;
  margin-right: $sizenormal * 3;
}

/* FRONTMATTER EPIGRAPH */

section[data-type="preface"].epigraph {
  page: epigraph;
  margin-left: 0;
  margin-right: 0; }

p[class^="Epigraph-Source"],
p[class^="SourceSrc"] {
  em, span.itali {
    break-inside: avoid;
  }
}

section[data-type="chapter"] > blockquote[data-type="epigraph"],
div[data-type="part"] > blockquote[data-type="epigraph"],
section[data-type="preface"] > blockquote[data-type="epigraph"],
section[data-type="foreword"] > blockquote[data-type="epigraph"],
section[data-type="introduction"] > blockquote[data-type="epigraph"] {
  margin-left: $sizenormal * 3;
  margin-right: $sizenormal * 3;
  margin-bottom: $cemarginbottom;
}

blockquote[data-type="epigraph"] + blockquote[data-type="epigraph"],
blockquote[data-type="epigraph"] + p[class*="-Space-Break"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"] {
  margin-top: ($cemarginbottom * -1);
}

h1[class*="TitleTtl"] + blockquote[data-type="epigraph"],
h1[class*="Main-HeadMHead"] + blockquote[data-type="epigraph"] {
  margin-top: $cemargintop;
}

section[data-type="chapter"] > blockquote[data-type="epigraph"] p,
div[data-type="part"] > blockquote[data-type="epigraph"] p,
section[data-type="preface"] > blockquote[data-type="epigraph"] p,
section[data-type="foreword"] > blockquote[data-type="epigraph"] p,
section[data-type="introduction"] > blockquote[data-type="epigraph"] p {
  font-family: "ArnoPro-SmText", "Noto";
  font-size: $sizeepigraph;
  line-height: $gridheight;
  /* text-align: left;  <-- messing with FM epigraph source alignment*/
}

section[data-type="chapter"] p[class^="Epigraph-Verse"],
div[data-type="part"] p[class^="Epigraph-Verse"],
section[data-type="chapter"] p[class^="Epigraph-Verse"],
section[data-type="foreword"] p[class^="Epigraph-Verse"],
section[data-type="introduction"] p[class^="Epigraph-Verse"],
section[data-type="titlepage"] p[class^="Epigraph-Verse"],
section[data-type="halftitlepage"] p[class^="Epigraph-Verse"],
section[data-type="copyright-page"] p[class^="Epigraph-Verse"] {
  margin-left: $gridheight;
  text-indent: $gridheight * -1;
  page-break-inside: auto;
}

section[data-type="chapter"] blockquote p[class^="Epigraph-Verse"]:first-child,
div[data-type="part"] blockquote p[class^="Epigraph-Verse"]:first-child,
section[data-type="chapter"] blockquote p[class^="Epigraph-Verse"]:first-child,
section[data-type="foreword"] blockquote p[class^="Epigraph-Verse"]:first-child,
section[data-type="introduction"] blockquote p[class^="Epigraph-Verse"]:first-child,
section[data-type="titlepage"] blockquote p[class^="Epigraph-Verse"]:first-child,
section[data-type="halftitlepage"] blockquote p[class^="Epigraph-Verse"]:first-child,
section[data-type="copyright-page"] blockquote p[class^="Epigraph-Verse"]:first-child {
  text-indent: $gridheight * -1;
}

section[data-type="chapter"] p[class^="Epigraph-Non-Verse"],
div[data-type="part"] p[class^="Epigraph-Non-Verse"],
section[data-type="chapter"] p[class^="Epigraph-Non-Verse"],
section[data-type="foreword"] p[class^="Epigraph-Non-Verse"],
section[data-type="introduction"] p[class^="Epigraph-Non-Verse"],
section[data-type="titlepage"] p[class^="Epigraph-Non-Verse"],
section[data-type="halftitlepage"] p[class^="Epigraph-Non-Verse"],
section[data-type="copyright-page"] p[class^="Epigraph-Non-Verse"] {
  margin-left: 0;
  page-break-inside: auto;
}

section[data-type="chapter"] p[class^="Epigraph-Source"],
div[data-type="part"] p[class^="Epigraph-Source"],
section[data-type="chapter"] p[class^="Epigraph-Source"],
section[data-type="foreword"] p[class^="Epigraph-Source"],
section[data-type="introduction"] p[class^="Epigraph-Source"],
section[data-type="titlepage"] p[class^="Epigraph-Source"],
section[data-type="halftitlepage"] p[class^="Epigraph-Source"],
section[data-type="copyright-page"] p[class^="Epigraph-Source"] {
  text-align: right;
  font-weight: 600;
  /*page-break-before: avoid;*/
  widows: 2;
  orphans: 2;
  margin-top: $gridheight; 

  em {
    break-inside: avoid;
  }

  span.itali {
    break-inside: avoid;
  }
}

p[class^="Epigraph-Source"] + div.runfoot + div.runheadright + div.runheadleft + p[class^="Epigraph-Verse"],
p[class^="Epigraph-Source"] + div.runfoot + div.runheadright + div.runheadleft + p[class^="Epigraph-Non-Verse"],
p[class^="Epigraph-Source"] + p[class^="Epigraph-Verse"],
p[class^="Epigraph-Source"] + p[class^="Epigraph-Non-Verse"] {
  margin-top: $gridheight * 2;
}

/* RSUITE UPDATES: paused here */
/* ---------------- EXTRACTS */

/* need clarification */
p.Extract-Inscriptionins {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizeextract;
  font-style: italic;
  text-align: center;
}

.Extract-SongLyricextsl {
  font-style: italic;
  text-indent: -$textindent;
  margin-left: $gridheight;
  text-align: left;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

.Extract-SongLyricextsl:first-child {
  text-indent: -12pt;
}
/* end note */

div[data-type="note"] > p[class*="A-HeadAhead"] {
  text-indent: 0;
  font-size: $sizeh1;
  font-style: italic;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

div[data-type="note"] > p[class*="B-HeadBhead"] {
  text-indent: 0;
  font-size: $sizeh2;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  text-transform: lowercase;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;
}

blockquote.looseextract > *[class*="TitleTtl"],
blockquote.looseextract > *[class*="Main-HeadMHead"] {
  page-break-after: avoid;
}

blockquote.looseextract > *[class*="TitleTtl"],
blockquote.looseextract > *[class*="Main-HeadMHead"], 
*[class*="HeadlineHdline"] {
  font-size: $sizeextracthead;
  line-height: $gridheight;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

blockquote.looseextract > *[class*="TitleTtl"] + p,
blockquote.looseextract > *[class*="Main-HeadMHead"] + p {
  text-indent: 0;
}

pre.verse {
  font-family: "ArnoPro", serif, "Noto";
  margin: 0 52pt 0 36pt;
  white-space: pre-wrap;
  padding: 0;
  page-break-inside: auto;
  line-height: $gridheight;
}

pre.verse p[class*="TitleTtl"] {
  margin-left: -$textindent;
  text-indent: 0;
}

pre.verse p[class*="Verse1Vrs1"],
pre.verse p[class*="Verse1Vrs1"]:first-of-type {
  font-size: $sizepoetry;
  font-style: italic;
  text-indent: -$textindent;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: $gridheight;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

/*pre.verse div.runfoot + div.runheadright + div.runheadleft + p[class*="Verse1Vrs1"],
pre.verse div.runfoot + div.runheadright + div.runheadleft + p.SeparatorSep {
  margin-top: $gridheight * -1;
}*/

pre.verse p[class*="TitleTtl"] {

}

/* need clarification */
p[class*="ExtractSource"] {
  text-align: right;
  font-weight: 600;
  widows: 2;
  orphans: 2;
}

p[class*="Extract-Noteextn"] {
	text-indent: none;
	text-align: center;
	hyphens: none;
}
/* end note */

span.spanaltfont1span1 {
  	font-family: FeltpenCom-Medium;
  	font-size: $sizehwritingprint;
  	letter-spacing: .02em; }

span.spanaltfont2span2 {
  	font-family: BerrangerHandITCStd;
  	font-size: $sizehwritingnormal; }

blockquote[data-type="letter"] p[class*="Body-TextTx"] {
  font-style: italic;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

blockquote[data-type="letter"] p[class*="SalutationSal"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Body-TextTx"] {
  text-indent: 0;
}

blockquote[data-type="letter"] p[class*="HeadnoteHdnt"] {
  font-weight: bold;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
}

blockquote[data-type="letter"] p[class*="SalutationSal"] {
  font-style: italic;
  text-indent: 0;
  margin-top: $gridheight;
  margin-bottom: $gridheight;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

blockquote[data-type="letter"] p[class*="AddressAdd"],
blockquote[data-type="letter"] p[class*="PostscriptPst"] {
  font-style: italic;
  text-indent: 0;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

blockquote[data-type="letter"] p[class*="ClosingClos"] {
  font-style: italic;
  text-indent: 0;
  margin-top: $gridheight;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

blockquote[data-type="letter"] p[class*="SignatureSig"] {
  font-style: italic;
  text-indent: 0;
  margin-bottom: $gridheight;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

p[class*="ExtractSource"] em,
p[class*="ExtractSource"] span.itali {
  break-inside: avoid;
}

p[class*="Dateline"] {
  text-indent: 0;
  font-size: $sizedateline;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  margin-top: $gridheight * 3;
  margin-bottom: $gridheight;
  text-align: left;

  em {
    font-style: normal;
  }

  span.itali {
    font-style: normal;
  }
}

p[class*="Dateline"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Dateline"] {
  margin-top: -$gridheight;
}

blockquote[data-type="letter"] p[class*="DatelineDate"] {
  font-weight: normal;
  font-size: $sizedateline;
  text-indent: 0;
  text-transform: none;
  text-align: left;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  hyphens: none;
}

blockquote[data-type="recipe"] {
  margin-left: 0;
  margin-right: 0;
}

/* --------------- LISTS */

p[class^="List-Head"] {
  padding: 0;
  margin: $gridheight 0 0 0;
}

p[class*="-Space-Break"] + div.runfoot + div.runheadright + div.runheadleft + p[class^="List-Head"],
p.SeparatorSep + div.runfoot + div.runheadright + div.runheadleft + p[class^="List-Head"] {
  margin-top: 0;
}

blockquote[data-type="recipe"] p[class^="TitleTtl"],
blockquote[data-type="recipe"] p[class^="List-Head"] {
  padding: 0;
  margin: $gridheight 0 0 0;
  text-indent: 0;
}

ul {
  padding-left: 0;
  margin: $gridheight 0 $gridheight 1em;
}

ol {
  padding-left: 0;
  margin: $gridheight 0 $gridheight 1.2em;
}

ol li {
  margin-left: 0;
  padding-left: 0.167em;
}

ul li {
  margin-left: 0;
  padding-left: 0.3em;
}

li p {
  text-indent: 0;
}

h1 + ul, h1 + ol {
  padding-top: 3pt;
}

li[class^="Alpha-Level-"] { 
  list-style-type: lower-alpha; 
}

blockquote[data-type="recipe"] ol,
blockquote[data-type="recipe"] ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

blockquote[data-type="recipe"] li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

blockquote[data-type="recipe"] ol li p {
  text-indent: $textindent;
}

/* need clarification */
.ChapterContentscc  {
  font-size: $sizeextract;
}
/* end note */

/* --------------- FIGURES*/

figure p[class*="Credit-LineCrd"] {
  font-family: "MinionPro", serif, "Noto";
  font-size: $sizefigsrc;
  text-align: center;
  margin-top: 0;
  margin-bottom: 27pt;
  page-break-before: avoid;
  text-indent: 0;
}

figure p[class*="Credit-LineCrd"] a {
  text-decoration: none;
  color: cmyk(0%,0%,0%,100%);
}

section[data-type="copyright-page"] p[class*="Credit-LineCrd"] {
  font-size: $sizefigsrc;
  margin-top: 0;
  margin-bottom: 0;
  float: bottom;
}

section[data-type="copyright-page"] p[class*="Credit-LineCrd"] a {
  text-decoration: none;
  color: cmyk(0%,0%,0%,100%);
}

section[data-type="copyright-page"] p[class*="Credit-LineCrd"] a:before {
  content: "Page " target-counter(attr(href), page) " ";
}

figure {
  page-break-inside: avoid;
  margin-top: 27pt;
  margin-bottom: $gridheight * 2;
  text-align: center;
  float: top unless-fit;
}

figure.customimage {
  padding: ($gridheight * 0.5) 0;
  margin-top: $gridheight;
  margin-bottom: ($gridheight * 0.625);
  float: none; }

figure.customimage img {
  padding: 0;
  margin: 0; }

figure.fullpage {
  float: top unless-fit;
  box-sizing: border-box;
  width: $pagewidth + ($bleedwidth * 2);
  margin-top: 0.55in;
  margin-bottom: 0;
  text-align: inside;
  text-align-last: inside;
  margin-inside: -1in;
  margin-outside: -0.75in;
  overflow: visible;
  height: 5.4in; }

h1 + figure {
  min-height: 21pt;
  margin-top: -40pt;
  margin-bottom: 51pt;
  vertical-align: center;
}

figcaption {
  font-family: "AromaNo2LTPro", sans-serif, "Noto";
  font-size: $sizecaption;
  line-height: $gridheight;
  text-align: left;
}

/* suppressing, for now */
figure.fullpage figcaption {
  display: none;
}

img {
  max-width: 100%;
  prince-image-resolution: auto, 300dpi;
  text-align: center;
  prince-image-magic: ignore-icc-profile;
}

section[data-type="appendix"].abouttheauthor h1 + figure, .abouttheauthor h1 + figure {
  margin-top: -($gridheight * 2);
  margin-bottom: 27pt;
  max-height: 2in;
}

section[data-type="appendix"].abouttheauthor h1 + figure img, .abouttheauthor figure img {
  max-height: 2in;
}

img[src*="fullpage"] {
  display: block;
  width: $pagewidth + ($bleedwidth * 2);
  height: $pageheight + ($bleedheight * 2);
  margin-top: -1.65in; }

/* need clarification */
*[class*="TeaserOpeningTexttotx"], *[class*="TeaserOpeningTextNo-Indenttotx1"] {
  text-align: center;
  text-indent: 0;
}
/* end note */

/* Space Breaks */

p[class*="SpaceAfter"] + p[class*="Extract"],
p[class*="SpaceAround"] + p[class*="Extract"] {
  text-indent: 0;
}

p.Blank-Space-BreakBsbrk {
  text-indent: 0;
}

p.Ornamental-Space-BreakOsbrk,
p.Blank-Space-BreakBsbrk {
  text-indent: 0;
  content: " ";
  font-size: $gridheight;
  text-align: center;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  padding: 0pt;
  width: 100%;
  height: $spacebreakheight;
}

p.Blank-Space-BreakBsbrk {
  background-image: url('#{$ornpath}/titlepage-rule.jpg');
  background-size: 60pt auto;
}

p.Ornamental-Space-BreakOsbrk {
  background-image: url('#{$ornpath}/orn.jpg');
  background-size: 20.5pt auto;
  height: $spacebreakheight;
}

div[data-type="part"] > p.Ornamental-Space-BreakOsbrk {
  background-image: url('#{$ornpath}/titlepage-rule.jpg');
  background-size: 60pt auto;
}

/* need clarification */
p.SpaceBreakwithALTOrnamentorn2 {
  background-image: url('#{$ornpath}/orn-bull.jpg');
  background-size: 21.6pt auto;
  height: $spacebreakheight;
}

p.SpaceBreak-PrintOnlypo,
p.SeparatorSep {
  text-indent: 0;
  content: " ";
  font-size: $gridheight;
  height: $gridheight;
}

p.SeparatorSep {
  margin-top: 0;
  margin-bottom: 0;
}
/* end note */

p[class*="-Space-Break"] + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p[class*="-Space-Break"] + div.runfoot + div.runheadright + div.runheadleft + pre.verse {
  margin-top: 0pt;
}

p.Blank-Space-BreakBsbrk + div.runfoot + div.runheadright + div.runheadleft + p,
p.Ornamental-Space-BreakOsbrk + div.runfoot + div.runheadright + div.runheadleft + p {
  text-indent: 0;
}

p.customimage {
  background-image: none;
  height: auto;
}

/* page break */
.PageBreakpb  {
  display: none;
}

p.PageBreakpb + div.runfoot + div.runheadright + div.runheadleft + * {
  page-break-before: always;
}

/* glossary definition */
/* need clarification */
.Definitiondef {
  font-size: $sizeextract;
  line-height: ($gridheight * ($sizeextract / $sizenormal));
  text-indent: ($textindent * -2);
  margin: 0;
  margin-left: ($textindent * 2);
  margin-bottom: ($gridheight / 2);
}

.Definitiondef:first-of-type, *[class*="Definitiondef"]:first-of-type {
  text-indent: ($textindent * -2);
}
/* end note */

/* footnotes */

span[data-type="footnote"],
.endnotetext {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizefootnote;
  line-height: $normal;
  text-indent: 0;
  margin-left: 0;
}

span[data-type="footnote"] {
  float: footnote;
  footnote-style-position: inside;
}

span[data-type="footnote"] > span {
  display: block;
  text-indent: $normal;
}

span[data-type="footnote"] > span:first-of-type {
  display: inline;
  text-indent: 0;
}

::footnote-call { content: counter(footnote, symbols('*', '†', '‡', '§')); }

::footnote-marker {
    content: counter(footnote, symbols('*', '†', '‡', '§')) "\2003";
    font-family: "ArnoPro", "Noto";
    font-weight: 600;
}

*[class*="endnotetext"] {
  line-height: $gridheight;
  counter-increment: endnotes;
}

*[class*="endnotetext"] p:first-of-type:before {
  content: counter(endnotes)"\2003";
  font-family: "ArnoPro", "Noto";
    font-weight: 600;
    display: inline-block;
}

/* chapter starts */

section > header + p,
section > header + blockquote,
section > header + pre.verse,
section > header + aside,
section > header + div,
div > header + p,
div > header + blockquote,
div > header + pre.verse,
div > header + aside,
div > header + div {
  margin-top: $gridheight * 5;
}

section > header + pre.verse,
div > header + pre.verse {
  margin-top: $gridheight * 4;
}

section[data-type="dedication"] > header + p,
section[data-type="dedication"] > header + blockquote,
section[data-type="dedication"] > header + pre.verse,
section[data-type="dedication"] > header + aside,
section[data-type="dedication"] > header + div {
  margin-top: 0;
}

section[data-type="preface"].epigraph > header + p,
section[data-type="preface"].epigraph > header + blockquote,
section[data-type="preface"].epigraph > header + pre.verse,
section[data-type="preface"].epigraph > header + aside,
section[data-type="preface"].epigraph > header + div {
  margin-top: $gridheight;
}

/* character styles */

span[class^="smallcaps"] {
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  text-transform: lowercase;
}

.smallcaps-italsci {
  font-style: italic;
}

.smallcaps-boldscb {
  font-weight: bold;
}

.smallcaps-bold-italscbi {
  font-weight: bold;
  font-style: italic;
}

.boldb {
  font-weight: bold;
}

.itali {
  font-style: italic;
}

.bold-italbi {
  font-style: italic;
  font-weight: bold;
}

.underlineu {
  text-decoration: underline;
}

.supersup,
.subsub {
  font-size: $sizesuperscript;
    vertical-align: top;
    position: relative;
    top: -0.6em;
}

.subsub { 
  top: 0.1em; 
  font-size: $sizesuperscript;
  vertical-align: top;
  position: relative;
}

.supersup {
  font-size: $sizesuperscript;
  vertical-align: top;
    position: relative;
    top: -0.6em;
}

*[class*="symbolssym"] {}

*[class*="symbolssym"] {}

*[class*="cs-computerccom"] {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

*[class*="cs-design-notecdn"],
p.Design-NoteDn {
  display: none;
}

*[class*="bookmaker-keep-togetherbkt"] {
  white-space: pre;
  page-break-inside: avoid;
}

*[class*="tighten"], .bookmakertightenbkt {
  letter-spacing: -0.2pt;
}

*[class*="loosen"], .bookmakerloosenbkl {
  letter-spacing: 0.2pt;
}

header {
  display: none;
  margin: 0;
  padding: 0;
}

.nobreak {
  page-break-before: avoid;
}

.left {
  text-align: left;
  text-indent: 0;
}

.center {
  text-align: center;
  text-indent: 0;
}

.right {
  text-align: right;
  text-indent: 0;
}
