@font-face {
  font-family: "SourceCodePro";
  src: url('#{$fontpath}/SourceCodePro-Medium.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url('#{$fontpath}/SourceCodePro-Bold.otf');
  font-style: normal;
  font-weight: bold;
}