@page part {
  @top-center {
    vertical-align: bottom;
  }
}

@page chapter {
  @top-center {
    vertical-align: bottom;
  }
}

@page front {
  @top-center {
    vertical-align: bottom;
  }
}

@page chapter {
  @top-center {
    content: normal;
  }
  @top-left {
    @include runhead;
    text-align: left;
  }
  @top-right {
    @include runhead;
    text-align: right;
  }
  @bottom-center {
    content: normal;
  }
}

@page chapter:left {
  @top-center {
    content: normal;
  }
  @top-left {
    content: flow(runheadleft);
  }

}

@page chapter:right {
  @top-center {
    content: normal;
  }
  @top-right {
    content: flow(runheadright);
  }
}

@page chapter:first {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @top-left {
    content: normal;
  }
}

@page chapter:blank {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @top-left {
    content: normal;
  }
}

@page part:left {
  @top-center {
    content: normal;
  }
  @top-left {
    content: flow(runheadleft);
  }

}

@page part:right {
  @top-center {
    content: normal;
  }
  @top-right {
    content: flow(runheadright);
  }
}

@page part:first {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @top-left {
    content: normal;
  }
}

@page part:blank {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @top-left {
    content: normal;
  }
}

@page front:left {
  @top-center {
    content: normal;
  }
  @top-left {
    content: normal;
  }

}

@page front:right {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}

@page front:first {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @top-left {
    content: normal;
  }
}

@page front:blank {
  @top-center {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @top-left {
    content: normal;
  }
}

/* adjusting fonts */

@page part {
  @bottom-center {
    font-family: "MinionPro", serif, "Noto";
  }
}

@page chapter {
  @bottom-center {
    font-family: "MinionPro", serif, "Noto";
  }
}

@page front {
  @bottom-center {
    font-family: "MinionPro", serif, "Noto";
  }
}

@page copyright {
  @bottom-center {
    font-family: "MinionPro", serif, "Noto";
  }
}

body {
  font-family: "MinionPro", serif, "Noto";
}

div.runheadleft {
  font-family: "MinionPro", serif, "Noto";
}

div.runheadright {
  font-family: "MinionPro", serif, "Noto";
}

div.runfoot {
  font-family: "MinionPro", serif, "Noto";
}

div.runfoot span {
  font-family: "MinionPro", serif, "Noto";
}

h1[class*="TitleTtl"] {
  font-family: "MinionPro", serif, "Noto";
}

section[data-type="titlepage"] > h1 {
  font-family: "MinionPro", serif, "Noto";
}

section[data-type="titlepage"] *[class*="CitiesCit"], 
section[data-type="titlepage"] *[class*="PublisherPub"], 
section[data-type="titlepage"] *[class*="ImprintImp"] {
  font-family: "MinionPro", serif, "Noto";
}

section[data-type="copyright-page"] p {
  font-family: "MinionPro", serif, "Noto";
}

*[class*="FrontSalesQuoteSourcefsqs"] {
  font-family: "MinionPro", serif, "Noto";
}

section[data-type="dedication"] p[class*="Epigraph-SourceEpisrc"],
section[data-type="preface"] p[class*="Epigraph-SourceEpisrc"],
p[class*="EpigraphSource"] {
  font-family: "MinionPro", serif, "Noto";
}

section[data-type="dedication"] p[class^="Epigraph-Verse"],
section[data-type="preface"] p[class^="Epigraph-Verse"],
section[data-type="dedication"] p[class^="Epigraph-Non-Verse"],
section[data-type="preface"] p[class^="Epigraph-Non-Verse"],
section[data-type="preface"].epigraph p[class^="Body-TextTx"] {
  font-family: "MinionPro", serif, "Noto";
}

section[data-type="chapter"] > blockquote[data-type="epigraph"] p,
div[data-type="part"] > blockquote[data-type="epigraph"] p,
section[data-type="preface"] > blockquote[data-type="epigraph"] p,
section[data-type="foreword"] > blockquote[data-type="epigraph"] p,
section[data-type="introduction"] > blockquote[data-type="epigraph"] p {
  font-family: "MinionPro", serif, "Noto";
}

p[class*="Extract"] {
  font-family: "MinionPro", serif, "Noto";
}

p.Extract-Inscriptionins {
  font-family: "MinionPro", serif, "Noto";
}

div.verse {
  font-family: "MinionPro", serif, "Noto";
}

div.verse p[class*="TitleTtl"],
div.verse pre[class*="TitleTtl"] {
  font-family: "MinionPro", serif, "Noto";
}

div.verse p[class*="Verse1Vrs1"],
div.verse p[class*="Verse1Vrs1"]:first-of-type,
div.verse pre[class*="Verse1Vrs1"],
div.verse pre[class*="Verse1Vrs1"]:first-of-type {
  font-family: "MinionPro", serif, "Noto";
}

span[data-type="footnote"],
.endnotetext {
  font-family: "MinionPro", serif, "Noto";
}

::footnote-marker {
  font-family: "MinionPro", serif, "Noto";
}

*[class*="endnotetext"] p:first-of-type:before {
  font-family: "MinionPro", serif, "Noto";
}

/* adjusting everything else */

div.runheadleft {
  content: counter(page) "\2002\2022\2002" string(title);
  text-align: left;
}

div.runheadright {
  content: string(chaptitle) "\2002\2022\2002" counter(page);
  text-align: right;
}

section.adcard[data-type="preface"] > h1 {
  margin-bottom: $gridheight;
  font-weight: normal;
}

section.adcard ul li {
  margin-bottom: $gridheight * 0.75;
}

section[data-type="titlepage"] > h1 {
  text-transform: none;
  margin-top: ($gridheight * 4);
  margin-bottom: 0;
}

section[data-type="titlepage"] > h1:first-child {
  margin-top: ($gridheight * 4);
}

section[data-type="titlepage"] *[class*="SubtitleSttl"] + h1,
*[class*="TitlepageSeriesTitleser"] + h1 {
  margin-top: $gridheight * 1.625;
}

section[data-type="titlepage"] *[class*="SubtitleSttl"],
*[class*="TitlepageSeriesTitleser"] {
  font-style: normal;
}

section[data-type="titlepage"] *[class*="Author"] {
  padding-top: 0;
  background-image: none;
  margin-top: ($gridheight * 7);
  string-set: author content();
}

section[data-type="titlepage"] *[class*="Logo-PlacementLogo)"] {
  background-image: none;
}

section[data-type="copyright-page"] {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/holt/HoltLogo30K.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 20pt auto;
  padding-top: 34pt;
  float: bottom;
}

nav[data-type="toc"] {
  counter-reset: part-list-item 0 chapter-list-item 0;
}

nav[data-type="toc"] h1 {
  font-weight: normal;
  margin-top: ($gridheight * 4);
  margin-bottom: 142pt;
}

nav[data-type="toc"] ol {
  margin-left: 0;
}

nav[data-type="toc"] li {
  margin-bottom: 6pt;
  list-style-type: none;
}

nav[data-type="toc"] li.PartNumberpn,
nav[data-type="toc"] li.TOC-SubheadTocsub {
  display: none;
}

nav[data-type="toc"] li.TOC-PartTocpt {
  counter-increment: part-list-item;
  list-style-position: inside;
  margin-bottom: 6pt;
  margin-top: 0;
  font-style: normal;
}

nav[data-type="toc"] li.TOC-PartTocpt::marker {
  content: "Part " counters(part-list-item, ".", decimal) ". ";
}

nav[data-type="toc"] li.PartNumberpn + li.TOC-PartTocpt {
  margin-top: 0;
}

nav[data-type="toc"] li.TOC-ChapterTocch,
nav[data-type="toc"] li.ChapTitleALTact {
  counter-increment: chapter-list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

nav[data-type="toc"] li.TOC-ChapterTocch::marker,
nav[data-type="toc"] li.ChapTitleALTact::marker {
  content: counters(chapter-list-item, ".", decimal) ". ";
}

nav[data-type="toc"] li.TOC-FrontmatterTocfm {
  list-style-type: none;
  display: block;
}

nav[data-type="toc"] li.TOC-BackmatterTocbm {
  list-style-type: none;
  margin-left: 0;
}

nav[data-type="toc"] li.TOC-ChapterTocch + li.TOC-BackmatterTocbm,
nav[data-type="toc"] li.ChapTitleALTact + li.TOC-BackmatterTocbm {
  margin-top: 0;
}

nav[data-type="toc"] li.PartNumberpn ~ li,
nav[data-type="toc"] li.TOC-SubheadTocsub ~ li,
nav[data-type="toc"] li.TOC-PartTocpt ~ li {
  margin-bottom: 6pt;
}

nav[data-type="toc"] li.PartNumberpn ~ li.PartNumberpn,
nav[data-type="toc"] li.TOC-SubheadTocsub ~ li.TOC-SubheadTocsub,
nav[data-type="toc"] li.TOC-PartTocpt ~ li.TOC-PartTocpt,
nav[data-type="toc"] li.PartNumberpn ~ li.TOC-PartTocpt,
nav[data-type="toc"] li.TOC-SubheadTocsub ~ li.TOC-PartTocpt,
nav[data-type="toc"] li.TOC-PartTocpt ~ li.PartNumberpn,
nav[data-type="toc"] li.TOC-PartTocpt ~ li.TOC-SubheadTocsub {
  margin-bottom: 6pt;
}

nav[data-type="toc"] li a::before {
  content: normal;
}

nav[data-type="toc"] li a::after {
  content: leader(' ') target-counter(attr(href), page);
  display: inline;
}

section[data-type="dedication"] {
  margin-top: ($gridheight * 4);
}

section[data-type="dedication"] p {
  font-size: 12pt;
  font-style: italic;
}

section[data-type="chapter"] > p[class*="Dateline"] ~ h1[class*="TitleTtl"] {
  text-align: center;
}