/* TO COMPILE: $ sass novella.scss pdf.css */

/* GLOBAL VARIABLES */
@import "../_modules/vars_global.scss";

/* LOCAL VARIABLES */
$biggest: 18pt; //sizehalftitle sizepartnum DONE
$bigger: 13pt; //sizefst sizesubtitle sizeau sizetochead sizefmhead sizechaptitle DONE
$big: 14pt; //sizeacmh sizechapsubtitle sizeh1
$normal: 11.2pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead DONE
$small: 10pt; //sizetitlepagetext sizecopyright sizeepigraph sizedateline
$smaller: 8.5pt; //sizecode sizecaption

$gridheight: 14.4pt; 

$pagewidth: 6.125in;
$pageheight: 9.25in;
$bleedwidth: 0.125in;
$bleedheight: 0.125in;
$margintop: 42pt; 
$marginbottom: 57pt; 
$padding: 18pt 0 0 0; 
$outsidemargin: 63pt; 
$insidemargin: 63pt; 

$textindent: 12pt;

$sizetitle: 26pt; 
$sizesubtitle: 14pt; 
$sizeau: 22pt; 
$sizetitlepagetext: 10pt; 
$sizefst: $bigger;
$sizefsqs: 10.5pt; /* normal * o.875 */
$sizeacmh: 11.2pt; 
$sizehalftitle: $biggest;
$sizetochead: 15pt; 
$sizetocentry: 11pt; 
$sizefmhead: $bigger;
$sizepartnum: 11pt; 
$sizeparttitle: 16pt; 
$sizechapnum: 20pt;
$sizechaptitle: 15pt;
$sizechapsubtitle: $big;
$sizeh1: $big;
$sizeh2: $normal;
$sizeh3: $normal;
$sizenormal: $normal;
$sizenormalalt: 9.75pt;
$sizecode: $smaller;
$sizepoetry: $small; //sizeextract
$sizeextract: $small;
$sizeextracthead: $normal;
$sizedateline: $small;
$sizeepigraph: $small;
$sizerunfoot: 9pt;
$sizerunhead: 9pt;
$sizecopyright: 9pt; 
$sizefootnote: 9pt;
$sizecaption: $smaller;
$sizefigsrc: 7pt;
$sizesuperscript: 6pt;
$sizehwritingprint: 12.75pt;
$sizehwritingnormal: 11pt;

$hanging: -5pt;

$chapterstart: right;

$logoheight: 0;
$logowidth: 0;

$htmargintop: ($gridheight * 4);

$ctmargintop: ($gridheight * 4); 
$ctmarginbottom: ($gridheight * 0); 
$comargintop: ($gridheight * 6); 
$cemargintop: ($gridheight * 2);
$cemarginbottom: ($gridheight * 3);
$prmargintop: ($gridheight * 4); 

$spacebreakheight: $gridheight;

@import "_shared_vars.scss";

@import "../_modules/font_arnopro.scss";
@import "../_modules/font_aroma.scss";
@import "../_modules/font_minionpro.scss";
@import "../_modules/font_myriadpro.scss";
@import "../_modules/font_sourcecodepro.scss";
@import "../_modules/font_timesnewroman.scss";
@import "../_modules/font_noto.scss";
@import "../_modules/font_berrangerhanditc.scss";
@import "../_modules/font_feltpencom.scss";

@import "../_modules/base.scss";

/*@import "../_modules/gridlines.scss";
*/
@import "_shared_overrides.scss";

/* Holt-specific overrides */

figure.fullpage {
  margin-top: 0.7in;
  margin-inside: -1in;
  margin-outside: -1in;
  height: 7.25in; }

img[src*="fullpage"] {
  margin-top: -1.65in; }

section[data-type="titlepage"] > h1 {
  font-weight: normal;
}

section[data-type="titlepage"] h1 + *[class*="SubtitleSttl"],
h1 + *[class*="TitlepageSeriesTitleser"] {
  background-image: url('#{$ornpath}/orn.jpg');
  background-size: 30pt auto;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 21.75pt;
  margin-top: 19.875pt;
  margin-bottom: $gridheight;
}

section[data-type="titlepage"] p[class*="Author1Au1"] {
  background-image: none;
  margin-top: $gridheight * 5;
}

/* TOC */

nav[data-type="toc"] {
  counter-reset: part-list-item 0 chapter-list-item 0;
}

nav[data-type="toc"] h1 {
  font-weight: normal;
  margin-top: ($gridheight * 4);
  margin-bottom: 142pt;
}

section[data-type="chapter"] > blockquote[data-type="epigraph"],
div[data-type="part"] > blockquote[data-type="epigraph"],
section[data-type="preface"] > blockquote[data-type="epigraph"],
section[data-type="foreword"] > blockquote[data-type="epigraph"],
section[data-type="introduction"] > blockquote[data-type="epigraph"], 
blockquote[data-type="epigraph"] {
  margin-left: 0.425in;
  margin-right: 0.425in;
}

section[data-type="preface"].epigraph p {
  font-style: italic;
}

section[data-type="dedication"] blockquote[data-type="epigraph"],
section[data-type="preface"].epigraph,
.Dedicationded + p[class*="Epigraph"] {
  margin-top: $gridheight * 4;
}

section[data-type="chapter"] p[class^="Epigraph-Non-Verse"],
div[data-type="part"] p[class^="Epigraph-Non-Verse"],
section[data-type="chapter"] p[class^="Epigraph-Non-Verse"],
section[data-type="foreword"] p[class^="Epigraph-Non-Verse"],
section[data-type="introduction"] p[class^="Epigraph-Non-Verse"],
section[data-type="titlepage"] p[class^="Epigraph-Non-Verse"],
section[data-type="halftitlepage"] p[class^="Epigraph-Non-Verse"],
section[data-type="copyright-page"] p[class^="Epigraph-Non-Verse"] {
  text-align: justify;
}

section[data-type="chapter"] p[class^="Epigraph-Source"],
div[data-type="part"] p[class^="Epigraph-Source"],
section[data-type="chapter"] p[class^="Epigraph-Source"],
section[data-type="foreword"] p[class^="Epigraph-Source"],
section[data-type="introduction"] p[class^="Epigraph-Source"],
section[data-type="titlepage"] p[class^="Epigraph-Source"],
section[data-type="halftitlepage"] p[class^="Epigraph-Source"],
section[data-type="copyright-page"] p[class^="Epigraph-Source"] {
  font-weight: normal;
}

section[data-type="dedication"] p[class*="Epigraph-SourceEpisrc"],
section[data-type="preface"] p[class*="Epigraph-SourceEpisrc"],
p[class*="EpigraphSource"] {
  font-style: normal;
  font-weight: normal;
}

div[data-type="part"] h1 {
  text-transform: none;
}

div[data-type="part"] h1[class*="NumberNum"] {
  text-transform: none;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  margin-top: ($gridheight * 3.5);
  background-image: url('#{$ornpath}/orn.jpg');
  background-size: 20.25pt auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 16.5pt;
  margin-bottom: $gridheight;
}

section[data-type="chapter"] h1[class*="TitleTtl"][data-autolabel="yes"]:before,
h1[class*="ChapTitleALTact"][data-autolabel="yes"]:before {
  background-image: url('#{$ornpath}/orn.jpg');
  background-size: 21.5pt auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: ($gridheight * 1.75);
  margin-bottom: ($gridheight * 1.25);
}

section.abouttheauthor {
  margin-left: 24pt;
  margin-right: 24pt;
}

section.abouttheauthor h1 {
  font-size: 13pt;
  line-height: 18pt;
  margin-bottom: 30pt;
}

section.abouttheauthor p {
  font-size: 10.5pt;
  line-height: 18pt;
}

p.Blank-Space-BreakBsbrk,
p.Ornamental-Space-BreakOsbrk,
p.SpaceBreak-1-Linels1,
p.SpaceBreak-Internalint,
p.PartOrnamentporn,
p.ChapOrnamentcorn,
p.ChapOrnamentALTcorn2,
p.SpaceBreakwithOrnamentorn,
p.SpaceBreakwithALTOrnamentorn2 {
  content: "* * *";
  background-image: none;
}