/* TO COMPILE: $ sass novella.scss pdf.css */

/* GLOBAL VARIABLES */
@import "../_modules/vars_global.scss";

/* LOCAL VARIABLES */
$biggest: 18pt; //sizehalftitle sizepartnum DONE
$bigger: 13pt; //sizefst sizesubtitle sizeau sizetochead sizefmhead sizechaptitle DONE
$big: 12pt; //sizeacmh sizechapsubtitle sizeh1
$normal: 11pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead DONE
$small: 10pt; //sizetitlepagetext sizecopyright sizeepigraph sizedateline
$smaller: 8.5pt; //sizecode sizecaption

$gridheight: 14.4pt; 

$pagewidth: 5.5in;
$pageheight: 8.25in;
$bleedwidth: 0.125in;
$bleedheight: 0.125in;
$margintop: 33pt; 
$marginbottom: 54pt; 
$padding: 21pt 0 0 0; 
$outsidemargin: 58pt; 
$insidemargin: 58pt; 

$textindent: 12pt;

$sizetitle: 26pt; 
$sizesubtitle: 14pt; 
$sizeau: 22pt; 
$sizetitlepagetext: 10pt; 
$sizefst: $bigger;
$sizefsqs: 10.5pt; /* normal * o.875 */
$sizeacmh: 11pt; 
$sizehalftitle: $biggest;
$sizetochead: 15pt; 
$sizetocentry: 11pt; 
$sizefmhead: $bigger;
$sizepartnum: 11pt; 
$sizeparttitle: 18pt; 
$sizechapnum: 20pt;
$sizechaptitle: 15pt;
$sizechapsubtitle: $big;
$sizeh1: $big;
$sizeh2: $normal;
$sizeh3: $normal;
$sizenormal: $normal;
$sizenormalalt: 9.75pt;
$sizecode: $smaller;
$sizepoetry: $small; //sizeextract
$sizeextract: $small;
$sizeextracthead: $normal;
$sizedateline: $small;
$sizeepigraph: $small;
$sizerunfoot: 9pt;
$sizerunhead: 9pt;
$sizecopyright: 8pt; 
$sizefootnote: 8.5pt;
$sizecaption: $smaller;
$sizefigsrc: 7pt;
$sizesuperscript: 6pt;
$sizehwritingprint: 12.75pt;
$sizehwritingnormal: 11pt;

$hanging: -5pt;

$chapterstart: right;

$logoheight: 0;
$logowidth: 0;

$htmargintop: ($gridheight * 4);

$ctmargintop: ($gridheight * 4); 
$ctmarginbottom: ($gridheight * 0); 
$comargintop: ($gridheight * 5); //DONE
$cemargintop: ($gridheight * 4);
$cemarginbottom: ($gridheight * 3);
$prmargintop: ($gridheight * 4); 

$spacebreakheight: $gridheight;

@import "_shared_vars.scss";

@import "../_modules/font_arnopro.scss";
@import "../_modules/font_aroma.scss";
@import "../_modules/font_minionpro.scss";
@import "../_modules/font_myriadpro.scss";
@import "../_modules/font_sourcecodepro.scss";
@import "../_modules/font_timesnewroman.scss";
@import "../_modules/font_noto.scss";
@import "../_modules/font_berrangerhanditc.scss";
@import "../_modules/font_feltpencom.scss";

@import "../_modules/base.scss";

/*@import "../_modules/gridlines.scss";
*/
@import "_shared_overrides.scss";

/* Holt-specific overrides */

figure.fullpage {
  margin-top: 0.7in;
  margin-inside: -0.93in;
  margin-outside: -0.93in; }

img[src*="fullpage"] {
  margin-top: -1.65in; }

@page {
  @footnotes {
    background-image: none;
    margin-top: $gridheight;
  }
}

section[data-type="titlepage"] *[class*="SubtitleSttl"] {
  padding-top: $gridheight;
  background-image: url('#{$ornpath}/titlepage-rule.jpg');
  background-size: 60pt auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: $gridheight;
}

section[data-type="titlepage"] p[class*="Author1Au1"] {
  background-image: none;
  margin-top: $gridheight * 5;
}

/* Extract */

h1[class*="ChapTitleNonprintingctnp"] + blockquote {
  margin-top: $ctmargintop
}

blockquote {
  margin-left: 27pt;
  margin-right: 27pt;
}

/* TOC */

nav[data-type="toc"] {
  counter-reset: part-list-item 0 chapter-list-item 0;
}

nav[data-type="toc"] h1 {
  font-weight: normal;
  margin-top: ($gridheight * 4);
  margin-bottom: 142pt;
}

/* Epigraph */

blockquote[data-type="epigraph"] {
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

section[data-type="preface"].epigraph p {
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
}

section[data-type="dedication"] blockquote[data-type="epigraph"],
section[data-type="preface"].epigraph,
.Dedicationded + p[class*="Epigraph"],
section[data-type="chapter"] > blockquote[data-type="epigraph"],
div[data-type="part"] > blockquote[data-type="epigraph"],
section[data-type="preface"] > blockquote[data-type="epigraph"],
section[data-type="foreword"] > blockquote[data-type="epigraph"],
section[data-type="introduction"] > blockquote[data-type="epigraph"],
blockquote[data-type="epigraph"] {
  margin-left: 30pt;
  margin-right: 30pt;
  padding: 0;
}

section[data-type="dedication"] p[class*="Epigraph-Source"],
section[data-type="preface"] p[class*="Epigraph-Source"],
p[class*="Epigraph-Source"] {
  font-style: normal;
  font-weight: normal;
}

section[data-type="dedication"] p[class*="Epigraph-verse"],
section[data-type="preface"] p[class*="Epigraph-verse"],
p.ChapEpigraph-versecepiv,
p.PartEpigraph-versepepiv,
p.FMEpigraph-versefmepiv {
  margin-left: $textindent;
  text-indent: -$textindent;
}

section[data-type="chapter"] p[class^="Epigraph-Non-Verse"],
div[data-type="part"] p[class^="Epigraph-Non-Verse"],
section[data-type="chapter"] p[class^="Epigraph-Non-Verse"],
section[data-type="foreword"] p[class^="Epigraph-Non-Verse"],
section[data-type="introduction"] p[class^="Epigraph-Non-Verse"],
section[data-type="titlepage"] p[class^="Epigraph-Non-Verse"],
section[data-type="halftitlepage"] p[class^="Epigraph-Non-Verse"],
section[data-type="copyright-page"] p[class^="Epigraph-Non-Verse"],
section[data-type="preface"].epigraph p[class^="Body-TextTx"] {
  font-style: italic;
  text-align: justify;
}

section[data-type="chapter"] p[class^="Epigraph-Verse"],
div[data-type="part"] p[class^="Epigraph-Verse"],
section[data-type="chapter"] p[class^="Epigraph-Verse"],
section[data-type="foreword"] p[class^="Epigraph-Verse"],
section[data-type="introduction"] p[class^="Epigraph-Verse"],
section[data-type="titlepage"] p[class^="Epigraph-Verse"],
section[data-type="halftitlepage"] p[class^="Epigraph-Verse"],
section[data-type="copyright-page"] p[class^="Epigraph-Verse"] {
  font-style: italic;
}

section[data-type="dedication"] p[class*="Epigraph-non-verse"],
section[data-type="preface"].epigraph p[class*="Epigraph-non-verse"]  {
  margin-left: 0;
  text-indent: 0; 
}

blockquote p.ChapEpigraph-versecepiv:first-child,
blockquote p.PartEpigraph-versepepiv:first-child,
blockquote p.FMEpigraph-versefmepiv:first-child {
  text-indent: -$textindent;
}

blockquote + blockquote,
blockquote + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote,
section[data-type="chapter"] > blockquote + blockquote[data-type="epigraph"],
div[data-type="part"] > blockquote + blockquote[data-type="epigraph"],
section[data-type="preface"] > blockquote + blockquote[data-type="epigraph"],
section[data-type="foreword"] > blockquote + blockquote[data-type="epigraph"],
section[data-type="introduction"] > blockquote + blockquote[data-type="epigraph"],
section[data-type="chapter"] > blockquote + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"],
div[data-type="part"] > blockquote + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"],
section[data-type="preface"] > blockquote + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"],
section[data-type="introduction"] > blockquote + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"],
section[data-type="foreword"] > blockquote + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"] {
  margin-top: $gridheight;
}

/* parts */

div[data-type="part"] h1 {
  text-transform: none;
}

div[data-type="part"] h1[class*="NumberNum"] {
  text-transform: none;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  margin-top: ($gridheight * 3.5);
  background-image: url('#{$ornpath}/titlepage-rule.jpg');
  background-size: 60pt auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: $gridheight * 0.25;
  margin-bottom: $gridheight;
}

div[data-type="part"] h1[class*="NumberNum"] > span {
  display: inline-block;
  padding-bottom: 0;
  border-bottom: 0.5pt solid cmyk(0,0,0,100);
}

div[data-type="part"] *[class*="SubtitleSttl"] {
  font-size: $bigger;
}

section[data-type="chapter"] h1[class*="TitleTtl"][data-autolabel="yes"]:before,
h1[class*="ChapTitleALTact"][data-autolabel="yes"]:before {
  background-image: none;
  padding-bottom: 0;
  margin-bottom: ($gridheight * 0.5);
}

section[data-type="chapter"] h1[class*="TitleTtl"] + p.SubtitleSttl,
section[data-type="chapter"] h1[class*="ChapTitleALTact"] + p.SubtitleSttl {
  font-style: normal;
  margin-top: $gridheight;
  margin-bottom: ($gridheight * 5);
}

section[data-type="bibliography"] > h1 {
  margin-bottom: $gridheight * 9;
}

section[data-type="bibliography"] *[class*="Reference-EntryRef"],
section[data-type="bibliography"] *[class*="Body-TextTx"] {
  font-size: 9pt;
  line-height: 11pt;
  margin-left: 18pt;
  text-indent: -18pt;
}

section[data-type="bibliography"] *[class*="Reference-EntryRef"]:first-of-type,
section[data-type="bibliography"] *[class*="Body-TextTx"]:first-of-type {
  text-indent: -18pt;
}

section.abouttheauthor {
  margin-left: 24pt;
  margin-right: 24pt;
}

section.abouttheauthor h1 {
  font-size: 13pt;
  line-height: 18pt;
  margin-bottom: 30pt;
}

section.abouttheauthor p {
  font-size: 10.5pt;
  line-height: 18pt;
}

section[data-type="appendix"].notes > h1 {
  margin-bottom: $gridheight * 10;
}

section[data-type="appendix"].notes p {
  font-size: 9pt;
  line-height: 11pt;
  text-indent: 0;
}

section[data-type="appendix"].notes p.MainHeadMHead {
  text-align: left;
  font-style: normal;
  margin-top: 9pt;
  margin-bottom: 2pt;
}

*[class*="A-HeadAhead"] {
  font-size: 12pt;
  font-style: normal;
  text-align: left;
  font-weight: bold;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

*[class*="B-HeadBhead"] {
  font-size: $sizenormal;
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

*:not(nav) ul ul, *:not(nav) ul ol, *:not(nav) ol ol, *:not(nav) ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

p.Blank-Space-BreakBsbrk,
p.Ornamental-Space-BreakOsbrk,
p.SpaceBreak-1-Linels1,
p.SpaceBreak-Internalint,
p.PartOrnamentporn,
p.ChapOrnamentcorn,
p.ChapOrnamentALTcorn2,
p.SpaceBreakOrnamentorn,
p.SpaceBreakwithOrnamentorn,
p.SpaceBreakwithALTOrnamentorn2 {
  content: " ";
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

span[data-type="footnote"] {
  footnote-style-position: outside;
  margin-left: 12pt;
}