/*

Since, at the time of this writing, Macmillan's
Word > ePub conversion tool can't yet convert all
styles to semantically appropriate elements, the
CSS here targets almost every existing style by
name. Styles with shared attributes are grouped
together as much as possible (e.g. styles that are
meant to resolve to specific heading levels,
"space before" and "space after" styles, etc), and
are otherwise grouped by the categories defined in
the Word template.

Please note that the Lists section probably has
the greatest potential for confusion, and it may
need to be updated as the conversion tool is
updated. See the comments at the top of that
section for more information.

--------------------------------------------------
RESET
--------------------------------------------------
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

@font-face {
  font-family: "noto";
  src: url('NotoSansSymbols-Regular.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  line-height: 1em;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/*
--------------------------------------------------
BASE STYLES
--------------------------------------------------
*/

body {
  font-size: medium;
  line-height: 1.2em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 2em;
  font-family: Georgia,"Times New Roman",Times,serif,"noto",arial,Verdana,sans-serif;
  color: #000;
  background-color: #fff;
  }
p+p,
p.Text-Standardtx {
  text-indent: 1.5em;
  }
blockquote {
  margin: 1em 1.5em;
  font-style: italic;
  }
aside,
.box {
  padding: 1.5em;
  border: 2px solid #ccc;
  margin: 1em 0;
  }
.box {
  background: #eee;
  }
img {
  max-width: 100%;
  max-height: 100%;
  }
pre {
  margin: 1em 0;
  white-space: pre-wrap;
  }

em {
  font-size: inherit;
  font-style: italic;
}

strong {
 font-size: inherit;
 font-weight: bold;
 }

span, a {
 font-size: inherit;
 }

/*
--------------------------
NO INDENT
--------------------------
*/

h1+p, .Head-Level-1h1+p,
h2+p, .Head-Level-2h2+p,
h3+p, .Head-Level-3h3+p,
h4+p, .Head-Level-4h4+p,
h5+p, .Head-Level-5h5+p,
h6+p, .Head-Level-6h6+p,
.NoIndent,
.AboutAuthorTextNo-Indentatatx1,
.AppendixTextNo-Indentaptx1,
.BMTextALTNo-Indentabmtx1,
.BMTextNo-Indentbmtx1,
.BMTextNo-IndentSpaceAfterbmtx1,
.BMTextNo-IndentSpaceAroundbmtx1,
.BMTextNo-IndentSpaceBeforebmtx1,
.BOBAdQuoteNo-Indentbobq1,
.BOBAdTextNo-Indentbobtx1,
.BoxTextNo-Indentbtx1,
.ChapOpeningTextNo-Indentcotx1,
.ChapOpeningTextNo-IndentSpaceAftercotx1,
.ChartBodyTextNo-Indentcrbtx1,
.ColophonTextNo-Indentcoltx1,
.ColumnTextNo-Indentcoltx1,
.FigureBodyTextNo-Indentfgbtx1,
.FMTextNo-Indentfmtx1,
.FMTextNo-IndentALTafmtx1,
.FMTextNo-IndentSpaceAfterfmtx1,
.FMTextNo-IndentSpaceAroundfmtx1,
.FMTextNo-IndentSpaceBeforefmtx1,
.IllustrationCreditsTextNo-Indentilctx1,
.LetterExtBodyTextNo-Indentltx1,
.PartOpeningTextNo-Indentpotx1,
.PermissionAcksTextNo-Indentpmtx1,
.RecipeNoteTextNo-Indentrntx1,
.RecipeVarTextNo-Indentrvtx1,
.ScreenplayTextNo-Indentsptx1,
.SeriesPageTextNo-Indentstx1,
.SidebarTextNo-Indentsbtx1,
.TableBodyTextNo-Indenttbtx1,
.TeaserOpeningTextNo-Indenttotx1,
.Text-ComputerTypeNo-Indentcom1,
.Text-NarrativeNo-Indentnar1,
.Text-StdNo-Indenttx1,
.Text-StdNo-IndentALTatx1,
.Text-StdNo-IndentSpaceAftertx1,
.Text-StdNo-IndentSpaceAroundtx1,
.Text-StdNo-IndentSpaceBeforetx1,
.VerseRun-inTextNo-Indentvrtx1 {
  text-indent: 0;
  }

/*
--------------------------
SPACE BEFORE
--------------------------
*/

.BMTextNo-IndentSpaceBeforebmtx1,
.BMTextSpaceBeforebmtx,
.FMTextNo-IndentSpaceBeforefmtx1,
.FMTextSpaceBeforefmtx,
.Text-StandardSpaceBeforetx,
.Text-StdNo-IndentSpaceBeforetx1 {
  margin-top: 1em;
  }

/*
--------------------------
SPACE AROUND
--------------------------
*/

.BMTextNo-IndentSpaceAroundbmtx1,
.BMTextSpaceAroundbmtx,
.FMTextNo-IndentSpaceAroundfmtx1,
.FMTextSpaceAroundfmtx,
.Text-StandardSpaceAroundtx,
.Text-StdNo-IndentSpaceAroundtx1 {
  margin-top: 1em;
  margin-bottom: 1em;
  }

/*
--------------------------
SPACE AFTER
--------------------------
*/

.BMTextNo-IndentSpaceAfterbmtx1,
.BMTextSpaceAfterbmtx,
.ChapOpeningTextNo-IndentSpaceAftercotx1,
.ChapOpeningTextSpaceAftercotx,
.FMTextNo-IndentSpaceAfterfmtx1,
.FMTextSpaceAfterfmtx,
.Text-StandardSpaceAftertx,
.Text-StdNo-IndentSpaceAftertx1 {
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
INLINE ELEMENTS
--------------------------------------------------
*/

a {
text-decoration: none;
}
.spanitaliccharactersital,
.spansmcapitalscital,
.spansmcapbolditalscbi,
.spanaltfont1span1,
.spanaltfont2span2 {
  font-style: italic;
  }
.spanboldfacecharacters,
.spanbolditalbem,
.spansmcapboldscbold,
.spansmcapbolditalscbi {
  font-weight: bold;
  }
.spansmallcapscharacterssc,
.spansmcapboldscbold,
.spansmcapitalscital,
.spansmcapbolditalscbi {
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .08em;
  }
.spanunderscorecharactersus {
  text-decoration: underline;
  }
sup,
.spansuperscriptcharacterssup {
  vertical-align: super;
  font-size: smaller;
  }
sub,
.spansuperscriptcharacterssub {
  vertical-align: sub;
  font-size: smaller;
  }
.spankeyphrasekp {
  }
.spansymbolssym,
.spansymbolsboldsymb,
.spansymbolsitalsymi {
  }
.spanaccentcharactersacc {
  }
.spanpreservecharacterspre {
  white-space: pre-wrap;
  }
.spancross-referencexref {
  }
.spanmaterialtocometk {
  }
.spancarryquerycq {
  }
.spandesignnotedni {
  }

.spanstrikethroughcharactersstr {
  text-decoration: line-through;
}

.chapopener {
  text-transform: uppercase;
}
.spanrun-incomputertypecomp {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  }

/* 2017-05-17: TESTED up to here: OK;

/*
--------------------------------------------------
HEADINGS
--------------------------------------------------
COMBINATIONS
--------------------------
*/

h1+h2, h1+h3, h1+h4, h1+h5, h1+h6,
h2+h3, h2+h4, h2+h5, h2+h6,
h3+h4, h3+h5, h3+h6,
h4+h5, h4+h6,
h5+h6,
*[class*="Head-Level-"]+*[class*="Head-Level-"],
*[class*="FMLevel-"]+*[class*="FMLevel-"],
*[class*="PoemLevel-"]+*[class*="PoemLevel-"],
*[class^="RecipeHead"]+*[class^="RecipeSubhead"],
*[class*="RecipeLevel-"]+*[class*="RecipeLevel-"],
*[class^="Sub-RecipeHead"]+*[class^="Sub-RecipeSubhead"],
*[class*="Sub-RecipeLevel-"]+*[class*="Sub-RecipeLevel-"],
*[class^="BoxHead"]:first-child,
*[class^="BoxHead-Level-1"]:first-child,
*[class^="BoxHead-Level-2"]:first-child,
*[class^="BoxHead-Level-3"]:first-child,
*[class^="BoxHead-Level-4"]:first-child,
*[class^="BoxHead-Level-5"]:first-child,
*[class^="SidebarHead"]:first-child,
*[class^="SidebarHead-Level-1"]:first-child,
*[class^="SidebarHead-Level-2"]:first-child,
*[class^="SidebarHead-Level-3"]:first-child,
*[class^="SidebarHead-Level-4"]:first-child,
*[class^="SidebarHead-Level-5"]:first-child,
*[class^="BoxHead"]+*[class^="BoxSubhead"],
*[class^="BoxHead"]+*[class*="BoxHead-Level-"],
*[class*="BoxHead-Level-"]+*[class*="BoxHead-Level-"],
*[class^="SidebarHead"]+*[class^="SidebarSubhead"],
*[class^="SidebarHead"]+*[class*="SidebarHead-Level-"],
*[class*="SidebarHead-Level-"]+*[class*="SidebarHead-Level-"],
*[class^="TableNumber"]+*[class^="TableHead"],
*[class^="ChartNumber"]+*[class^="ChartHead"],
*[class^="ChartHead"]:first-child,
*[class^="ChartHead"]+*[class^="ChartSubhead"],
*[class^="ChartHead"]+*[class*="ChartLevel-"],
*[class*="ChartLevel-"]+*[class*="ChartLevel-"],
*[class^="TableHead"]+*[class^="TableSubhead"],
*[class^="FigureNumber"]+*[class^="FigureHead"],
*[class^="FigureHead"]+*[class^="FigureSubhead"],
*[class^="FigureHead"]+*[class*="FigureLevel-"],
*[class*="FigureLevel-"]+*[class*="FigureLevel-"],
*[class*="AppendixLevel-"]+*[class*="AppendixLevel-"],
*[class*="NoteLevel-"]+*[class*="NoteLevel-"],
*[class*="BiblioLevel-"]+*[class*="BiblioLevel-"],
*[class*="BOBAdLevel-"]+*[class*="BOBAdLevel-"] {
  margin-top: 0;
  }

/*
--------------------------
H1
--------------------------
*/

h1, .Head-Level-1h1 {
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.25em;
  margin: .66666666666667em 0;
  }

*[class*="Level-1Subhead"],
*[class^="FrontSalesTitle"],
*[class^="AdCardMainHead"],
*[class^="HalftitleBookTitle"],
*[class^="TitlepageBookTitle"],
*[class^="TOCFrontmatterHead"],
*[class^="TOCPartTitle"],
*[class^="TOCChapterTitle"],
*[class^="TOCLevel-1ChapterHead"],
*[class^="FMHead"],
*[class^="FMTitle"],
*[class^="FMHeadALT"],
*[class^="PartNumber"],
*[class^="PartTitle"],
*[class^="ChapNumber"],
*[class^="ChapTitle"],
*[class^="VolumeNumber"],
*[class^="VolumeTitle"],
*[class^="CollectionBookNumber"],
*[class^="CollectionBookTitle"],
*[class^="Head-Level-1"],
*[class^="BoxHead-Level-1"],
*[class^="SidebarHead-Level-1"],
*[class^="TableNumber"],
*[class^="ChartNumber"],
*[class^="FigureNumber"],
*[class^="BMHead"],
*[class^="BMTitle"],
*[class^="BMHeadALT"],
*[class^="AppendixHead"],
*[class^="BOBAdTitle"] {
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.25em;
  margin: .66666666666667em 0;
  }
*[class^="TOCFrontmatterHead"],
*[class^="TOCBackmatterHead"],
*[class^="TOCPartNumber"],
*[class^="TOCChapterNumber"],
*[class^="PartNumber"],
*[class^="ChapNumber"],
*[class^="VolumeNumber"],
*[class^="CollectionBookNumber"],
*[class^="TableNumber"],
*[class^="ChartNumber"],
*[class^="FigureNumber"] {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: .5em;
  margin-top: 0;
  }

.TOCFrontmatterHeadcfmh,
.TOCBackmatterHeadcbmh,
.TOCPartNumbercpn,
.TOCChapterNumberccn,
.PartNumberpn,
.ChapNumbercn,
.VolumeNumbervoln,
.CollectionBookNumberbkn,
.TableNumbertn,
.ChartNumbercrn,
.FigureNumberfgn {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: .5em;
  margin-top: 0;
  }
*[class^="TOCPartNumber"],
*[class^="TOCFrontmatterHead"],
*[class^="TOCBackmatterHead"],
*[class^="PartNumber"],
*[class^="VolumeNumber"],
*[class^="CollectionBookNumber"] {
  /*background: #999;*/
  }
*[class^="TOCChapterNumber"],
*[class^="ChapNumber"],
*[class^="TableNumber"],
*[class^="ChartNumber"],
*[class^="FigureNumber"] {
  /*background: #eee;*/
/*  margin-top: 3em; */
  }
*[class^="TableNumber"],
*[class^="ChartNumber"],
*[class^="FigureNumber"] {
  color: #999;
  margin-top: 1em;
  margin-bottom: 0;
  }
*[class^="FrontSalesTitle"],
*[class^="AdCardMainHead"],
*[class^="HalftitleBookTitle"],
*[class^="TitlepageBookTitle"],
*[class^="PartTitle"],
*[class^="ChapTitle"],
*[class^="VolumeTitle"],
*[class^="CollectionBookTitle"] {
  text-align: center;
  }

.FrontSalesTitlefst,
.AdCardMainHeadacmh,
.HalftitleBookTitlehtit,
.TitlepageBookTitletit,
.PartTitlept,
.ChapTitlect,
.ChapTitleALTact,
.VolumeTitlevolt,
.CollectionBookTitlebkt {
  text-align: center;
  }

*[class^="PartTitle"],
*[class^="ChapTitle"],
*[class^="VolumeTitle"],
*[class^="CollectionBookTitle"] {
  margin-bottom: 3.00em;
  }

.PartTitlept,
.ChapTitlect,
.ChapTitleALTact,
.VolumeTitlevolt,
.CollectionBookTitlebkt {
  margin-bottom: 3.00em;
  }

/*
--------------------------
H2
--------------------------
*/

h2 {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

.PartSubtitlepst,
.ChapSubtitlecst {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

*[class*="Level-2Subhead"],
*[class^="FrontSalesSubtitle"],
*[class^="AdCardSubhead"],
*[class^="TitlepageBookSubtitle"],
*[class^="FMSubhead"],
*[class^="TOCChapterSubtitle"],
*[class^="PartSubtitle"],
*[class^="ChapSubtitle"],
*[class^="Head-Level-2"],
*[class^="BoxHead-Level-2"],
*[class^="SidebarHead-Level-2"],
*[class^="BMSubhead"],
*[class^="AppendixSubhead"],
*[class^="IndexInternalSubhead"],
*[class^="BOBAdSubtitle"] {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

.FrontSalesSubtitlefsst,
.AdCardSubheadacsh,
.TitlepageBookSubtitlestit,
.PartSubtitlepst,
.ChapSubtitlecst,
.BOBAdSubtitlebobst {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

*[class^="FrontSalesSubtitle"],
*[class^="AdCardSubhead"],
*[class^="TitlepageBookSubtitle"],
*[class^="PartSubtitle"],
*[class^="ChapSubtitle"] {
  text-align: center;
  margin-bottom: 1em;
  }

.FrontSalesSubtitlefsst,
.AdCardSubheadacsh,
.TitlepageBookSubtitlestit,
.PartSubtitlepst,
.ChapSubtitlecst {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 1em 0;
  text-align: center;
  }

.PartSubtitlepst,
.ChapSubtitlecst {
  text-align: center;
  margin-bottom: 1em;
  }

*[class^="PartSubtitle"],
*[class^="ChapSubtitle"] {
  text-align: center;
  margin-bottom: 1.00em;
  }

.PartSubtitlepst:after,
.ChapSubtitlecst:after {
  text-align: center;
  margin-bottom: 1.00em;
  }

/*
--------------------------
H3
--------------------------
*/

h3 {
  text-indent: 0;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

*[class*="Level-3Subhead"],
*[class^="FrontSalesQuoteHead"],
*[class^="PartContentsMainHead"],
*[class^="Head-Level-3"],
*[class^="IngredientsHead"],
*[class^="Sub-RecipeIngredientsHead"],
*[class^="Menu"],
*[class^="RecipeVarHead"],
*[class^="RecipeNoteHead"],
*[class^="Extract-NoteHead"],
*[class^="BoxHead-Level-3"],
*[class^="SidebarHead-Level-3"],
*[class^="GlossaryTerm"],
*[class^="BOBAdQuoteHead"] {
  text-indent: 0;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

.BOBAdQuoteHeadbobqh {
  text-indent: 0;
  font-weight: bold;
  margin: 1em 0 0 0;
  }

/*
--------------------------
H4
--------------------------
*/

h4 {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  margin: 1em 0 0 0;
  }

*[class*="Level-4Subhead"],
*[class^="PartContentsHead"],
*[class^="Head-Level-4"],
*[class^="BoxHead-Level-4"],
*[class^="SidebarHead-Level-4"] {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  margin: 1em 0 0 0;
  }

/*
--------------------------
H5
--------------------------
*/

h5 {
  text-indent: 0;
  font-style: italic;
  margin: 1em 0 0 0;
  }

*[class*="Level-5Subhead"],
*[class^="Head-Level-5"],
*[class^="ExtractHead"],
*[class^="PoemTitle"],
*[class^="RecipeHead"],
*[class^="Sub-RecipeHead"],
*[class^="BoxHead"],
*[class^="BoxHead-Level-5"],
*[class^="SidebarHead"],
*[class^="SidebarHead-Level-5"],
*[class^="ChartHead"],
*[class^="FigureHead"],
*[class^="TableHead"] {
  text-indent: 0;
  font-style: italic;
  margin: 1em 0 0 0;
  }
*[class^="ExtractHead"],
*[class^="PoemTitle"],
*[class^="RecipeHead"],
*[class^="Sub-RecipeHead"],
*[class^="BoxHead"],
*[class^="SidebarHead"],
*[class^="ChartHead"],
*[class^="TableHead"],
*[class^="FigureHead"] {
  font-size: 1em;
  background: #ccc;
  }

/*
--------------------------
H6
--------------------------
*/

h6 {
  text-indent: 0;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 1em 0 0 0;
  }

*[class^="Head-Level-6"],
*[class^="PoemSubtitle"],
*[class^="PoemNumericSubhead"],
*[class^="RecipeSubhead"],
*[class^="Sub-RecipeSubhead"],
*[class^="BoxSubhead"],
*[class^="SidebarSubhead"],
*[class^="TableSubhead"],
*[class^="ChartSubhead"],
*[class^="FigureSubhead"] {
  text-indent: 0;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 1em 0 0 0;
  }
*[class^="PoemSubtitle"],
*[class^="RecipeSubhead"],
*[class^="Sub-RecipeSubhead"],
*[class^="BoxSubhead"],
*[class^="SidebarSubhead"],
*[class^="TableSubhead"],
*[class^="ChartSubhead"],
*[class^="FigureSubhead"] {
  border-bottom: 2px solid #ccc;
  margin-bottom: 1em;
  }

/*
--------------------------------------------------
FRONT SALES
--------------------------------------------------
*/

*[class^="FrontSalesText"],
*[class^="FrontSalesTextNoIndent"] {
  }
*[class^="FrontSalesQuote"],
*[class^="FrontSalesQuoteNoIndent"] {
  font-style: italic;
  }

/*
--------------------------------------------------
AD CARD
--------------------------------------------------
*/

*[class^="AdCardListofTitle"] {
  text-indent: 0;
  text-align: center;
  }

.AdCardListofTitlesacl {
  text-indent: 0;
  text-align: center;
  }

/*
--------------------------------------------------
TITLE PAGE
--------------------------------------------------
*/

*[class^="TitlepageAuthorName"],
*[class^="TitlepageContributorName"],
*[class^="TitlepageTranslatorName"],
*[class^="TitlepageSeriesTitle"],
*[class^="TitlepageReadingLine"],
*[class^="TitlepageImprintLine"],
*[class^="TitlepagePublisherName"],
*[class^="TitlepageCities"],
*[class^="TitlepageLogo"]  {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }

/* for kindle eink */
.TitlepageAuthorNameau,
.TitlepageContributorNamecon,
.TitlepageTranslatorNametran,
.TitlepageSeriesTitleser,
.TitlepageReadingLinerl,
.TitlepageImprintLineimp,
.TitlepagePublisherNamepub,
.TitlepageCitiescit,
.TitlepageLogologo {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }

section[data-type="titlepage"] {
  text-align: center;
}

section[data-type="titlepage"] img {
  text-align: center;
  width: auto;
}

/*
--------------------------------------------------
COPYRIGHT PAGE
--------------------------------------------------
*/

*[class^="CopyrightTextsinglespace"],
*[class^="CopyrightTextdoublespace"] {
  font-size: .75em;
  text-indent: 0;
  }
*[class^="CopyrightTextdoublespace"] {
  margin: 1em 0;
  }

.CopyrightTextsinglespacecrtx,
.CopyrightTextdoublespacecrtxd {
  font-size: .75em;
  text-indent: 0;
  }
.CopyrightTextdoublespacecrtxd {
  margin: 1em 0;
  }

/*
--------------------------------------------------
DEDICATION PAGE
--------------------------------------------------
*/

.Dedicationded,
.DedicationAuthordedau {
  text-indent: 0;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-style: italic;
  }

*[class^="Dedication"],
*[class^="DedicationAuthor"] {
  text-indent: 0;
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  }
.Dedicationded {
  font-style: italic;
}
*[class^="Dedicationd"] {
  font-style: italic;
  }
.DedicationAuthordedau {
  margin-top: 1em;
  }
*[class^="DedicationAuthor"] {
  margin-top: 1em;
  }
section[data-type="dedication"] blockquote[data-type="epigraph"] {
  page-break-before: always;
  margin-top: 2em;
  }

.Dedicationded + p[class*="Epigraph"],
.DedicationAuthordedau + p[class*="Epigraph"] {
  page-break-before: always;
  margin-top: 2em;
  }
*[class^="Dedication"] + p[class*="Epigraph"] {
  page-break-before: always;
  margin-top: 2em;
  }

/*
--------------------------------------------------
EPIGRAPH PAGE (AND OTHER EPIGRAPHS)
--------------------------------------------------
*/

blockquote[data-type="epigraph"] {
  margin: 2em 1.5em;
  }

*[class^="Epigraph-non-verse"],
*[class^="Epigraph-verse"],
*[class^="FMEpigraphnon-verse"],
*[class^="FMEpigraph-verse"],
*[class^="PartEpigraph-non-verse"],
*[class^="PartEpigraph-verse"],
*[class^="ChapEpigraph-non-verse"],
*[class^="ChapEpigraph-verse"],
*[class^="EpigraphinText-non-verse"],
*[class^="EpigraphinText-verse"],
*[class^="PoemEpigraph-non-verse"],
*[class^="PoemEpigraph-verse"],
*[class^="BoxEpigraph-non-verse"],
*[class^="BoxEpigraph-verse"],
*[class^="SidebarEpigraph-non-verse"],
*[class^="SidebarEpigraph-verse"] {
  font-style: italic;
  }

.Epigraph-non-verseepi,
.Epigraph-verseepiv,
.FMEpigraph-non-versefmepi,
.FMEpigraph-versefmepiv,
.PartEpigraph-non-versepepi,
.PartEpigraph-versepepiv,
.ChapEpigraph-non-versecepi,
.ChapEpigraph-versecepiv,
.EpigraphinText-non-versetepi,
.EpigraphinText-versetepiv,
.PoemEpigraph-non-versevepi,
.PoemEpigraph-versevepiv,
.BoxEpigraph-non-versebepi,
.BoxEpigraph-versebepiv,
.SidebarEpigraph-non-versesbepi,
.SidebarEpigraph-versesbepiv {
  font-style: italic;
  }

*[class^="EpigraphSource"],
*[class^="ExtractSource"],
*[class^="FMEpigraphSource"],
*[class^="PartEpigraphSource"],
*[class^="ChapEpigraphSource"],
*[class^="EpigraphinText-Source"],
*[class^="PoemEpigraphSource"],
*[class^="BoxEpigraphSource"],
*[class^="SidebarEpigraphSource"],
*[class^="FrontSalesQuoteSource"],
*[class^="BOBAdQuoteSource"] {
  text-align: right;
  text-indent: 0;
  font-style: normal;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1em;
  }

.EpigraphSourceeps,
.ExtractSourceexts,
.FMEpigraphSourcefmeps,
.PartEpigraphSourcepeps,
.ChapEpigraphSourceceps,
.EpigraphinText-Sourceteps,
.PoemEpigraphSourceveps,
.BoxEpigraphSourcebeps,
.SidebarEpigraphSourcesbeps,
.FrontSalesQuoteSourcefsqs,
.BOBAdQuoteSourcebobqs {
  text-align: right;
  text-indent: 0;
  font-style: normal;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1em;
  }

.ChapEpigraphSourceceps {
  text-align: right;
}

/*
--------------------------------------------------
CONTENTS PAGE
--------------------------------------------------
*/

*[class^="TOCAuthor"],
*[class^="TOCPartNumber"],
*[class^="TOCPartTitle"],
*[class^="TOCChapterNumber"],
*[class^="TOCChapterTitle"],
*[class^="TOCChapterSubtitle"],
*[class^="TOCLevel-1ChapterHead"],
*[class^="TOCBackmatterHead"],
*[class^="TOCPageNumber"] {
  list-style: none;
  text-indent: 0;
  text-align: center;
  }
*[class^="TOCAuthor"] {
  font-style: italic;
  margin: 1em 0;
  }
*[class^="TOCPartNumber"],
*[class^="TOCChapterNumber"] {
  margin-left: 15%;
  margin-right: 15%;
  }
*[class^="TOCFrontmatterHead"],
*[class^="TOCPartTitle"],
*[class^="TOCChapterTitle"],
*[class^="TOCLevel-1ChapterHead"],
*[class^="TOCBackmatterHead"],
*[class^="TOCPartNumber"],
*[class^="TOCChapterNumber"],
*[class^="TOCChapterSubtitle"],
*[class^="TOCAuthor"],
*[class^="TOCPageNumber"] {
  display: none;
  }

/*
--------------------------------------------------
OTHER FRONTMATTER
--------------------------------------------------
*/

*[class^="FMTitle"],
*[class^="FMAuthorName"],
*[class^="FMAuthorSignature"],
*[class^="FMDramatisPersonae"] {
  text-indent: 0;
  margin: 1em 0;
  }
.FMTitlefmt,
.FMAuthorNamefmau,
.FMAuthorSignatureausig,
.FMDramatisPersonaefmdp {
  text-indent: 0;
  margin: 1em 0;
  }
*[class^="FMHead"],
*[class^="FMTitle"],
*[class^="FMSubhead"],
*[class^="FMAuthorName"],
*[class^="FMHeadALT"] {
  text-align: center;
  }
.FMHeadfmh,
.FMTitlefmt,
.FMSubheadfmsh,
.FMAuthorNamefmau,
.FMHeadALTafmh {
  text-align: center;
  }
*[class^="FMHeadALT"],
*[class^="FMTextALT"],
*[class^="FMTextNo-IndentALT"] {
  font-family: Helvetica,Arial,sans-serif;
  }
.FMHeadALTafmh,
.FMTextALTafmtx,
.FMTextNo-IndentALTafmtx1 {
  font-family: Helvetica,Arial,sans-serif;
  }
*[class^="FMAuthorSignature"] {
  font-style: italic;
  }
.FMAuthorSignatureausig {
  font-style: italic;
  }
*[class^="FMDramatisPersonae"] {
  text-transform: uppercase;
  letter-spacing: .075em;
  }
.FMDramatisPersonaefmdp {
  text-transform: uppercase;
  letter-spacing: .075em;
  }

/*
--------------------------------------------------
PART OPENERS
--------------------------------------------------
*/

*[class^="PartOrnament"],
*[class^="PartOrnamentALT"],
*[class^="PartContentsMainHead"],
*[class^="PartContentsHead"] {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
  }
*[class^="PartOrnament"]:before,
*[class^="PartOrnamentALT"]:before {
  display: block;
  font-size: 1.125em;
  }
*[class^="PartOrnament"]:before {
  content: "\2766"; /* U+2766 "floral heart" */
  }
*[class^="PartOrnamentALT"]:before {
  content: "\2756"; /* U+2756 "black diamond minus white" */
  }

/*
--------------------------------------------------
CHAPTER OPENERS
--------------------------------------------------
*/

.ChapAuthorca,
.Dateline-Chapterdl,
.ChapOrnamentcorn,
.ChapOrnamentALTcorn2 {
  text-align: center;
  text-indent: 0;
  margin: 1em 0;
  }

*[class^="ChapAuthor"],
*[class^="Dateline-Chapter"],
*[class^="ChapOrnament"],
*[class^="ChapOrnamentALT"] {
  text-align: center;
  text-indent: 0;
  margin: 1em 0;
  }
*[class^="ChapOrnament"]:before,
*[class^="ChapOrnamentALT"]:before {
  display: block;
  font-size: 1.125em;
  }
.ChapOrnamentcorn:before,
.ChapOrnamentALTcorn2:before {
  display: block;
  font-size: 1.125em;
  }
.ChapOrnamentcorn:before {
  content: "\2766"; /* U+2766 "floral heart" */
  }
*[class^="ChapOrnament"]:before {
  content: "\2766"; /* U+2766 "floral heart" */
  }
*[class^="ChapOrnamentALT"]:before {
  content: "\2756"; /* U+2756 "black diamond minus white" */
  }
.ChapOrnamentALTcorn2:before {
  content: "\2756"; /* U+2756 "black diamond minus white" */
  }
.TeaserOpeningTexttotx, .TeaserOpeningTextNo-Indenttotx1 {
  text-align: center;
  text-indent: 0;
  font-size: 1.2em;
  margin-bottom: 0.75em;
}

/*
--------------------------------------------------
TEXT
--------------------------------------------------
*/

*[class^="Text-ComputerType"],
*[class^="Text-ComputerTypeNo-Indent"] {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  }
*[class^="Text-StandardALT"],
*[class^="Text-StdNo-IndentALT"] {
  font-family: Helvetica,Arial,sans-serif;
  }
.Text-ComputerTypecom,
.Text-ComputerTypeNo-Indentcom1 {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  }
.Text-StandardALTatx,
.Text-StdNo-IndentALTatx1 {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  }

.Text-StandardALTatx,
.Text-StdNo-IndentALTatx1 {
  margin-top: 1em;
  }

.Text-StandardALTatx + .Text-StandardALTatx,
.Text-StandardALTatx + .Text-StdNo-IndentALTatx1,
.Text-StdNo-IndentALTatx1 + .Text-StandardALTatx,
.Text-StdNo-IndentALTatx1 + .Text-StdNo-IndentALTatx1 {
  margin-top: 0;
  }

/*
--------------------------------------------------
DISPLAY TEXT
--------------------------------------------------
*/

*[class^="InitialCap"] {
  }
*[class^="DisplayPhrase"] {
  clear: both;
  color: #999;
  font-size: 1.125em;
  font-style: italic;
  text-indent: 0;
  text-align: center;
  padding: .5em;
  background: #eee;
  margin: 1em 0;
  }
*[class^="Storydateline"],
*[class^="Storylocationline"] {
  text-indent: 0;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
SPACE BREAKS
--------------------------------------------------
*/

.SpaceBreak,
.SectionBreaksbr,
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2,
.PartStartpts,
.PartEndpte,
.PageBreakpb,
.SpaceBreak-1-Linels1,
.SpaceBreak-2-Linels2,
.SpaceBreak-3-Linels3,
.SpaceBreak-Internalint {
  text-indent: 0;
  text-align: center;
  }

*[class^="SpaceBreak"],
*[class^="SectionBreak"],
*[class^="SpaceBreakwithOrnament"],
*[class^="SpaceBreakwithALTOrnament"],
*[class^="PartStart"],
*[class^="PartEnd"],
*[class^="PageBreak"],
*[class^="SpaceBreak-1-Line"],
*[class^="SpaceBreak-2-Line"],
*[class^="SpaceBreak-3-Line"],
*[class^="SpaceBreak-Internalint"] {
  text-indent: 0;
  text-align: center;
  }
*[class^="SpaceBreak"],
*[class^="SectionBreak"],
*[class^="SpaceBreakwithOrnament"],
*[class^="SpaceBreakwithALTOrnament"],
*[class^="SpaceBreak-1-Line"],
*[class^="SpaceBreak-Internalint"] {
  margin: 1em 0;
  }

.SpaceBreak,
.SectionBreaksbr,
.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2,
.SpaceBreak-1-Linels1,
.SpaceBreak-Internalint {
  margin: 1em 0 2em 0;
  }

*[class^="SpaceBreak-2-Line"] {
  margin: 1em 0 2em 0;
  }

.SpaceBreak-2-Linels2 {
  margin: 1em 0 2em 0;
  }

*[class^="SpaceBreak-3-Line"] {
  margin: 1em 0 3em 0;
  }

.SpaceBreak-3-Linels3 {
  margin: 1em 0 3em 0;
  }

*[class^="Dateline-Text"] {
  text-indent: 0;
  font-variant: small-caps; /* ALTERNATE: font-size: .75em; text-transform: uppercase; */
  letter-spacing: .1em;
  margin: 1em 0;
  }

*[class^="SpaceBreakwithOrnament"],
*[class^="SpaceBreakwithALTOrnament"] {
  display: block;
  font-size: 1.125em;
  }

.SpaceBreakwithOrnamentorn,
.SpaceBreakwithALTOrnamentorn2 {
  display: block;
  font-size: 1.125em;
  }

/**[class^="SpaceBreakwithOrnament"] {
  content: "\2766"; /* U+2766 "floral heart"
  }

.SpaceBreakwithOrnamentorn {
  content: "\2766"; /* U+2766 "floral heart"
  }

*[class^="SpaceBreakwithALTOrnament"] {
  content: "\2756"; /* U+2756 "black diamond minus white"
  }

.SpaceBreakwithALTOrnamentorn2 {
  content: "\2756"; /* U+2756 "black diamond minus white"
  }*/

.PageBreakpb  {
  display: none;
}

p.PageBreakpb + * {
  page-break-before: always;
}

*[class^="BookmakerPageBreak"] {
  page-break-after: always;
}

.BookmakerPageBreakbr {
  page-break-after: always;
}

p.SpaceBreak-PrintOnlypo {
  display: none;
}

/*
--------------------------------------------------
EXTRACTS
--------------------------------------------------
*/

.Extractext,
.Extract-Newspapernews,
.Extract-Diaryextd,
.Extract-Transcripttrans,
.Extract-NoIndentext1,
.Extract-BulletListextbl,
.Extract-NumListextnl,
.ExtractHeadexth,
.Extract-VerseorPoetryextv,
.Extract-Noteextn,
.Extract-NoteHeadextnh,
.Extract-Headlineexthl,
.Extract-Websiteextws,
.Extract-SongLyricextsl,
.Extract-BusinessCardextbc,
.Extract-Telegramtel,
.Extract-Inscriptionins,
.Extract-ScheduleofEventssch {
  font-style: italic;
}

.Extract-NoIndentext1,
.Extract-BulletListextbl,
.Extract-NumListextnl,
.ExtractHeadexth,
.Extract-VerseorPoetryextv,
.Extract-NoteHeadextnh,
.Extract-Headlineexthl,
.Extract-EmailHeadingemh,
.Extract-SongLyricextsl,
.Extract-BusinessCardextbc,
.Extract-ScheduleofEventssch {
  text-indent: 0;
}

.Extractext em,
.Extract-Newspapernews em,
.Extract-Diaryextd em,
.Extract-Transcripttrans em,
.Extract-NoIndentext1 em,
.Extract-BulletListextbl em,
.Extract-NumListextnl em,
.ExtractHeadexth em,
.Extract-VerseorPoetryextv em,
.Extract-Noteextn em,
.Extract-NoteHeadextnh em,
.Extract-Headlineexthl em,
.Extract-Websiteextws em,
.Extract-SongLyricextsl em,
.Extract-BusinessCardextbc em,
.Extract-Telegramtel em,
.Extract-Inscriptionins em,
.Extract-ScheduleofEventssch em {
  font-style: normal;
}

*[class^="Extract"],
*[class*="Extract"] {
  font-style: italic;
  }

.Extract-Headlineexthl,
.Extract-EmailHeadingemh {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  }

*[class^="Extract-Headline"],
*[class^="Extract-EmailHeading"] {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  }

.Extract-Emailextem,
.Extract-EmailHeadingemh,
.Extract-Telegramtel {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  }

*[class^="Extract-Telegram"] {
  text-transform: uppercase;
  }

.Extract-Telegramtel {
  text-transform: uppercase;
  }

/* for kindle */
blockquote p:first-child {
  margin-left: 0;
}

/*
--------------------------------------------------
LETTERS
--------------------------------------------------
*/

.LetterExtHeadnotehn {
  text-transform: uppercase;
  letter-spacing: .075em;
  text-align: center;
  text-indent: 0;
  }
*[class^="LetterExtHeadnote"] {
  text-transform: uppercase;
  letter-spacing: .075em;
  text-align: center;
  text-indent: 0;
  }
.LetterExtHeadnotehn+p,
.LetterExtAddressladd,
.LetterExtSalutationlsa,
.LetterExtClosinglcl,
.LetterExtSignaturelsig,
.LetterExtPostscriptlps {
  text-indent: 0;
  }
*[class^="LetterExtHeadnote"]+p,
*[class^="LetterExtAddress"],
*[class^="LetterExtSalutation"],
*[class^="LetterExtClosing"],
*[class^="LetterExtSignature"],
*[class^="LetterExtPostscript"] {
  text-indent: 0;
  }
.LetterExtDatelineldl {
  margin: 1em 0;
  text-indent: 0;
  }
*[class^="LetterExtDateline"] {
  margin: 1em 0;
  text-indent: 0;
  }
p+.LetterExtSalutationlsa,
.LetterExtClosinglcl,
.LetterExtSignaturelsig,
.LetterExtPostscriptlps {
  margin-top: 1em;
  }
p+*[class^="LetterExtSalutation"],
*[class^="LetterExtClosing"],
*[class^="LetterExtSignature"],
*[class^="LetterExtPostscript"] {
  margin-top: 1em;
  }
.LetterExtClosinglcl+.LetterExtSignaturelsig {
  margin-top: 0;
  }
*[class^="LetterExtClosing"]+*[class^="LetterExtSignature"] {
  margin-top: 0;
  }

/*
--------------------------------------------------
SCREENPLAY
--------------------------------------------------
*/
.ScreenplayDramatisPersonaedp,
.ScreenplayHeadsph,
.ScreenplaySubheadspsh,
.ScreenplaySpeakers,
.ScreenplayTextsptx,
.ScreenplayTextNo-Indentsptx1,
.ScreenplayStageDirectionsd,
.ScreenplayExtractsp {
  font-family: "Courier New",monospace,Georgia,"Times New Roman",sans-serif;
  font-style: normal;
  text-indent: 0;
  }
.ScreenplayDramatisPersonaedp,
.ScreenplayHeadsph,
.ScreenplaySubheadspsh,
.ScreenplaySpeakers {
  text-transform: uppercase;
  }
.ScreenplayHeadsph,
.ScreenplaySubheadspsh {
  margin-top: 1em;
  margin-bottom: 1em;
  }
.ScreenplaySpeakers {
  text-align: center;
  margin-top: 1em;
  }
.ScreenplaySpeakers,
.ScreenplayTextsptx,
.ScreenplayTextNo-Indentsptx1 {
  margin-left: 3em;
  margin-right: 3em;
  }
.ScreenplayStageDirectionsd {
  font-style: italic;
  margin: 1em 0;
  }
.ScreenplayTextsptx {
  text-indent: 1.5em;
  }

/*
--------------------------------------------------
POETRY
--------------------------------------------------
*/
.PoemTitlevt+.PoemSubtitlevst {
  margin-top: 0;
  }
.PoemDedicationvded {
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0;
  }
.VerseTextvtx,
.Epigraph-verseepiv,
.FMEpigraph-versefmepiv,
.PartEpigraph-versepepiv,
.ChapEpigraph-versecepiv,
.Extract-VerseorPoetryextv,
.Extract-SongLyricextsl,
.EpigraphinText-versetepiv,
.PoemEpigraph-versevepiv,
.BoxEpigraph-versebepiv,
.BoxExtract-Versebextv,
.SidebarEpigraph-versesbepiv,
.SidebarExtract-Versesbextv,
.Example-Versevexa {
  margin-left: 1.5em;
  text-indent: -1.5em;
  }
blockquote .VerseTextvtx:first-child,
blockquote .Epigraph-verseepiv:first-child,
blockquote .FMEpigraph-versefmepiv:first-child,
blockquote .PartEpigraph-versepepiv:first-child,
blockquote .ChapEpigraph-versecepiv:first-child,
blockquote .Extract-VerseorPoetryextv:first-child,
blockquote .Extract-SongLyricextsl:first-child,
blockquote .EpigraphinText-versetepiv:first-child,
blockquote .PoemEpigraph-versevepiv:first-child,
blockquote .BoxEpigraph-versebepiv:first-child,
blockquote .BoxExtract-Versebextv:first-child,
blockquote .SidebarEpigraph-versesbepiv:first-child,
blockquote .SidebarExtract-Versesbextv:first-child,
blockquote .Example-Versevexa:first-child {
  margin-left: 1.5em;
  }

.VerseRun-inTextvrtx,
.VerseRun-inTextNo-Indentvrtx1 {
  text-indent: 0;
  margin-left: 1.5em;
  }
.PoemDatelinevdl,
.PoemDedicationvded {
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
LISTS
--------------------------------------------------
All list styles are included here. Since some
classes convert as p elements rather than li, they
need to be explicitly told to behave like list
items. Here is an example of the markup and the
basic CSS that would apply to it:

<p class="BulletListItem">foo</p>

[class^="BulletListItem"] {
  display: list-item;
  list-style: disc outside;
  }

Other styles are already converting semantically,
but they still include a p element, like so:

<ul>
  <li class="BulletListItem">
    <p class="BulletListItem">foo</p>
  </li>
</ul>

So, in this case, all the rules of
".BulletListItem" will be applied to both the li
and the p, which means there will be multiple
bullets for each list item. This is why styles
that are converting this way are commented out –
so that the list style will be applied to the li
but not the p. As the conversion tool is updated
to accommodate more of the list styles below,
their class names will each need to be commented
out (or deleted) to avoid the problem of redundant
list markers.

Note also that ordered lists include the numbers
in the text, which is why they have a
list-style-type of "none".

*/

*[class^="ListHead"] {
  font-weight: bold;
  text-indent: 0;
  margin: 1em 0;
  }
ul,
ol {
  margin: 1em 0;
  }
li,
/*
[class^="ListNum"],
[class^="ListNumSubentry"],
*/
*[class^="ListAlpha"],
/*
*[class^="ListAlphaSubentry"],
*[class^="ListBullet"],
*[class^="ListBulletSubentry"],
*[class^="ListUnnum"],
*[class^="ListUnnumSubentry"],
*/
*[class^="NumberedParagraph"],
*[class^="BulletedParagraph"],
/*
*[class^="Extract-NumList"],
*[class^="Extract-BulletList"],
*/
*[class^="IngredientsList"],
*[class^="Sub-RecipeIngredientsList"]
/*
*[class^="BoxListNumb"],
*[class^="BoxListBullet"],
*[class^="BoxListUnnum"],
*[class^="SidebarListNum"],
*[class^="SidebarListBullet"],
*[class^="SidebarListUnnum"],
*[class^="AppendixListNum"],
*[class^="AppendixListUnnum"],
*[class^="AppendixListBullet"]
*/ {
  display: list-item;
  list-style-position: outside;
  margin-left: 1.5em;
  text-indent: 0;
  }
li ul,
li ol {
  margin: 0;
  }
ul li,
/*
*[class^="ListBullet"],
*[class^="ListUnnum"],
*/
*[class^="BulletedParagraph"],
/*
*[class^="Extract-BulletList"],
*/
*[class^="IngredientsList"],
*[class^="Sub-RecipeIngredientsList"]
/*
*[class^="BoxListBullet"],
*[class^="BoxListUnnum"],
*[class^="SidebarListBullet"],
*[class^="SidebarListUnnum"],
*[class^="AppendixListUnnum"],
*[class^="AppendixListBullet"]
*/ {
  list-style-type: disc;
  }
li ul li,
*[class^="ListBulletSubentry"],
*[class^="ListUnnumSubentry"] {
  list-style-type: square;
  }
ol li,
/*
*[class^="ListNum"],
*[class^="ListNumSubentry"],
*/
*[class^="ListAlpha"],
/*
*[class^="ListAlphaSubentry"],
*/
*[class^="NumberedParagraph"]
/*
*[class^="Extract-NumList"],
*[class^="BoxListNum"],
*[class^="SidebarListNum"],
*[class^="AppendixListNum"]
*/ {
/*list-style-type: decimal;*/
  list-style-type: none;
  margin-top: 0.5em;
  }

.NumberedParagraphsnp {
  list-style-type: none;
  margin-top: 0.5em;
}

li ol li
/*
*[class^="ListNumSubentry"],
*[class^="ListAlphaSubentry"],
*/ {
  border-bottom: none;
  }
/*
*[class^="ListNumSubentry"] {
  list-style-type: lower-roman;
  }
*[class^="ListAlpha"] {
  list-style-type: upper-alpha;
  }
li[class^="ListAlphaSubentry"] {
  list-style-type: lower-alpha;
  }
*/
li[class^="Checklist"],
li[class^="ChecklistSubentry"] {
  list-style-type: none;
  text-indent: 0;
  margin-left: 1.5em;
  }
li[class^="Checklist"]:before,
li[class^="ChecklistSubentry"]:before {
  display: block;
  width: 1.5em;
  float: left;
  margin-left: -1.5em;
  text-align: center;
  content: "\2713"; /* U+2713 "check mark" */
  }
*[class^="ColumnHead"] {
  font-weight: bold;
  text-indent: 0;
  }

/*
*[class^="RecipeProcedure"],
*[class^="RecipeProceduresNoIndent"],
*[class^="Sub-RecipeProcedures"],
*[class^="Sub-RecipeProceduresNoIndent"],
*[class^="Definition-Numbered"]
*/

/*
--------------------------------------------------
ILLUSTRATIONS
--------------------------------------------------
*/

*[class^="Illustrationholder"] {
  margin-top: 1em;
  text-align: center;
  }

.Illustrationholderill {
  margin-top: 1em;
  text-align: center;
  }

h1 + *[class^="Illustrationholder"] {
  background-color: transparent;
  }

h1 + .Illustrationholderill {
  background-color: transparent;
  }

*[class^="Caption"] {
  color: #666;
  text-indent: 0;
  text-align: center;
  font-size: .875em;
  font-style: italic;
  padding: 1em 0;
  }

.Captioncap {
  color: #666;
  text-indent: 0;
  text-align: center;
  font-size: .875em;
  font-style: italic;
  padding: 1em 0;
  }

*[class^="IllustrationSource"] {
  font-size: 0.8em;
  text-align: center;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
  }

.IllustrationSourceis {
  font-size: 0.8em;
  text-align: center;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
  }

*[class^="Illustrationholder"]+p,
*[class^="IllustrationSource"]+p {
  margin-top: 1em;
  }

.Illustrationholderill+p,
.IllustrationSourceis+p {
  margin-top: 1em;
  }

*[class^="Illustrationholder"]+*[class^="IllustrationSource"] {
  margin-top: 0;
  }

.Illustrationholderill+.IllustrationSourceis {
  margin-top: 0;
  }

section.abouttheauthor figure.Illustrationholderill img {
  max-height: 50%;
}

img.titlepage {
  width: 100%;
}

/*
--------------------------------------------------
RECIPES
--------------------------------------------------
*/

*[class^="Menu"],
*[class^="ChapterContent"] {
  }
*[class^="RecipeHeadnote"],
*[class^="Sub-RecipeHeadnote"] {
  font-style: italic;
  text-indent: 0;
  }
*[class^="RecipeTime"],
*[class^="RecipeYield"],
*[class^="Sub-RecipeYield"],
*[class^="RecipeNutritionInfo"],
*[class^="RecipeGarnish"] {
  margin-top: 1em;
  margin-bottom: 1em;
  text-indent: 0;
  }
*[class^="RecipeVarHead"],
*[class^="RecipeVarText"],
*[class^="RecipeVarTextNo-Indent"],
*[class^="RecipeNoteHead"],
*[class^="RecipeNoteText"],
*[class^="RecipeNoteTextNo-Indent"] {
  font-style: italic;
  }
*[class^="Sub-RecipeHead"],
*[class^="Sub-RecipeSubhead"],
*[class^="Sub-RecipeLevel-2Subhead"],
*[class^="Sub-RecipeLevel-3Subhead"],
*[class^="Sub-RecipeLevel-4Subhead"],
*[class^="Sub-RecipeLevel-5Subhead"],
*[class^="Sub-RecipeHeadnote"],
*[class^="Sub-RecipeIngredientsHead"],
*[class^="Sub-RecipeIngredientsList"],
*[class^="Sub-RecipeProcedures"],
*[class^="Sub-RecipeProceduresNoIndent"],
*[class^="Sub-RecipeYields"] {
  margin-left: 1.5em;
  margin-right: 1.5em;
  }
*[class^="Sub-RecipeLevel-1Subhead"] {
  margin-left: 1em;
  margin-right: 1em;
  }
*[class^="Sub-RecipeIngredientsList"],
*[class^="Sub-RecipeProcedures"],
*[class^="Sub-RecipeProceduresNoIndent"] {
  margin-left: 3em;
  }

/*
--------------------------------------------------
BOXES AND SIDEBARS
--------------------------------------------------
*/

*[class^="TOCPartNumber"],
*[class^="TOCChapterNumber"],
*[class^="RecipeHead"],
*[class^="Sub-RecipeHead"],
*[class^="RecipeSubhead"],
*[class^="Sub-RecipeSubhead"],
*[class^="BoxHead"],
*[class^="BoxSubhead"],
*[class^="SidebarHead"],
*[class^="ExtractHead"],
*[class^="PoemTitle"],
*[class^="SidebarSubhead"],
*[class^="PoemSubtitle"],
*[class^="TableHead"],
*[class^="TableSubhead"],
*[class^="ChartHead"],
*[class^="ChartSubhead"],
*[class^="FigureHead"],
*[class^="FigureSubhead"] {
  text-align: center;
  padding: .5em 0;
  }
*[class^="BoxHead"]+p,
*[class^="SidebarHead"]+p,
*[class^="ExtractHead"]+p,
*[class^="PoemTitle"]+p {
  margin-top: 1em;
  }
*[class^="BoxSourceNote"],
*[class^="BoxFootnote"],
*[class^="SidebarSourceNote"],
*[class^="SidebarFootnote"] {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }
*[class^="BoxExtract"],
*[class^="BoxExtract-Verse"],
*[class^="SidebarExtract"],
*[class^="SidebarExtract-Verse"] {
  }

/*
--------------------------------------------------
TABLES, CHARTS, and FIGURES
--------------------------------------------------
*/

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  }
th,
td {
  padding: .5em;
  border: 1px solid #ccc;
  }
*[class^="TableColumnHead"],
*[class^="TableSourceNote"],
*[class^="TableFootnote"],
*[class^="ChartColumnHead"],
*[class^="ChartLabel"],
*[class^="ChartSourceNote"],
*[class^="ChartFootnote"],
*[class^="FigureColumnHead"],
*[class^="FigureLabel"],
*[class^="FigureSourceNote"],
*[class^="FigureFootnote"] {
  text-indent: 0;
  }
*[class^="TableColumnHead"],
*[class^="ChartColumnHead"],
*[class^="FigureColumnHead"] {
  font-weight: bold;
  }
*[class^="TableSourceNote"],
*[class^="TableFootnote"],
*[class^="ChartSourceNote"],
*[class^="ChartFootnote"],
*[class^="FigureSourceNote"],
*[class^="FigureFootnote"] {
  font-size: .75em;
  margin: 1em 0;
  }

/*
--------------------------------------------------
GENERAL BACKMATTER HEADS
--------------------------------------------------
*/

.BMHeadbmh,
.BMTitlebmt,
.BMSubheadbmsh,
.BMHeadALTabmh {
  text-align: center;
  }
*[class^="BMHead"],
*[class^="BMTitle"],
*[class^="BMSubhead"],
*[class^="BMHeadALT"] {
  text-align: center;
  }
.BMHeadALTabmh,
.BMTextALTabmtx,
.BMTextALTNo-Indentabmtx1 {
  font-family: Helvetica,Arial,sans-serif;
  }
*[class^="BMHeadALT"],
*[class^="BMTextALT"],
*[class^="BMTextALTNo-Indent"] {
  font-family: Helvetica,Arial,sans-serif;
  }

/*
--------------------------------------------------
APPENDICES
--------------------------------------------------
*/

.AppendixHeadaph,
.AppendixSubheadapsh {
  text-align: center;
  }
*[class^="AppendixHead"],
*[class^="AppendixSubhead"] {
  text-align: center;
  }
.AppendixSourceNoteapsn,
.AppendixFootnoteapfn {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }
*[class^="AppendixSourceNote"],
*[class^="AppendixFootnote"] {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
BOB ADS
--------------------------------------------------
*/

.BOBAdTitlebobt,
.BOBAdSubtitlebobst,
.BOBAdLevel-1Subheadbobh1,
.BOBAdLevel-2Subheadbobh2,
.BOBAdLevel-3Subheadbobh3,
.BOBAdLevel-4Subheadbobh4,
.BOBAdLevel-5Subheadbobh5 {
  text-align: center;
  text-indent: 0;
  }

.BOBAdLevel-1Subheadbobh1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}

/*
--------------------------------------------------
GLOSSARY and DICTIONARY-STYLE ENTRIES
--------------------------------------------------
*/

.Exampleexa,
.Example-Versevexa,
.Exampleegeg,
.Exampleindialogformexad {
  font-style: italic;
  }
*[class^="Example"],
*[class^="Example-Verse"],
*[class^="Exampleeg"],
*[class^="Exampleindialogform"] {
  font-style: italic;
  }
.GlossaryTextgltx,
.Entryen,
.Definitiondef,
.DefinitionSourcedefs,
.Exampleexa,
.Referencesee,
.Exampleegeg,
.Exampleindialogformexad {
  text-indent: 0;
  }
*[class^="GlossaryText"],
*[class^="Entry"],
*[class^="Definition"],
*[class^="DefinitionSource"],
*[class^="Example"],
*[class^="References"],
*[class^="Exampleeg"],
*[class^="Exampleindialogform"] {
  text-indent: 0;
  }
.DefinitionSourcedefs {
  margin: 1em 0;
  }
*[class^="DefinitionSource"] {
  margin: 1em 0;
  }

/*
--------------------------------------------------
ADDRESSES
--------------------------------------------------
*/

*[class^="Address"] {
  text-indent: 0;
  }

/*
--------------------------------------------------
NOTES SECTION
--------------------------------------------------
*/

div[data-type="footnotes"] {
  margin-top: 1em;
}

p[data-type="footnote"] {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

*[class^="FootnoteText"],
*[class^="endnotetext"] {
  font-size: .75em;
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
BIBLIOGRAPHY
--------------------------------------------------
*/

*[class^="BibliographyText"] {
  text-indent: 0;
  margin: 1em 0;
  }

/*
--------------------------------------------------
INDEX
--------------------------------------------------
*/

*[class^="IndexEntry"],
*[class^="IndexSubentry"],
*[class^="IndexSub-subentry"] {
  text-indent: 0;
  }
*[class^="IndexSubentry"] {
  margin-left: 1.5em;
  }
*[class^="IndexSub-subentry"] {
  margin-left: 3em;
  }

/*
--------------------------------------------------
Misc
--------------------------------------------------
*/

.EBKLinkSourceLa {
  text-indent: 0;
  text-align: center;
}

.left {
  text-align: left;
  text-indent: 0;
}

.center {
  text-align: center;
  text-indent: 0;
}

.right {
  text-align: right;
  text-indent: 0;
}

/*
--------------------------------------------------
Nonprinting elements
--------------------------------------------------
*/

h1.ChapTitleNonprintingctnp {
  display: none;
}

*[class*="Nonprinting"] {
  display: none;
}

.Nonprinting {
  display: none;
}

.texttoc {
  display: none;
}
