@import url('../core_tor.css');

section[data-type="titlepage"] *[class*="TitlepageLogologo"] {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/squarefish/logo.jpg");
  background-size: auto 0.50in;
  height: 0.55in;
  background-position: center center;
  margin-bottom: auto;
}