/* TO COMPILE: $ sass novel.scss novel.css */

/* GLOBAL VARIABLES */
@import "../_modules/vars_global.scss";

/* LOCAL VARIABLES */
$biggest: 18pt; //sizehalftitle sizepartnum
$bigger: 16pt; //sizefst sizesubtitle sizeau sizetochead sizefmhead sizechaptitle
$big: 14pt; //sizeacmh sizechapsubtitle sizeh1
$normal: 11.75pt; //sizenormal sizechapnum sizeh2 sizeh3 sizeextracthead
$small: 10pt; //sizetitlepagetext sizecopyright sizeepigraph sizedateline
$smaller: 8.5pt; //sizecode sizecaption

$gridheight: 15.5pt;

$pagewidth: 5in;
$pageheight: 8in;
$bleedwidth: 0.125in;
$bleedheight: 0.125in;
$margintop: $gridheight * 3;
$marginbottom: 40pt;
$padding: 5pt 0 0 0;
$outsidemargin: 40pt;
$insidemargin: 50pt;

$textindent: 12pt;

$sizetitle: 25pt;
$sizesubtitle: $bigger;
$sizeau: $bigger;
$sizetitlepagetext: $small;
$sizefst: $bigger;
$sizefsqs: 10.5pt;
$sizeacmh: $big;
$sizehalftitle: $biggest;
$sizetochead: $bigger;
$sizetocentry: 11pt;
$sizefmhead: $bigger;
$sizepartnum: $biggest;
$sizeparttitle: 22pt;
$sizechapnum: $normal;
$sizechaptitle: $bigger;
$sizechapsubtitle: $big;
$sizeh1: $big;
$sizeh2: $normal;
$sizeh3: $normal;
$sizenormal: $normal;
$sizenormalalt: 9.75pt;
$sizecode: $smaller;
$sizepoetry: 10.5pt;
$sizeextract: 10.5pt;
$sizeextracthead: $normal;

$sizedateline: $small;
$sizeepigraph: $small;
$sizerunfoot: 9pt;
$sizerunhead: $smaller;
$sizecopyright: $small;
$sizefootnote: 9pt;
$sizecaption: $smaller;
$sizefigsrc: 7pt;
$sizesuperscript: 6pt;
$sizehwritingprint: 12.5pt;
$sizehwritingnormal: 10.75pt;

$hanging: -5pt;

$chapterstart: always;

$logoheight: auto;
$logowidth: 0.58in;

$htmargintop: ($gridheight * 4);

$ctmargintop: 0pt;
$ctmarginbottom: 5pt;
$comargintop: ($gridheight * 4);
$cemargintop: ($gridheight * 2);
$cemarginbottom: ($gridheight * 3);
$prmargintop: ($gridheight * 2);

$spacebreakheight: $gridheight;

$familyrunhead: "ArnoPro-Caption", serif;
$familybody: "ArnoPro", serif;
$familyfootnote: "ArnoPro-SmText", serif;


@import "../_modules/font_arnopro.scss";
@import "../_modules/font_aroma.scss";
@import "../_modules/font_minionpro.scss";
@import "../_modules/font_myriadpro.scss";
@import "../_modules/font_sourcecodepro.scss";
@import "../_modules/font_timesnewroman.scss";
@import "../_modules/font_noto.scss";
@import "../_modules/font_berrangerhanditc.scss";
@import "../_modules/font_feltpencom.scss";

@import "../_modules/base.scss";

/*@import "../_modules/gridlines.scss";*/

@page part {
  @top-center {
  }
  @bottom-center {
    content: normal;
  }
}

@page chapter {
  @top-center {
  }
  @bottom-center {
    content: normal;
  }
}

@page front {
  @top-center {
  }
}

@page copyright {
  margin-bottom: 31pt;
}

div.runheadleft {
  font-variant: prince-opentype(onum);
}

div.runheadright {
  font-variant: prince-opentype(onum);
}

div.runheadleft::before {
  content: counter(page)" • ";
  font-style: normal;
}

div.runheadright::after {
  content: " • "counter(page);
  font-style: normal;
}

figure.fullpage {
  margin-top: 0.55in;
  margin-inside: -0.81in;
  margin-outside: -0.69in; }

img[src*="fullpage"] {
  margin-top: -1.4in; }
