$familyrunhead: "AkzidenzGroteskPro", sans-serif, "Noto";
$familytitle: "AkzidenzGroteskPro", sans-serif, "Noto";
$familybody: "GaramondPro", serif, "Noto";
$familybodyalt: "AkzidenzGroteskPro", sans-serif, "Noto";
$familyfootnote: "GaramondPro", serif, "Noto";
$familycode: "SourceCodePro", monospace, "Noto";
$familybodyalt2: "GaramondPro", serif, "Noto";