$familyrunhead: "AkzidenzGroteskPro", sans-serif, "Noto";
$familytitle: "AkzidenzGroteskPro", sans-serif, "Noto";
$familybody: "GaramondPro", serif, "Noto";
$familybodyalt: "AkzidenzGroteskPro", sans-serif, "Noto";
$familyfootnote: "GaramondPro", serif, "Noto";
$familycode: "SourceCodePro", monospace, "Noto";
$familybodyalt2: "GaramondPro", serif, "Noto";

/*$fontpath: "/Users/nellie.mckesson/Dropbox (Macmillan Publishers)/backup/automation/tor-design-samples/Imprint_PoD_template_r4 Folder/Documentfonts";*/
$fontpath: "http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts";