@import url('../core_tor.css');

section[data-type="titlepage"] *[class*="TitlepageLogologo"] {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/imprint/logo.jpg");
  background-size: 1in auto;
  background-position: center center;
}