.Definitiondef {
    font-size: $sizeextract;
    line-height: ($gridheight * ($sizeextract / $sizenormal));
    text-indent: ($textindent * -2);
    margin: 0;
    margin-left: ($textindent * 2);
    margin-bottom: ($gridheight / 2);
}
.Definitiondef:first-of-type {
    text-indent: ($textindent * -2);
}