.Extract-SongLyricextsl {
  font-style: italic;
  text-indent: -$textindent;
  margin-left: $gridheight;
  text-align: left;

  em {
    font-style: normal;
  }
}

.Extract-SongLyricextsl:first-child {
  text-indent: -12pt;
}
