@mixin runhead {
  font-family: $familyrunhead;
  text-align: center;
  font-style: italic;
  font-size: $sizerunhead;
  vertical-align: top;
  padding: ($gridheight * 2) 0 0 0;
  margin: 0;
}

@page {
  size: 5in 8in;
  margin-top: $margintop;
  margin-bottom: $marginbottom;
  padding: $padding;
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  marks: crop;
  prince-mark-offset: 0.125in;
  prince-mark-length: 0in;
  bleed: 0.125in;
  @footnotes {
    font-family: $familyfootnote;
    font-size: $sizefootnote;
    background-image: url("http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerassets/titlepage-rule.jpg");
    background-position: 0 0in;
    background-size: 60pt auto;
    background-repeat: no-repeat;
    padding-top: 0.127in;
    margin-top: 0.38in;
    }
}

@page :left {
  margin-left: $outsidemargin;
  margin-right: $insidemargin;
}

@page :right {
  margin-left: $insidemargin;
  margin-right: $outsidemargin;
}

@page part {
  @top-center {
    @include runhead
  }
  @bottom-center {
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    /*content: counter(page);*/
    content: flow(runfoot);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page part:left {
  @top-center {
    /*content: string(author);*/
    content: flow(runheadleft);
  }

}

@page part:right {
  @top-center {
    /*content: string(title);*/
    content: flow(runheadright);
  }
}

@page part:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page part:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page chapter {
  @top-center {
    @include runhead
  }
  @bottom-center {
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    /*content: counter(page);*/
    content: flow(runfoot);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page chapter:left {
  @top-center {
    /*content: string(author);*/
    content: flow(runheadleft);
  }

}

@page chapter:right {
  @top-center {
    /*content: string(title);*/
    content: flow(runheadright);
  }
}

@page chapter:first {
  @top-center {
    content: normal;
  }
}

@page chapter:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page front {
  @top-center {
    content: normal;
    @include runhead
  }
  @bottom-center {
    content: normal;
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    content: counter(page);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page front:left {
  @top-center {
    content: normal;
    @include runhead
  }
  @bottom-center {
    content: normal;
  }
}

@page front:right {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page front:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page front:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright {
  margin-bottom: 0.25in;
  padding-bottom: 0;
  @top-center {
    content: normal;
    @include runhead
  }
  @bottom-center {
    content: normal;
    font-family: "ArnoPro-Caption", serif;
    font-variant: prince-opentype(onum);
    content: counter(page);
    text-align: center;
    font-size: $sizerunfoot;
    vertical-align: top;
  }
}

@page copyright:left {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright:right {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page copyright:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed {
  margin: 0;
  padding: 0;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:left {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:right {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:first {
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

@page fullbleed:blank {
  margin-top: 2.16in;
  @top-center {
    content: normal;
  }
  @bottom-center {
    content: normal;
  }
}

body {
  font-family: "ArnoPro", serif, "Noto";
  counter-reset: endnotes chapternumber;
}

section, p, div, h1, h2, h3, h4, h5, h6 {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

p {
  font-size: $sizenormal;
  line-height: $gridheight;
  text-indent: $textindent;
  text-align: justify;
  text-align-last: left;
  margin: 0;
  widows: 1;
  orphans: 1;
  hyphens: auto;
  prince-hyphenate-after: 3;
  prince-hyphenate-before: 2;
  hyphenate-lines: 3;
}

div.runheadleft {
  flow: static(runheadleft);
  font-family: "ArnoPro-Caption", serif, "Noto";
  text-align: center;
  font-style: italic;
  font-size: $sizerunhead;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

div.runheadright {
  flow: static(runheadright);
  font-family: "ArnoPro-Caption", serif, "Noto";
  text-align: center;
  font-style: italic;
  font-size: $sizerunhead;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

div.runfoot {
  flow: static(runfoot);
  font-family: "ArnoPro-Caption", serif, "Noto";
  font-variant: prince-opentype(onum);
  text-align: center;
  font-size: $sizerunfoot;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

div.runfoot span {
  display: block;
  content: counter(page);
  font-family: "ArnoPro-Caption", serif, "Noto";
  font-variant: prince-opentype(onum);
  text-align: center;
  font-size: $sizerunfoot;
  text-indent: 0;
}

p:first-of-type,
p[class^="SpaceBreak"] + p,
p[class*="No-Indent"] {
  text-indent: 0;
}

p[class*="SpaceBefore"] {
  margin-top: $gridheight;
}

p[class*="SpaceAround"] {
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

p[class*="SpaceAfter"] {
  margin-bottom: $gridheight;
}

blockquote {
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  page-break-inside: auto;
}

/* frontmatter */

section[data-type="halftitlepage"],
section[data-type="titlepage"],
section[data-type="preface"],
section[data-type="copyright-page"],
section.adcard {
  page-break-after: always;
}

section[data-type="halftitlepage"],
section[data-type="titlepage"] {
  page-break-before: right;
}

section[data-type="preface"].adcard {
  page-break-before: always;
}

section[data-type="halftitlepage"],
section[data-type="titlepage"],
section[data-type="copyright-page"],
section[data-type="dedication"],
nav[data-type="toc"] {
  page: front;
}

section[data-type="copyright-page"] {
  page: copyright;
}


*[class*="FrontSalesTitlefst"] {
  font-size: $sizefst;
  font-weight: bold;
  text-align: center;
  margin-bottom: $gridheight;
}

*[class*="FrontSalesQuoteNoIndentfsq1"]  {
  text-indent: 0;
  text-align: left;
}

*[class*="FrontSalesQuotefsq"],
*[class*="FrontSalesQuotefsq"]:first-of-type {
  text-indent: $hanging;
  text-align: left;
}

*[class*="FrontSalesQuoteSourcefsqs"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-weight: bold;
  font-size: $sizefsqs;
  text-align: right;
  margin-bottom: $gridheight;
}

*[class*="FrontSalesQuoteSourcefsqs"] em {
  break-inside: avoid;
}

section[data-type="halftitlepage"] > h1,
*[class*="HalftitleBookTitlehtit"] {
  font-size: $sizehalftitle;
  font-weight: normal;
  line-height: $gridheight;
  margin-top: $htmargintop;
  text-align: center;
}

section.adcard {
  text-align: center;
}

*[class*="AdCardMainHeadacmh"] {
  text-transform: lowercase;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-size: $sizeacmh;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  text-align: center;
  text-indent: 0;
}

*[class*="AdCardSubheadacsh"] {
  text-align: center;
  text-indent: 0;
  margin-top: $gridheight;
}

*[class*="AdCardListofTitlesacl"] {
  text-align: center;
  text-indent: 0;
}

section[data-type="titlepage"] > h1 {
  font-family: "ArnoPro-BoldSubhead", serif, "Noto";
  font-weight: normal;
  font-style: normal;
  font-size: $sizetitle;
  line-height: $sizetitle * 1.12;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  string-set: title content();
}

section[data-type="titlepage"] > h1:first-child {
  margin-top: $gridheight * 1.5;
}

*[class*="TitlepageBookSubtitlestit"] + h1,
*[class*="TitlepageSeriesTitleser"] + h1 {
  margin-top: $gridheight * 1.625;
}

h1 + *[class*="TitlepageBookSubtitlestit"],
h1 + *[class*="TitlepageSeriesTitleser"] {
  margin-top: $gridheight * 1.5;
  margin-bottom: 0;
}

*[class*="TitlepageBookSubtitlestit"],
*[class*="TitlepageSeriesTitleser"] {
  font-weight: normal;
  font-size: $sizesubtitle;
  line-height: $gridheight * 1.5;
  font-style: italic;
  text-align: center;

  em {
    font-style: normal;
  }
}

*[class*="TitlepageBookSubtitlestit"]:first-child,
*[class*="TitlepageSeriesTitleser"]:first-child {
  margin-top: $gridheight * 0.375;
}

*[class*="TitlepageTranslatorNametran"],
*[class*="TitlepageContributorNamecon"] {
  text-align: center;
}

section[data-type="titlepage"] *[class*="TitlepageAuthorNameau"] {
  font-size: $sizeau;
  padding-top: $gridheight * 2.5;
  background-image: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerassets/titlepage-rule.jpg');
  background-size: 60pt auto;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: $gridheight * 1.5;
  margin-bottom: $gridheight * 2;
  text-indent: 0;
  text-align: center;
  string-set: author content();
}

section[data-type="titlepage"] *[class*="TitlepageImprintLineimp"] {
  float: bottom;
  text-align: center;
  text-indent: 0;
}

section[data-type="titlepage"] *[class*="TitlepageLogologo"] {
  content: " ";
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/torDOTcom/logo.jpg");
  background-position: center bottom;
  background-size: $logowidth $logoheight;
  background-repeat: no-repeat;
  display: block;
  float: bottom;
  width: 100%;
  height: 0.5in;
  text-align: center;
  margin-bottom: 0.2in;
}

*[class*="TitlepageCitiescit"], *[class*="TitlepagePublisherNamepub"], *[class*="TitlepageImprintLineimp"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
  font-size: $sizetitlepagetext;
  line-height: $gridheight;
  float: bottom;
  text-align: center;
  text-indent: 0;
}

section[data-type="copyright-page"] p:first-child {
  margin-top: $gridheight;
}

section[data-type="copyright-page"] p {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizecopyright;
  text-align: center;
  text-indent: 0;
  line-height: $sizecopyright * 1.4;
}

*[class*="CopyrightTextdoublespacecrtxd"] {
  margin-bottom: $sizecopyright * 1.4;
}

section[data-type="dedication"] {
  page-break-before: always;
  page-break-after: always;
}

section[data-type="dedication"] p {
  text-align: center;
  font-style: italic;
  text-indent: 0;

  em {
    font-style: normal;
  }
}

.texttoc {
  display: none;
}

nav[data-type="toc"] {
  page-break-before: right;
  page-break-after: always;
}

nav[data-type="toc"] h1 {
  font-weight: bold;
  font-size: $sizetochead;
  line-height: $gridheight;
  margin-top: 0;
  text-align: center;
}

nav[data-type="toc"] ol {
  margin-left: 0;
}

nav[data-type="toc"] li {
  font-size: $sizetocentry;
  line-height: $gridheight;
  margin-bottom: $gridheight;
  margin-left: 0;
  list-style-type: none;
}

nav[data-type="toc"] li.FMHeadfmh {
  display: none;
}

nav[data-type="toc"] li.BMHeadbmh {
  margin-left: $sizenormal * 2;
  font-weight: normal;
  text-align: left;
}

nav[data-type="toc"] li.ChapTitlect + li.BMHeadbmh,
nav[data-type="toc"] li.ChapTitleALTact + li.BMHeadbmh {
  margin-top: $gridheight;
}

nav[data-type="toc"] li.PartNumberpn ~ li,
nav[data-type="toc"] li.PartTitlept ~ li {
  margin-bottom: 0;
}

nav[data-type="toc"] li.PartNumberpn ~ li.PartNumberpn,
nav[data-type="toc"] li.PartTitlept ~ li.PartTitlept,
nav[data-type="toc"] li.PartNumberpn ~ li.PartTitlept,
nav[data-type="toc"] li.PartTitlept ~ li.PartNumberpn {
  margin-bottom: $gridheight * 0.5626;
}

nav[data-type="toc"] li.PartNumberpn + li.PartTitlept {
  margin-top: -($gridheight * 0.5626);
}

nav[data-type="toc"] a {
  text-decoration: none;
  color: cmyk(0%,0%,0%,100%);
}

nav[data-type="toc"] li a:before {
  content: target-counter(attr(href), page);
  display: inline-block;
  width: $normal * 2;
  text-align: left;
}

nav[data-type="toc"] li.BMHeadbmh a:before {
  content: normal;
}

nav[data-type="toc"] li.PartNumberpn,
nav[data-type="toc"] li.PartTitlept {
  margin-bottom: $gridheight * 0.5626;
  margin-top: $normal * 2;
  vertical-align: top;
  font-style: italic;
}

nav[data-type="toc"] li.PartNumberpn a,
nav[data-type="toc"] li.PartTitlept a {
  vertical-align: top;
}

nav[data-type="toc"] li.PartNumberpn a:before,
nav[data-type="toc"] li.PartTitlept a:before {
  content: normal;
  display: inline;
}

section[data-type="preface"] {
  page: chapter;
  page-break-before: right;
  prince-page-group: start;
}

section.adcard {
  page: front;
}

section.frontsales {
  page: front;
}

section[data-type="preface"] h1,
section[data-type="appendix"] h1,
h1[class*="BMHeadbmh"],
h1[class*="AboutAuthorTextHeadatah"] {
  font-size: $sizefmhead;
  line-height: $gridheight;
  font-weight: bold;
  margin-top: $prmargintop;
  margin-bottom: $gridheight * 3;
  padding: 0;
  text-align: center;
}

section[data-type="preface"] *[class*="FMSubheadfmsh"], *[class*="ChapSubtitlecst"], *[class*="BMSubheadbmsh"],
.FMAuthorNamefmau {
  text-indent: 0;
  font-size: $sizechapsubtitle;
  line-height: $gridheight;
  font-style: italic;
  margin-top: $gridheight * 2;
  text-align: center;
  margin-bottom: $gridheight * 2;
  page-break-after: avoid;

  em {
    font-style: normal;
  }
}

section[data-type="preface"] *[class*="FMSubheadfmsh"]:first-of-type, *[class*="ChapSubtitlecst"]:first-of-type, *[class*="BMSubheadbmsh"]:first-of-type,
section[data-type="preface"] *[class*="FMAuthorNamefmau"]:first-of-type {
  margin-top: $gridheight * -2;
}

section[data-type="chapter"] {
  page: chapter;
  page-break-before: $chapterstart;
  prince-page-group: start;
  counter-reset: footnote;
}

section[data-type="preface"] + section[data-type="chapter"],
section[data-type="foreword"] + section[data-type="chapter"],
section[data-type="titlepage"] + section[data-type="chapter"],
section[data-type="halftitlepage"] + section[data-type="chapter"],
section[data-type="copyright-page"] + section[data-type="chapter"],
section[data-type="dedication"] + section[data-type="chapter"],
nav[data-type="toc"] + section[data-type="chapter"],
div[data-type="part"] + section[data-type="chapter"] {
  page-break-before: right;
}

section[data-type="chapter"] h1[class*="ChapNumbercn"],
*[class*="ChapNumberNonprintingcnp"] {
  font-size: $sizechapnum;
  line-height: $gridheight;
  font-weight: 600;
  text-align: center;
  margin-top: $gridheight * 1.25;
  margin-bottom: 7pt;
  text-indent: 0;
}

section[data-type="chapter"] h1[class*="ChapNumbercn"] + p,
*[class*="ChapNumberNonprintingcnp"] + p {
  margin-top: $gridheight;
}

h1[class*="ChapTitleNonprintingctnp"] + * {
  margin-top: $gridheight * 5;
}

section[data-type="chapter"] h1[class*="ChapTitlect"],
section[data-type="chapter"] h1[class*="ChapTitleALTact"] {
  font-size: $sizechaptitle;
  line-height: $gridheight;
  font-weight: normal;
  margin-top: $prmargintop;
  text-align: center;
  margin-bottom: $ctmarginbottom;
  counter-increment: chapternumber;
  padding: 0;
}

h1[class*="ChapTitlect"][data-autolabel="yes"]:before,
h1[class*="ChapTitleALTact"][data-autolabel="yes"]:before {
  content: attr(data-labeltext);
  display: block;
  font-size: $sizechapnum;
  line-height: $gridheight;
  font-weight: 600;
  text-align: center;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  text-indent: 0;
}

section[data-type="chapter"] h1[class*="ChapTitlect"] + p,
section[data-type="chapter"] h1[class*="ChapTitleALTact"] + p {
  margin-top: $comargintop;
}

[class*="Nonprinting"] {
  display: none;
}

section[data-type="appendix"] {
  page-break-before: right;
  counter-reset: footnote;
  page: chapter;
  prince-page-group: start;
}

section[data-type="appendix"]:first-of-type {
  page-break-before: right;
}

*[class*="BibliographyTextbibtx"] {
  text-indent: 0;
}

blockquote + *[class*="ChapOpeningText"] {
  /*margin-top: $gridheight * 3;*/
}

*[class*="ChapOpeningText"] .chapopener {
  font-weight: 600;
  letter-spacing: 0.1pt;
}

*[class*="Head-Level-1h1"] {
  text-indent: 0;
  font-size: $sizeh1;
  font-style: italic;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;

  em {
    font-style: normal;
  }
}

*[class*="Head-Level-2h2"] {
  text-indent: 0;
  font-size: $sizeh2;
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  text-transform: lowercase;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;
}

*[class*="Head-Level-3h3"] {
  text-indent: 0;
  font-size: $sizeh3;
  font-style: italic;
  text-align: center;
  margin-top: $gridheight * 2;
  margin-bottom: $gridheight;
  page-break-after: avoid;

  em {
    font-style: normal;
  }
}

div[data-type="part"] {
  page-break-before: right;
  counter-reset: footnote;
  page: part;
  prince-page-group: start;
}

div[data-type="part"] h1 {
  font-weight: normal;
  font-size: $sizeparttitle;
  letter-spacing: 1pt;
  text-transform: uppercase;
  line-height: 28pt;
  text-align: center;
  margin-top: 8pt;
}

div[data-type="part"] h1[class*="PartNumberpn"] {
  font-size: $sizepartnum;
  text-transform: lowercase;
  font-variant: prince-opentype(smcp, onum);
}

div[data-type="part"] h1[class*="PartNumberpn"] + div.runfoot + div.runheadright + div.runheadleft + h1[class*="PartTitlept"] {
  margin-top: 0;
}

*[class*="Text-StandardALTatx"],
*[class*="Text-StdNo-IndentALTatx1"] {
  font-family: "AromaNo2LTPro", sans-serif, "Noto";
  font-size: $sizenormalalt;
}

*[class*="Text-ComputerTypecom"],
*[class*="Text-ComputerTypeNo-Indentcom1"] {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

pre.poetry {
  font-family: "ArnoPro", serif, "Noto";
  margin: $gridheight 52pt $gridheight 36pt;
  white-space: pre-wrap;
}

pre.poetry p, pre.poetry p:first-of-type {
  text-indent: -$textindent;
  font-size: $sizepoetry;
}

p[class*="Extract"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizeextract;
}

p.Extract-Emailextem,
p.Extract-EmailHeadingemh,
p.Extract-Telegramtel {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

blockquote {
  margin-left: $gridheight;
  margin-right: $gridheight;
}

blockquote p:first-child {
  text-indent: 0;
}

/* ---------------- SCREENPLAY EXTRACT */

@import "_ScreenplayHeadsph.scss";
@import "_ScreenplaySubheadspsh.scss";
@import "_ScreenplayDramatisPersonaedp.scss";
@import "_ScreenplayTextNo-Indentsptx1.scss";
@import "_ScreenplayTextsptx.scss";
@import "_ScreenplayExtractsp.scss";

/* ---------------- SIDEBARS */

p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + aside,
p.SpaceBreak + div.runfoot + div.runheadright + div.runheadleft + aside,
p.PartOrnamentporn + div.runfoot + div.runheadright + div.runheadleft + aside,
p.ChapOrnamentcorn + div.runfoot + div.runheadright + div.runheadleft + aside,
p.ChapOrnamentALTcorn2 + div.runfoot + div.runheadright + div.runheadleft + aside,
p.SpaceBreakOrnamentorn + div.runfoot + div.runheadright + div.runheadleft + aside,
p.SpaceBreakwithOrnamentorn + div.runfoot + div.runheadright + div.runheadleft + aside,
p.SpaceBreakwithALTOrnamentorn2 + div.runfoot + div.runheadright + div.runheadleft + aside {
  margin-top: 0pt;
}

aside {
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  margin-left: $gridheight;
  margin-right: $gridheight;
  page-break-inside: auto;
}

aside p:first-child {
  text-indent: 0;
}

aside > *:first-child {
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
}

aside::after {
  display: block;
  content: " ";
  font-size: $normal;
  border-top: 0.5pt solid cmyk(0%,0%,0%,100%);
  line-height: $gridheight;
  margin-bottom: $gridheight;
  min-height: $gridheight;
}

@import "_SidebarHead-Level-1sbh1.scss";
@import "_SidebarHead-Level-2sbh2.scss";
@import "_SidebarTextsbtx.scss";
@import "_SidebarTextNo-Indentsbtx1.scss";
@import "_SidebarListBulletsbbl.scss";

/* ---------------- DEDICATION */

section[data-type="dedication"] p:first-child {
  margin-top: $gridheight;
}

section[data-type="dedication"] blockquote[data-type="epigraph"],
.Dedicationded + p[class*="Epigraph"] {
  page-break-before: always;
  margin-top: $gridheight * 2;
}

section[data-type="dedication"] blockquote[data-type="epigraph"] {
  margin-left: 0;
  margin-right: 0;
}

section[data-type="dedication"] p[class*="Epigraph-verse"],
section[data-type="dedication"] p[class*="Epigraph-non-verse"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-style: normal;
  font-size: $sizeepigraph;
  text-align: left;
  margin-left: $gridheight * 3.25;
  margin-right: $normal * 3;
  text-indent: -$textindent;
}

section[data-type="dedication"] p[class*="Epigraph-non-verse"] {
  margin-left: $sizenormal * 3;
  text-indent: 0;
}

section[data-type="dedication"] p[class*="EpigraphSource"] {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-weight: 600;
  font-size: $sizeepigraph;
  font-style: normal;
  text-align: right;
  margin-left: $sizenormal * 3;
  margin-right: $sizenormal * 3;
}

p[class*="EpigraphSource"] em {
  break-inside: avoid;
}

section[data-type="chapter"] > blockquote[data-type="epigraph"],
div[data-type="part"] > blockquote[data-type="epigraph"],
section[data-type="preface"] > blockquote[data-type="epigraph"] {
  margin-left: $sizenormal * 3;
  margin-right: $sizenormal * 3;
  margin-bottom: $cemarginbottom;
}

blockquote[data-type="epigraph"] + blockquote[data-type="epigraph"],
blockquote[data-type="epigraph"] + p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote[data-type="epigraph"], {
  margin-top: ($cemarginbottom * -1);
}

h1[class*="ChapTitlect"] + blockquote[data-type="epigraph"],
h1[class*="ChapTitleALTact"] + blockquote[data-type="epigraph"] {
  margin-top: $cemargintop;
}

section[data-type="chapter"] > blockquote[data-type="epigraph"] p,
div[data-type="part"] > blockquote[data-type="epigraph"] p,
section[data-type="preface"] > blockquote[data-type="epigraph"] p {
  font-family: "ArnoPro-SmText", "Noto";
  font-size: $sizeepigraph;
  line-height: $gridheight;
  text-align: left;
}

p.ChapEpigraph-versecepiv,
p.PartEpigraph-versepepiv,
p.FMEpigraph-versefmepiv {
  margin-left: $gridheight;
  text-indent: $gridheight * -1;
  page-break-inside: auto;
}

blockquote p.ChapEpigraph-versecepiv:first-child,
blockquote p.PartEpigraph-versepepiv:first-child,
blockquote p.FMEpigraph-versefmepiv:first-child {
  text-indent: $gridheight * -1;
}

p.ChapEpigraph-non-versecepi,
p.PartEpigraph-non-versepepi,
p.FMEpigraph-non-versefmepi {
  margin-left: 0;
  page-break-inside: auto;
}

p.ChapEpigraphSourceceps,
p.PartEpigraphSourcepeps,
p.FMEpigraphSourcefmeps {
  text-align: right;
  font-weight: 600;
  /*page-break-before: avoid;*/
  widows: 2;
  orphans: 2;
}

p.ChapEpigraphSourceceps,
p.PartEpigraphSourcepeps,
p.FMEpigraphSourcefmeps {
  margin-top: $gridheight; }

*[class*="ChapEpigraphSourceceps"] em,
*[class*="PartEpigraphSourcepeps"] em,
*[class*="FMEpigraphSourcefmeps"] em {
  break-inside: avoid;
}

p[class*="EpigraphSource"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Epigraph-verse"],
p[class*="EpigraphSource"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Epigraph-non-verse"] {
  margin-top: $gridheight * 2;
}

/* ---------------- EXTRACTS */

@import "_Extract-Inscriptionins.scss";
@import "_Extract-SongLyricextsl.scss";
@import "_NoteLevel-1Subheadn1.scss";
@import "_NoteLevel-2Subheadn2.scss";

*[class*="ExtractHeadexth"] {
  page-break-after: avoid;
}

*[class*="ExtractHeadexth"], *[class*="Extract-Headlineexthl"] {
  font-size: $sizeextracthead;
  line-height: $gridheight;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
}

*[class*="ExtractHeadexth"] + p {
  text-indent: 0;
}

*[class*="Extract-VerseorPoetryextv"] {
  font-style: italic;
  text-indent: -$textindent;
  margin-left: $gridheight;
  text-align: left;

  em {
    font-style: normal;
  }
}

[class*="Extract-VerseorPoetryextv"]:first-child {
text-indent: -12pt;
}

p[class*="ExtractSource"] {
  text-align: right;
  font-weight: 600;
  widows: 2;
  orphans: 2;
}

p[class*="Extract-Noteextn"] {
	text-indent: none;
	text-align: center;
	hyphens: none;
}

span.spanaltfont1span1 {
  	font-family: FeltpenCom-Medium;
  	font-size: $sizehwritingprint;
  	letter-spacing: .02em; }

span.spanaltfont2span2 {
  	font-family: BerrangerHandITCStd;
  	font-size: $sizehwritingnormal; }

p.LetterExtBodyTextltx, p.LetterExtBodyTextNo-Indentltx1 {
  font-style: italic;

  em {
    font-style: normal;
  }
}

p.LetterExtHeadnotehn {
  font-weight: bold;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
}

p.LetterExtSalutationlsa {
  font-style: italic;
  text-indent: 0;
  margin-top: $gridheight;
  margin-bottom: $gridheight;

  em {
    font-style: normal;
  }
}

p.LetterExtAddressladd,
p.LetterExtGeneralextl,
p.LetterExtPostscriptlps {
  font-style: italic;
  text-indent: 0;

  em {
    font-style: normal;
  }
}

p.LetterExtClosinglcl {
  font-style: italic;
  text-indent: 0;
  margin-top: $gridheight;

  em {
    font-style: normal;
  }
}

p.LetterExtSignaturelsig {
  font-style: italic;
  text-indent: 0;
  margin-bottom: $gridheight;

  em {
    font-style: normal;
  }
}

p[class*="ExtractSource"] em {
  break-inside: avoid;
}

p[class*="Dateline"] {
  text-indent: 0;
  font-size: $sizedateline;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  margin-top: $gridheight * 3;
  margin-bottom: $gridheight;
  text-align: left;

  em {
    font-style: normal;
  }
}

p[class*="Dateline"] + div.runfoot + div.runheadright + div.runheadleft + p[class*="Dateline"] {
  margin-top: -$gridheight;
}

p.LetterExtDatelineldl {
  font-weight: normal;
  font-size: $sizedateline;
  text-indent: 0;
  text-transform: none;
  text-align: left;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  hyphens: none;
}

/* --------------- LISTS */

ul {
  padding-left: 0;
  margin: $gridheight 0 $gridheight 1em;
}

ol {
  padding-left: 0;
  margin: $gridheight 0 $gridheight 1.2em;
}

ol li {
  margin-left: 0;
  padding-left: 0.167em;
}

ul li {
  margin-left: 0;
  padding-left: 0.3em;
}

h1 + ul, h1 + ol {
  padding-top: 3pt;
}

@import "_ChapterContentscc.scss";

/* --------------- FIGURES*/

*[class*="IllustrationSourceis"] {
  font-family: "MinionPro", serif, "Noto";
  font-size: $sizefigsrc;
  text-align: center;
  margin-top: 0;
  margin-bottom: 27pt;
  page-break-before: avoid;
  text-indent: 0;
}

*[class*="IllustrationSourceis"] a {
  text-decoration: none;
  color: cmyk(0%,0%,0%,100%);
}

section[data-type="copyright-page"] *[class*="IllustrationSourceis"] {
  font-size: $sizefigsrc;
  margin-top: 0;
  margin-bottom: 0;
  float: bottom;
}

section[data-type="copyright-page"] *[class*="IllustrationSourceis"] a {
  text-decoration: none;
  color: cmyk(0%,0%,0%,100%);
}

section[data-type="copyright-page"] *[class*="IllustrationSourceis"] a:before {
  content: "Page " target-counter(attr(href), page) " ";
}

figure {
  page-break-inside: avoid;
  margin-top: 27pt;
  margin-bottom: $gridheight * 2;
  text-align: center;
  float: top unless-fit;
}

figure.customimage {
  padding: ($gridheight * 0.5) 0;
  margin-top: $gridheight;
  margin-bottom: ($gridheight * 0.625);
  float: none; }

figure.customimage img {
  padding: 0;
  margin: 0; }

figure.fullpage {
  float: top unless-fit;
  box-sizing: border-box;
  width: $pagewidth + ($bleedwidth * 2);
  margin-top: 0.55in;
  margin-bottom: 0;
  text-align: inside;
  text-align-last: inside;
  margin-inside: -1in;
  margin-outside: -0.75in;
  overflow: visible;
  height: 5.4in; }

h1 + figure {
  min-height: 21pt;
  margin-top: -40pt;
  margin-bottom: 51pt;
  vertical-align: center;
}

figcaption {
  font-family: "AromaNo2LTPro", sans-serif, "Noto";
  font-size: $sizecaption;
  line-height: $gridheight;
  text-align: left;
}

/* suppressing, for now */
figure.fullpage figcaption {
  display: none;
}

img {
  max-width: 100%;
  prince-image-resolution: auto, 300dpi;
  text-align: center;
}

img[src*="fullpage"] {
  display: block;
  width: $pagewidth + ($bleedwidth * 2);
  height: $pageheight + ($bleedheight * 2);
  margin-top: -1.65in; }

section[data-type="appendix"] h1 + figure, .abouttheauthor h1 + figure {
  margin-top: -($gridheight * 2);
  margin-bottom: 27pt;
  max-height: 2in;
}

section[data-type="appendix"] h1 + figure img, .abouttheauthor figure img {
  max-height: 2in;
}

*[class*="TeaserOpeningTexttotx"], *[class*="TeaserOpeningTextNo-Indenttotx1"] {
  text-align: center;
  text-indent: 0;
}

p[class*="SpaceAfter"] + p[class*="Extract"],
p[class*="SpaceAround"] + p[class*="Extract"],
p[class*="Extract-NoIndent"] {
  text-indent: 0;
}

p.SpaceBreak,
p.SpaceBreak-1-Linels1,
p.SpaceBreak-2-Linels2,
p.SpaceBreak-3-Linels3,
p.SpaceBreak-Internalint {
  text-indent: 0;
}

p.SpaceBreak,
p.SpaceBreak-1-Linels1,
p.SpaceBreak-Internalint,
p.PartOrnamentporn,
p.ChapOrnamentcorn,
p.ChapOrnamentALTcorn2,
p.SpaceBreakOrnamentorn,
p.SpaceBreakwithOrnamentorn,
p.SpaceBreakwithALTOrnamentorn2 {
  text-indent: 0;
  content: " ";
  font-size: $gridheight;
  text-align: center;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  margin-top: $gridheight;
  margin-bottom: $gridheight;
  padding: 0pt;
  width: 100%;
  height: $spacebreakheight;
}

p.SpaceBreak,
p.SpaceBreak-1-Linels1,
p.SpaceBreak-Internalint {
  background-image: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerassets/titlepage-rule.jpg');
  background-size: 60pt auto;
}

p.PartOrnamentporn,
p.ChapOrnamentcorn,
p.ChapOrnamentALTcorn2 {
  background-image: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerassets/titlepage-rule.jpg');
  background-size: 60pt auto;
}

p.SpaceBreakOrnamentorn,
p.SpaceBreakwithOrnamentorn {
  background-image: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerassets/orn.jpg');
  background-size: 20.5pt auto;
  height: $spacebreakheight;
}

p.SpaceBreakwithALTOrnamentorn2 {
  background-image: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerassets/orn-bull.jpg');
  background-size: 21.6pt auto;
  height: $spacebreakheight;
}

p.SpaceBreak-PrintOnlypo {
  text-indent: 0;
  content: " ";
  font-size: $gridheight;
  height: $gridheight;
}

p.SpaceBreak-2-Linels2 {
  height: $gridheight * 2;
  content: " ";
}

p.SpaceBreak-3-Linels3 {
  height: $gridheight * 3;
  content: " ";
}

p[class*="SpaceBreak"] + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.SpaceBreak + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.PartOrnamentporn + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.ChapOrnamentcorn + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.ChapOrnamentALTcorn2 + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.SpaceBreakOrnamentorn + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.SpaceBreakwithOrnamentorn + div.runfoot + div.runheadright + div.runheadleft + blockquote,
p.SpaceBreakwithALTOrnamentorn2 + div.runfoot + div.runheadright + div.runheadleft + blockquote {
  margin-top: 0pt;
}

p.customimage {
  background-image: none;
  height: auto;
}

/* page break */
@import "_PageBreakpb.scss";

/* footnotes */

span[data-type="footnote"],
.endnotetext {
  font-family: "ArnoPro-SmText", serif, "Noto";
  font-size: $sizefootnote;
  line-height: $normal;
  text-indent: 0;
  margin-left: 0;
}

span[data-type="footnote"] {
  float: footnote;
  footnote-style-position: inside;
}

span[data-type="footnote"] > span {
  display: block;
  text-indent: $normal;
}

span[data-type="footnote"] > span:first-of-type {
  display: inline;
  text-indent: 0;
}

::footnote-call { content: counter(footnote, symbols('*', '†', '‡', '§')); }

::footnote-marker {
    content: counter(footnote, symbols('*', '†', '‡', '§')) "\2003";
    font-family: "ArnoPro", "Noto";
    font-weight: 600;
}

*[class*="endnotetext"] {
  line-height: $gridheight;
  counter-increment: endnotes;
}

*[class*="endnotetext"] p:first-of-type:before {
  content: counter(endnotes)"\2003";
  font-family: "ArnoPro", "Noto";
    font-weight: 600;
    display: inline-block;
}

/* character styles */

.spansmallcapscharacterssc {
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  text-transform: lowercase;
}

.spansmcapitalscital {
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-style: italic;
  text-transform: lowercase;
}

.spansmcapboldscbold {
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-weight: bold;
  text-transform: lowercase;
}

.spansmcapbolditalscbi {
  font-variant: small-caps;
  font-variant: prince-opentype(smcp, onum);
  font-weight: bold;
  font-style: italic;
  text-transform: lowercase;
}

.spanboldfacecharactersbf {
  font-weight: bold;
}

.spanitaliccharactersital {
  font-style: italic;
}

.spanbolditalbem {
  font-style: italic;
  font-weight: bold;
}

.spanunderscorecharactersus {
  text-decoration: underline;
}

sup, sub {
  font-size: $sizesuperscript;
    vertical-align: top;
    position: relative;
    top: -0.6em;
}

sub { top: 0.1em; }

*[class*="spansuperscriptcharacterssup"] {
  font-size: $sizesuperscript;
  vertical-align: top;
    position: relative;
    top: -0.6em;
}

*[class*="spansubscriptcharacterssub"] {
  font-size: $sizesuperscript;
  vertical-align: top;
    position: relative;
    top: 0.1em;
}

*[class*="spansymbolssym"] {
}

*[class*="spanaccentcharactersacc"] {}

*[class*="spanstrikethroughcharactersstr"] {
  text-decoration: line-through;
}

*[class*="spanrun-incomputertypecomp"] {
  font-family: "SourceCodePro", monospace, "Noto";
  font-size: $sizecode;
}

*[class*="bookmakerkeeptogetherkt"] {
  white-space: pre;
  page-break-inside: avoid;
}

p.BookmakerPageBreakbr,
.bookmakerforcepagebreakbr {
  page-break-after: always;
}

*[class*="tighten"], .bookmakertightenbkt {
  letter-spacing: -0.2pt;
}

*[class*="loosen"], .bookmakerloosenbkl {
  letter-spacing: 0.2pt;
}

.nobreak {
  page-break-before: avoid;
}

.left {
  text-align: left;
  text-indent: 0;
}

.center {
  text-align: center;
  text-indent: 0;
}

.right {
  text-align: right;
  text-indent: 0;
}
