@font-face {
  font-family: "GaramondPro";
  src: url('#{$fontpath}/AGaramondPro-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GaramondPro";
  src: url('#{$fontpath}/AGaramondPro-Italic.otf');
  font-style: italic;
  font-weight: normal;
}