@page {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/grid.jpg");
  background-position: top left;
  background-size: auto $gridheight;
  background-repeat: repeat-y;
}