@import url('../core_tor.css');

section[data-type="titlepage"] *[class*="Logo-PlacementLogo"] {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/minotaur/logo.jpg");
  background-size: auto 1in;
  height: 1.1in;
  background-position: center center;
  margin-bottom: auto;
  background-repeat: no-repeat;
}
