@import url('../core_tor.css');

section[data-type="titlepage"] *[class*="TitlepageLogologo"] {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/griffin/logo.jpg");
  background-size: auto 0.70in;
  height: 0.80in;
  padding-bottom: 20px;
  background-position: center center;
  margin-bottom: auto;
}