@import url('../core_tor.css');

section[data-type="titlepage"] *[class*="Logo-PlacementLogo"] {
  background-image: url("https://raw.githubusercontent.com/macmillanpublishers/bookmaker_assets/master/pdfmaker/images/griffin/logo.jpg");
  background-size: 1in auto;
}
