$familyrunhead: "MinionPro", serif, "Noto";
$familytitle: "MinionPro", serif, "Noto";
$familybody: "MinionPro", serif, "Noto";
$familybodyalt: "AromaNo2LTPro", sans-serif, "Noto";
$familyfootnote: "MinionPro", serif, "Noto";
$familycode: "SourceCodePro", monospace, "Noto";
$familybodyalt2: "MinionPro", serif, "Noto";