/* --------- AdCardSubheadacsh --------- */

#{$AdCardSubheadacsh} {
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: bold;
  margin: 1em 0 1em 0;
  text-align: center;
}
