/* --------- BOBAdQuoteSourcebobqs --------- */

$BOBAdQuoteSourcebobqs {
  text-align: right;
  text-indent: 0;
  font-style: normal;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
