/* --------- BoxEpigraphSourcebeps --------- */

#{$BoxEpigraphSourcebeps} {
  text-align: right;
  text-indent: 0;
  font-style: normal;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1em;
}
