$mainheads: "${BMHeadbmh}, ${BMHeadNonprintingbmhnp}, ${BMHeadALTabmh}, ${AppendixHeadaph}, ${AboutAuthorTextHeadatah}, ${PartNumberpn}, ${PartTitlept}, ${ChapTitlect}, ${ChapTitleNonprintingctnp}, ${FMHeadfmh}, ${FMHeadNonprintingfmhnp}, ${FMHeadALTafmh}, ${FrontSalesTitlefst}, ${BOBAdTitlebobt}, ${AdCardMainHeadacmh}, ${TitlepageBookTitletit}, ${HalftitleBookTitlehtit}";

$FrontSalesTitlefst: "";
$FrontSalesSubtitlefsst: "";
$FrontSalesTextfstx: "";
$FrontSalesTextNoIndentfstx1: "";
$FrontSalesQuoteHeadfsqh: "";
$FrontSalesQuotefsq: "";
$FrontSalesQuoteNoIndentfsq1: "";
$FrontSalesQuoteSourcefsqs: "";
$AdCardMainHeadacmh: "";
$AdCardSubheadacsh: "";
$AdCardListofTitlesacl: "";
$HalftitleBooktitlehtit: "";
$TitlepageBookTitletit: "";
$TitlepageBookSubtitlestit: "";
$TitlepageAuthorNameau: "";
$TitlepageContributorNamecon: "";
$TitlepageTranslatorNametran: "";
$TitlepageSeriesTitleser: "";
$TitlepageReadingLinerl: "";
$TitlepageImprintLineimp: "";
$TitlepagePublisherNamepub: "";
$TitlepageCitiescit: "";
$CopyrightTextsinglespacecrtx: "";
$CopyrightTextdoublespacecrtxd: "";
$Dedicationded: "";
$DedicationAuthordedau: "";
$Epigraph-non-verseepi: "";
$Epigraph-verseepiv: "";
$EpigraphSourceeps: "";
$TOCFrontmatterHeadcfmh: "";
$TOCAuthorcau: "";
$TOCPartNumbercpn: "";
$TOCPartTitlecpt: "";
$TOCChapterNumberccn: "";
$TOCChapterTitlecct: "";
$TOCChapterSubtitleccst: "";
$TOCLevel-1ChapterHeadch1: "";
$TOCBackmatterHeadcbmh: "";
$TOCPageNumbercnum: "";
$FMHeadfmh: "";
$FMSubheadfmsh: "";
$FMTitlefmt: "";
$FMAuthorNamefmau: "";
$FMEpigraph-non-versefmepi: "";
$FMEpigraph-versefmepiv: "";
$FMEpigraphSourcefmeps: "";
$FMLevel-1Subheadfmh1: "";
$FMLevel-2Subheadfmh2: "";
$FMLevel-3Subheadfmh3: "";
$FMLevel-4Subheadfmh4: "";
$FMLevel-5Subheadfmh5: "";
$FMTextfmtx: "";
$FMTextSpaceAroundfmtx: "";
$FMTextSpaceBeforefmtx: "";
$FMTextSpaceAfterfmtx: "";
$FMTextNo-Indentfmtx1: "";
$FMTextNo-IndentSpaceAfterfmtx1: "";
$FMTextNo-IndentSpaceBeforefmtx1: "";
$FMTextNo-IndentSpaceAroundfmtx1: "";
$FMHeadALTafmh: "";
$FMTextALTafmtx: "";
$FMTextNo-IndentALTafmtx1: "";
$FMAuthorSignatureausig: "";
$FMDramatisPersonaefmdp: "";
$PartNumberpn: "";
$PartTitlept: "";
$PartSubtitlepst: "";
$PartEpigraph-non-versepepi: "";
$PartEpigraph-versepepiv: "";
$PartEpigraphSourcepeps: "";
$PartOpeningTextpotx: "";
$PartOpeningTextNo-Indentpotx1: "";
$PartOrnamentporn: "";
$PartOrnamentALTporn2: "";
$PartContentsMainHeadpcmh: "";
$PartContentsHeadpch: "";
$ChapNumbercn: "";
$ChapTitlect: "";
$ChapSubtitlecst: "";
$ChapTitleNonprintingctnp: "";
$ChapAuthorca: "";
$Dateline-Chapterdl: "";
$ChapEpigraph-non-versecepi: "";
$ChapEpigraph-versecepiv: "";
$ChapEpigraphSourceceps: "";
$ChapOpeningTextcotx: "";
$ChapOpeningTextSpaceAftercotx: "";
$ChapOpeningTextNo-Indentcotx1: "";
$ChapOpeningTextNo-IndentSpaceAftercotx1: "";
$ChapOrnamentcorn: "";
$ChapOrnamentALTcorn2: "";
$VolumeNumbervoln: "";
$VolumeTitlevolt: "";
$CollectionBookNumberbkn: "";
$CollectionBookTitlebkt: "";
$Text-Standardtx: "";
$Text-StandardSpaceAftertx: "";
$Text-StandardSpaceAroundtx: "";
$Text-StandardSpaceBeforetx: "";
$Text-StdNo-Indenttx1: "";
$Text-StdNo-IndentSpaceAftertx1: "";
$Text-StdNo-IndentSpaceAroundtx1: "";
$Text-StdNo-IndentSpaceBeforetx1: "";
$Text-StandardALTatx: "";
$Text-StdNo-IndentALTatx1: "";
$Text-ComputerTypecom: "";
$Text-ComputerTypeNo-Indentcom1: "";
$Text-Narrativenar: "";
$Text-NarrativeNo-Indentnar1: "";
$Text-Dialoguedia: "";
$FootnoteTextfn: "";
$InitialCapic: "";
$DisplayPhrasedis: "";
$Storydatelinesdl: "";
$Storylocationlinesloc: "";
$SpaceBreak: "";
$SpaceBreakwithOrnamentorn: "";
$SpaceBreakwithALTOrnamentorn2: "";
$SectionBreaksbr: "";
$PartStartpts: "";
$PartEndpte: "";
$PageBreakpb: "";
$SpaceBreak-1-Linels1: "";
$SpaceBreak-2-Linels2: "";
$SpaceBreak-3-Linels3: "";
$Head-Level-1h1: "";
$Head-Level-2h2: "";
$Head-Level-3h3: "";
$Head-Level-4h4: "";
$Head-Level-5h5: "";
$Head-Level6h6: "";
$Dateline-Texttdl: "";
$Extractext: "";
$Extract-NoIndentext1: "";
$ExtractHeadexth: "";
$ExtractHeadlineexthl: "";
$Extract-VerseorPoetryextv: "";
$Extract-BulletedListextbl: "";
$Extract-NumberedListextnl: "";
$Extract-Noteextn: "";
$Extract-NoteHeadextnh: "";
$Extract-Headlineexthl: "";
$Extract-Emailextem: "";
$Extract-EmailHeadingemh: "";
$Extract-Websiteextws: "";
$Extract-SongLyricextsl: "";
$Extract-BusinessCardextbc: "";
$Extract-Telegramtel: "";
$Extract-Inscriptionins: "";
$Extract-ScheduleofEventssch: "";
$Extract-Newspapernews: "";
$Extract-Diaryextd: "";
$Extract-Transcripttrans: "";
$EpigraphinText-non-versetepi: "";
$EpigraphinText-versetepiv: "";
$EpigraphinText-Sourceteps: "";
$LetterExtGeneralextl: "";
$LetterExtHeadnotehn: "";
$LetterExtDatelineldl: "";
$LetterExtAddressladd: "";
$LetterExtSalutationlsa: "";
$LetterExtText/Bodyltx: "";
$LetterExtText/Body,No-Indentltx1: "";
$LetterExtClosinglcl: "";
$LetterExtSignaturelsig: "";
$LetterExtPostscriptlps: "";
$ScreenplayDramatisPersonaedp: "";
$ScreenplayHeadsph: "";
$ScreenplaySubheadspsh: "";
$ScreenplaySpeakers: "";
$ScreenplayExtractsp: "";
$ScreenplayTextsptx: "";
$ScreenplayTextNo-Indentsptx1: "";
$ScreenplayStageDirectionssd: "";
$PoemTitlevt: "";
$PoemSubtitlevst: "";
$PoemLevel-1Subheadvh1: "";
$PoemLevel-2Subheadvh2: "";
$PoemLevel-3Subheadvh3: "";
$PoemLevel-4Subheadvh4: "";
$PoemLevel-5Subheadvh5: "";
$PoemNumericSubheadsvhn: "";
$PoemEpigraph-non-versevepi: "";
$PoemEpigraph-versevepiv: "";
$PoemEpigraphSourceveps: "";
$PoemDatelinevdl: "";
$PoemDedicationvded: "";
$VerseTextvtx: "";
$VerseRun-inTextvrtx: "";
$VerseRun-inTextNo-Indentvrtx1: "";
$ListHeadlh: "";
$ListNumnl: "";
$ListNumSubentrynsl: "";
$ListAlphaal: "";
$ListAlphaSubentryasl: "";
$ListBulletbl: "";
$ListBulletSubentrybsl: "";
$ListUnnumul: "";
$ListUnnumSubentryusl: "";
$Checklistck: "";
$ChecklistSubentrycksl: "";
$NumberedParagraphsnp: "";
$BulletedParagraphsbp: "";
$ColumnHeadch: "";
$List2-Columncl2: "";
$List3-Columncl3: "";
$List4-Columncl4: "";
$List5-Columncl5: "";
$ColumnTextcoltx: "";
$ColumnTextNo-Indentcoltx1: "";
$Illustrationholderill: "";
$Captioncap: "";
$IllustrationSourceis: "";
$Menumenu: "";
$ChapterContentscc: "";
$RecipeHeadrh: "";
$RecipeSubheadrsh: "";
$RecipeLevel-1Subheadrh1: "";
$RecipeLevel-2Subheadrh2: "";
$RecipeLevel-3Subheadrh3: "";
$RecipeLevel-4Subheadrh4: "";
$RecipeLevel-5Subheadrh5: "";
$RecipeHeadnoterhn: "";
$IngredientsHeadrih: "";
$IngredientsListri: "";
$RecipeProceduresrp: "";
$RecipeProceduresNoIndentrp1: "";
$RecipeTimert: "";
$RecipeYieldry: "";
$Sub-RecipeHeadsrh: "";
$Sub-RecipeSubheadsrsh: "";
$Sub-RecipeLevel-1Subheadsrsh1: "";
$Sub-RecipeLevel-2Subheadsrsh2: "";
$Sub-RecipeLevel-3Subheadsrsh3: "";
$Sub-RecipeLevel-4Subheadsrsh4: "";
$Sub-RecipeLevel-5Subheadsrsh5: "";
$Sub-RecipeHeadnotesrhn: "";
$Sub-RecipeIngredientsHeadsrih: "";
$Sub-RecipeIngredientsListsri: "";
$Sub-RecipeProceduressrp: "";
$Sub-RecipeProceduresNoIndentsrp1: "";
$Sub-RecipeYieldsry: "";
$RecipeVarHeadrvh: "";
$RecipeVarTextrvtx: "";
$RecipeVarTextNo-Indentrvtx1: "";
$RecipeNutritionInforni: "";
$RecipeNoteHeadrnh: "";
$RecipeNoteTextrntx: "";
$RecipeNoteTextNo-Indentrntx1: "";
$RecipeGarnishrg: "";
$BoxTextbtx: "";
$BoxTextNo-Indentbtx1: "";
$BoxHeadbh: "";
$BoxSubheadbsh: "";
$BoxHead-Level-1bh1: "";
$BoxHead-Level-2bh2: "";
$BoxHead-Level-3bh3: "";
$BoxHead-Level-4bh4: "";
$BoxHead-Level-5bh5: "";
$BoxEpigraph-non-versebepi: "";
$BoxEpigraph-versebepiv: "";
$BoxEpigraphSourcebeps: "";
$BoxListNumbnl: "";
$BoxListBulletbbl: "";
$BoxListUnnumbul: "";
$BoxExtractbext: "";
$BoxExtract-Versebextv: "";
$BoxSourceNotebsn: "";
$BoxFootnotebfn: "";
$SidebarTextsbtx: "";
$SidebarTextNo-Indentsbtx1: "";
$SidebarHeadsbh: "";
$SidebarSubheadsbsh: "";
$SidebarHead-Level-1sbh1: "";
$SidebarHead-Level-2sbh2: "";
$SidebarHead-Level-3sbh3: "";
$SidebarHead-Level-4sbh4: "";
$SidebarHead-Level-5sbh5: "";
$SidebarEpigraph-non-versesbepi: "";
$SidebarEpigraph-versesbepiv: "";
$SidebarEpigraphSourcesbeps: "";
$SidebarListNumsbnl: "";
$SidebarListBulletsbbl: "";
$SidebarListUnnumsbul: "";
$SidebarExtractsbext: "";
$SidebarExtract-Versesbextv: "";
$SidebarSourceNotesbsn: "";
$SidebarFootnotesbfn: "";
$TableNumbertn: "";
$TableHeadth: "";
$TableSubheadtsh: "";
$TableColumnHeadtch: "";
$TableBodyTexttbtx: "";
$TableBodyTextNo-Indenttbtx1: "";
$TableSourceNotetsn: "";
$TableFootnotetfn: "";
$ChartNumbercrn: "";
$ChartHeadcrh: "";
$ChartSubheadcrsh: "";
$ChartLevel-1Subheadcrh1: "";
$ChartLevel-2Subheadcrh2: "";
$ChartLevel-3Subheadcrh3: "";
$ChartLevel-4Subheadcrh4: "";
$ChartLevel-5Subheadcrh5: "";
$ChartColumnHeadcrch: "";
$ChartLabelcrl: "";
$ChartBodyTextcrbtx: "";
$ChartBodyTextNo-Indentcrbtx1: "";
$ChartSourceNotecrxn: "";
$ChartFootnotecrfn: "";
$FigureNumberfgn: "";
$FigureHeadfgh: "";
$FigureSubheadfgsh: "";
$FigureLevel-1Subheadfgh1: "";
$FigureLevel-2Subheadfgh2: "";
$FigureLevel-3Subheadfgh3: "";
$FigureLevel-4Subheadfgh4: "";
$FigureLevel-5Subheadfgh5: "";
$FigureColumnHeadfgch: "";
$FigureLabelfgl: "";
$FigureBodyTextfgbtx: "";
$FigureBodyTextNo-Indentfgbtx1: "";
$FigureSourceNotefgsn: "";
$FigureFootnotefgfn: "";
$BMHeadbmh: "";
$BMTitlebmt: "";
$BMSubheadbmsh: "";
$BMHeadALTabmh: "";
$BMTextbmtx: "";
$BMTextNo-Indentbmtx1: "";
$BMTextALTabmtx: "";
$BMTextALTNo-Indentabmtx1: "";
$BMTextSpaceAfterbmtx: "";
$BMTextSpaceAroundbmtx: "";
$BMTextSpaceBeforebmtx: "";
$BMTextNo-IndentSpaceAfterbmtx1: "";
$BMTextNo-IndentSpaceAroundbmtx1: "";
$BMTextNo-IndentSpaceBeforebmtx1: "";
$TeaserOpeningTexttotx: "";
$TeaserOpeningTexttotx1: "";
$AppendixHeadaph: "";
$AppendixSubheadapsh: "";
$AppendixLevel-1Subheadaph1: "";
$AppendixLevel-1Subheadaph1_oldersiblings: "${AppendixSubheadapsh}, #{$mainheads}";
$AppendixLevel-2Subheadaph2: "";
$AppendixLevel-2Subheadaph2_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, #{$mainheads}";
$AppendixLevel-3Subheadaph3: "";
$AppendixLevel-3Subheadaph3_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, ${AppendixLevel-2Subheadaph2}, #{$mainheads}";
$AppendixLevel-4Subheadaph4: "";
$AppendixLevel-4Subheadaph4_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, ${AppendixLevel-2Subheadaph2}, ${AppendixLevel-3Subheadaph3}, #{$mainheads}";
$AppendixLevel-5Subheadaph5: "";
$AppendixLevel-5Subheadaph5_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, ${AppendixLevel-2Subheadaph2}, ${AppendixLevel-3Subheadaph3}, ${AppendixLevel-4Subheadaph4}, #{$mainheads}";
$AppendixTextaptx: "";
$AppendixTextNo-Indentaptx1: "";
$AppendixListNumapnl: "";
$AppendixListUnnumapul: "";
$AppendixListBulletapbl: "";
$AppendixSourceNoteapsn: "";
$AppendixFootnoteapfn: "";
$GlossaryTermglt: "";
$GlossaryTextgltx: "";
$Entryen: "";
$Definitiondef: "";
$DefinitionSourcedefs: "";
$Definition-Numberedndef: "";
$Exampleexa: "";
$Example-Versevexa: "";
$Referencesee: "";
$Exampleegeg: "";
$Exampleindialogformexad: "";
$Addressadd: "";
$NoteLevel-1Subheadn1: "";
$NoteLevel-2Subheadn2: "";
$NoteLevel-3Subheadn3: "";
$NoteLevel-4Subheadn4: "";
$NoteLevel-5Subheadn5: "";
$EndnoteTextntx: "";
$keyphrasekp: "";
$BiblioLevel-1Subheadb1: "";
$BiblioLevel-1Subheadb1_oldersiblings: "#{$mainheads}";
$BiblioLevel-2Subheadb2: "";
$BiblioLevel-2Subheadb2_oldersiblings: "${BiblioLevel-1Subheadb1}, #{$mainheads}";
$BiblioLevel-3Subheadb3: "";
$BiblioLevel-3Subheadb3_oldersiblings: "${BiblioLevel-1Subheadb1}, ${BiblioLevel-2Subheadb2}, #{$mainheads}";
$BiblioLevel-4Subheadb4: "";
$BiblioLevel-4Subheadb4_oldersiblings: "${BiblioLevel-1Subheadb1}, ${BiblioLevel-2Subheadb2}, ${BiblioLevel-3Subheadb3}, #{$mainheads}";
$BiblioLevel-5Subheadb5: "";
$BiblioLevel-5Subheadb5_oldersiblings: "${BiblioLevel-1Subheadb1}, ${BiblioLevel-2Subheadb2}, ${BiblioLevel-3Subheadb3}, ${BiblioLevel-4Subheadb4}, #{$mainheads}";
$BibliographyTextbibtx: "";
$IndexTextintx: "";
$IndexInternalSubheadih1: "";
$IndexEntryine: "";
$IndexSubentryinse: "";
$IndexSub-subentryinsse: "";
$IllustrationCreditsTextilctx: "";
$IllustrationCreditsTextNo-Indentilctx1: "";
$PermissionAcksTextpmtx: "";
$PermissionAcksTextNo-Indentpmtx1: "";
$AboutAuthorTextatatx: "";
$AboutAuthorTextNo-Indentatatx1: "";
$AboutAuthorTextHeadatah: "";
$ColophonTextcoltx: "";
$ColophonTextNo-Indentcoltx1: "";
$BOBAdTitlebobt: "";
$BOBAdSubtitlebobst: "";
$BOBAdLevel-1Subheadbobh1: "";
$BOBAdLevel-1Subheadbobh1_oldersiblings: "#{$mainheads}";
$BOBAdLevel-2Subheadbobh2: "";
$BOBAdLevel-2Subheadbobh2_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, #{$mainheads}";
$BOBAdLevel-3Subheadbobh3: "";
$BOBAdLevel-3Subheadbobh3_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, ${BOBAdLevel-2Subheadbobh2}, #{$mainheads}";
$BOBAdLevel-4Subheadbobh4: "";
$BOBAdLevel-4Subheadbobh4_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, ${BOBAdLevel-2Subheadbobh2}, ${BOBAdLevel-3Subheadbobh3}, #{$mainheads}";
$BOBAdLevel-5Subheadbobh5: "";
$BOBAdLevel-5Subheadbobh5_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, ${BOBAdLevel-2Subheadbobh2}, ${BOBAdLevel-3Subheadbobh3}, ${BOBAdLevel-4Subheadbobh4}, #{$mainheads}";
$BOBAdTextbobtx: "";
$BOBAdTextNo-Indentbobtx1: "";
$BOBAdQuoteHeadbobqh: "";
$BOBAdQuotebobq: "";
$BOBAdQuoteNo-Indentbobq1: "";
$BOBAdQuoteSourcebobqs: "";
$BOBAdImprintbobimp: "";
$spanboldfacecharactersbf: "";
$spanitaliccharactersital: "";
$spansmallcapscharacterssc: "";
$spanunderscorecharactersus: "";
$spansuperscriptcharacterssup: "";
$spansubscriptcharacterssub: "";
$spanbolditalbem: "";
$spansmcapitalscital: "";
$spansmcapboldscbold: "";
$spansymbolssym: "";
$spanaccentcharactersacc: "";
$spancross-referencexref: "";
$spanhyperlinkurl: "";
$spanmaterialtocometk: "";
$spancarryquerycq: "";
$spanpreservecharacterspre: "";
$BookmakerPageBreakbr: "";
$BookmakerProcessingInstructionbpi: "";
$SpaceBreak-PrintOnlypo: "";
$bookmakerkeeptogetherkt: "";
$spanISBNisbn: "";
$spansymbolsitalsymi: "";
$spansymbolsboldsymb: "";
$spanrun-incomputertypecomp: "";
$spanstrikethroughcharactersstr: "";
$DesignNotedn: "";
$SeriesPageAuthorsau: "";
$SeriesPageHeadingsh: "";
$SeriesPageListofTitlesslt: "";
$SeriesPageSubhead1sh1: "";
$SeriesPageSubhead2sh2: "";
$SeriesPageSubhead3sh3: "";
$SeriesPageTextstx: "";
$SeriesPageTextNo-Indentstx1: "";

/* 
TO DO:
Add #{} to each selector
Find all defs for that selector in the old CSS, add to the scss
Add any oldersibling defs to the variables
Write the final compilation script:
LOGIC:
Run after htmlmaker (and htmlmaker_post?)
Aggregate list of all styles in MS (grab all class names from HTML)
Filter for only unique styles
Aggregate list of all scss filenames
For each style:
Search for exact match in file names
IF EXACT MATCH:
  copy the contents of that file into the final scss stylesheet to be compiled
IF NOT EXACT:
  find filename that most closely resembles this style name
  save that filename as matched style name
  save this style name as source style name
  copy the contents of the matched file
  gsub the matched style name with the source style name
  append to the final scss style sheet to be compiled
  IF new style includes NoIndent, SpaceBefore, SpaceAfter, SpaceAround:
  Check to see if the copied scss already includes the appropriate mixin
  If not, add it
  then get contents of variables.scss
  append 

Finally, compile the scss*/