$mainheads: "${BMHeadbmh}, ${BMHeadNonprintingbmhnp}, ${BMHeadALTabmh}, ${AppendixHeadaph}, ${AboutAuthorTextHeadatah}, ${PartNumberpn}, ${PartTitlept}, ${ChapTitlect}, ${ChapTitleNonprintingctnp}, ${FMHeadfmh}, ${FMHeadNonprintingfmhnp}, ${FMHeadALTafmh}, ${FrontSalesTitlefst}, ${BOBAdTitlebobt}, ${AdCardMainHeadacmh}, ${TitlepageBookTitletit}, ${HalftitleBookTitlehtit}";

$FrontSalesTitlefst: ".FrontSalesTitlefst";
$FrontSalesSubtitlefsst: ".FrontSalesSubtitlefsst";
$FrontSalesTextfstx: ".FrontSalesTextfstx";
$FrontSalesTextNoIndentfstx1: ".FrontSalesTextNoIndentfstx1";
$FrontSalesQuoteHeadfsqh: ".FrontSalesQuoteHeadfsqh";
$FrontSalesQuotefsq: ".FrontSalesQuotefsq";
$FrontSalesQuoteNoIndentfsq1: ".FrontSalesQuoteNoIndentfsq1";
$FrontSalesQuoteSourcefsqs: ".FrontSalesQuoteSourcefsqs";
$AdCardMainHeadacmh: ".AdCardMainHeadacmh";
$AdCardSubheadacsh: ".AdCardSubheadacsh";
$AdCardListofTitlesacl: ".AdCardListofTitlesacl";
$HalftitleBooktitlehtit: ".HalftitleBooktitlehtit";
$TitlepageBookTitletit: ".TitlepageBookTitletit";
$TitlepageBookSubtitlestit: ".TitlepageBookSubtitlestit";
$TitlepageAuthorNameau: ".TitlepageAuthorNameau";
$TitlepageContributorNamecon: ".TitlepageContributorNamecon";
$TitlepageTranslatorNametran: ".TitlepageTranslatorNametran";
$TitlepageSeriesTitleser: ".TitlepageSeriesTitleser";
$TitlepageReadingLinerl: ".TitlepageReadingLinerl";
$TitlepageImprintLineimp: ".TitlepageImprintLineimp";
$TitlepagePublisherNamepub: ".TitlepagePublisherNamepub";
$TitlepageCitiescit: ".TitlepageCitiescit";
$CopyrightTextsinglespacecrtx: ".CopyrightTextsinglespacecrtx";
$CopyrightTextdoublespacecrtxd: ".CopyrightTextdoublespacecrtxd";
$Dedicationded: ".Dedicationded";
$DedicationAuthordedau: ".DedicationAuthordedau";
$Epigraph-non-verseepi: ".Epigraph-non-verseepi";
$Epigraph-verseepiv: ".Epigraph-verseepiv";
$EpigraphSourceeps: ".EpigraphSourceeps";
$TOCFrontmatterHeadcfmh: ".TOCFrontmatterHeadcfmh";
$TOCAuthorcau: ".TOCAuthorcau";
$TOCPartNumbercpn: ".TOCPartNumbercpn";
$TOCPartTitlecpt: ".TOCPartTitlecpt";
$TOCChapterNumberccn: ".TOCChapterNumberccn";
$TOCChapterTitlecct: ".TOCChapterTitlecct";
$TOCChapterSubtitleccst: ".TOCChapterSubtitleccst";
$TOCLevel-1ChapterHeadch1: ".TOCLevel-1ChapterHeadch1";
$TOCBackmatterHeadcbmh: ".TOCBackmatterHeadcbmh";
$TOCPageNumbercnum: ".TOCPageNumbercnum";
$FMHeadfmh: ".FMHeadfmh";
$FMSubheadfmsh: ".FMSubheadfmsh";
$FMTitlefmt: ".FMTitlefmt";
$FMAuthorNamefmau: ".FMAuthorNamefmau";
$FMEpigraph-non-versefmepi: ".FMEpigraph-non-versefmepi";
$FMEpigraph-versefmepiv: ".FMEpigraph-versefmepiv";
$FMEpigraphSourcefmeps: ".FMEpigraphSourcefmeps";
$FMLevel-1Subheadfmh1: ".FMLevel-1Subheadfmh1";
$FMLevel-2Subheadfmh2: ".FMLevel-2Subheadfmh2";
$FMLevel-3Subheadfmh3: ".FMLevel-3Subheadfmh3";
$FMLevel-4Subheadfmh4: ".FMLevel-4Subheadfmh4";
$FMLevel-5Subheadfmh5: ".FMLevel-5Subheadfmh5";
$FMTextfmtx: ".FMTextfmtx";
$FMTextSpaceAroundfmtx: ".FMTextSpaceAroundfmtx";
$FMTextSpaceBeforefmtx: ".FMTextSpaceBeforefmtx";
$FMTextSpaceAfterfmtx: ".FMTextSpaceAfterfmtx";
$FMTextNo-Indentfmtx1: ".FMTextNo-Indentfmtx1";
$FMTextNo-IndentSpaceAfterfmtx1: ".FMTextNo-IndentSpaceAfterfmtx1";
$FMTextNo-IndentSpaceBeforefmtx1: ".FMTextNo-IndentSpaceBeforefmtx1";
$FMTextNo-IndentSpaceAroundfmtx1: ".FMTextNo-IndentSpaceAroundfmtx1";
$FMHeadALTafmh: ".FMHeadALTafmh";
$FMTextALTafmtx: ".FMTextALTafmtx";
$FMTextNo-IndentALTafmtx1: ".FMTextNo-IndentALTafmtx1";
$FMAuthorSignatureausig: ".FMAuthorSignatureausig";
$FMDramatisPersonaefmdp: ".FMDramatisPersonaefmdp";
$PartNumberpn: ".PartNumberpn";
$PartTitlept: ".PartTitlept";
$PartSubtitlepst: ".PartSubtitlepst";
$PartEpigraph-non-versepepi: ".PartEpigraph-non-versepepi";
$PartEpigraph-versepepiv: ".PartEpigraph-versepepiv";
$PartEpigraphSourcepeps: ".PartEpigraphSourcepeps";
$PartOpeningTextpotx: ".PartOpeningTextpotx";
$PartOpeningTextNo-Indentpotx1: ".PartOpeningTextNo-Indentpotx1";
$PartOrnamentporn: ".PartOrnamentporn";
$PartOrnamentALTporn2: ".PartOrnamentALTporn2";
$PartContentsMainHeadpcmh: ".PartContentsMainHeadpcmh";
$PartContentsHeadpch: ".PartContentsHeadpch";
$ChapNumbercn: ".ChapNumbercn";
$ChapTitlect: ".ChapTitlect";
$ChapSubtitlecst: ".ChapSubtitlecst";
$ChapTitleNonprintingctnp: ".ChapTitleNonprintingctnp";
$ChapAuthorca: ".ChapAuthorca";
$Dateline-Chapterdl: ".Dateline-Chapterdl";
$ChapEpigraph-non-versecepi: ".ChapEpigraph-non-versecepi";
$ChapEpigraph-versecepiv: ".ChapEpigraph-versecepiv";
$ChapEpigraphSourceceps: ".ChapEpigraphSourceceps";
$ChapOpeningTextcotx: ".ChapOpeningTextcotx";
$ChapOpeningTextSpaceAftercotx: ".ChapOpeningTextSpaceAftercotx";
$ChapOpeningTextNo-Indentcotx1: ".ChapOpeningTextNo-Indentcotx1";
$ChapOpeningTextNo-IndentSpaceAftercotx1: ".ChapOpeningTextNo-IndentSpaceAftercotx1";
$ChapOrnamentcorn: ".ChapOrnamentcorn";
$ChapOrnamentALTcorn2: ".ChapOrnamentALTcorn2";
$VolumeNumbervoln: ".VolumeNumbervoln";
$VolumeTitlevolt: ".VolumeTitlevolt";
$CollectionBookNumberbkn: ".CollectionBookNumberbkn";
$CollectionBookTitlebkt: ".CollectionBookTitlebkt";
$Text-Standardtx: ".Text-Standardtx";
$Text-StandardSpaceAftertx: ".Text-StandardSpaceAftertx";
$Text-StandardSpaceAroundtx: ".Text-StandardSpaceAroundtx";
$Text-StandardSpaceBeforetx: ".Text-StandardSpaceBeforetx";
$Text-StdNo-Indenttx1: ".Text-StdNo-Indenttx1";
$Text-StdNo-IndentSpaceAftertx1: ".Text-StdNo-IndentSpaceAftertx1";
$Text-StdNo-IndentSpaceAroundtx1: ".Text-StdNo-IndentSpaceAroundtx1";
$Text-StdNo-IndentSpaceBeforetx1: ".Text-StdNo-IndentSpaceBeforetx1";
$Text-StandardALTatx: ".Text-StandardALTatx";
$Text-StdNo-IndentALTatx1: ".Text-StdNo-IndentALTatx1";
$Text-ComputerTypecom: ".Text-ComputerTypecom";
$Text-ComputerTypeNo-Indentcom1: ".Text-ComputerTypeNo-Indentcom1";
$Text-Narrativenar: ".Text-Narrativenar";
$Text-NarrativeNo-Indentnar1: ".Text-NarrativeNo-Indentnar1";
$Text-Dialoguedia: ".Text-Dialoguedia";
$FootnoteTextfn: ".FootnoteTextfn";
$InitialCapic: ".InitialCapic";
$DisplayPhrasedis: ".DisplayPhrasedis";
$Storydatelinesdl: ".Storydatelinesdl";
$Storylocationlinesloc: ".Storylocationlinesloc";
$SpaceBreak: ".SpaceBreak";
$SpaceBreakwithOrnamentorn: ".SpaceBreakwithOrnamentorn";
$SpaceBreakwithALTOrnamentorn2: ".SpaceBreakwithALTOrnamentorn2";
$SectionBreaksbr: ".SectionBreaksbr";
$PartStartpts: ".PartStartpts";
$PartEndpte: ".PartEndpte";
$PageBreakpb: ".PageBreakpb";
$SpaceBreak-1-Linels1: ".SpaceBreak-1-Linels1";
$SpaceBreak-2-Linels2: ".SpaceBreak-2-Linels2";
$SpaceBreak-3-Linels3: ".SpaceBreak-3-Linels3";
$Head-Level-1h1: ".Head-Level-1h1";
$Head-Level-2h2: ".Head-Level-2h2";
$Head-Level-3h3: ".Head-Level-3h3";
$Head-Level-4h4: ".Head-Level-4h4";
$Head-Level-5h5: ".Head-Level-5h5";
$Head-Level6h6: ".Head-Level6h6";
$Dateline-Texttdl: ".Dateline-Texttdl";
$Extractext: ".Extractext";
$Extract-NoIndentext1: ".Extract-NoIndentext1";
$ExtractHeadexth: ".ExtractHeadexth";
$ExtractHeadlineexthl: ".ExtractHeadlineexthl";
$Extract-VerseorPoetryextv: ".Extract-VerseorPoetryextv";
$Extract-BulletedListextbl: ".Extract-BulletedListextbl";
$Extract-NumberedListextnl: ".Extract-NumberedListextnl";
$Extract-Noteextn: ".Extract-Noteextn";
$Extract-NoteHeadextnh: ".Extract-NoteHeadextnh";
$Extract-Headlineexthl: ".Extract-Headlineexthl";
$Extract-Emailextem: ".Extract-Emailextem";
$Extract-EmailHeadingemh: ".Extract-EmailHeadingemh";
$Extract-Websiteextws: ".Extract-Websiteextws";
$Extract-SongLyricextsl: ".Extract-SongLyricextsl";
$Extract-BusinessCardextbc: ".Extract-BusinessCardextbc";
$Extract-Telegramtel: ".Extract-Telegramtel";
$Extract-Inscriptionins: ".Extract-Inscriptionins";
$Extract-ScheduleofEventssch: ".Extract-ScheduleofEventssch";
$Extract-Newspapernews: ".Extract-Newspapernews";
$Extract-Diaryextd: ".Extract-Diaryextd";
$Extract-Transcripttrans: ".Extract-Transcripttrans";
$EpigraphinText-non-versetepi: ".EpigraphinText-non-versetepi";
$EpigraphinText-versetepiv: ".EpigraphinText-versetepiv";
$EpigraphinText-Sourceteps: ".EpigraphinText-Sourceteps";
$LetterExtGeneralextl: ".LetterExtGeneralextl";
$LetterExtHeadnotehn: ".LetterExtHeadnotehn";
$LetterExtDatelineldl: ".LetterExtDatelineldl";
$LetterExtAddressladd: ".LetterExtAddressladd";
$LetterExtSalutationlsa: ".LetterExtSalutationlsa";
$LetterExtText/Bodyltx: ".LetterExtText/Bodyltx";
$LetterExtText/Body,No-Indentltx1: ".LetterExtText/Body,No-Indentltx1";
$LetterExtClosinglcl: ".LetterExtClosinglcl";
$LetterExtSignaturelsig: ".LetterExtSignaturelsig";
$LetterExtPostscriptlps: ".LetterExtPostscriptlps";
$ScreenplayDramatisPersonaedp: ".ScreenplayDramatisPersonaedp";
$ScreenplayHeadsph: ".ScreenplayHeadsph";
$ScreenplaySubheadspsh: ".ScreenplaySubheadspsh";
$ScreenplaySpeakers: ".ScreenplaySpeakers";
$ScreenplayExtractsp: ".ScreenplayExtractsp";
$ScreenplayTextsptx: ".ScreenplayTextsptx";
$ScreenplayTextNo-Indentsptx1: ".ScreenplayTextNo-Indentsptx1";
$ScreenplayStageDirectionssd: ".ScreenplayStageDirectionssd";
$PoemTitlevt: ".PoemTitlevt";
$PoemSubtitlevst: ".PoemSubtitlevst";
$PoemLevel-1Subheadvh1: ".PoemLevel-1Subheadvh1";
$PoemLevel-2Subheadvh2: ".PoemLevel-2Subheadvh2";
$PoemLevel-3Subheadvh3: ".PoemLevel-3Subheadvh3";
$PoemLevel-4Subheadvh4: ".PoemLevel-4Subheadvh4";
$PoemLevel-5Subheadvh5: ".PoemLevel-5Subheadvh5";
$PoemNumericSubheadsvhn: ".PoemNumericSubheadsvhn";
$PoemEpigraph-non-versevepi: ".PoemEpigraph-non-versevepi";
$PoemEpigraph-versevepiv: ".PoemEpigraph-versevepiv";
$PoemEpigraphSourceveps: ".PoemEpigraphSourceveps";
$PoemDatelinevdl: ".PoemDatelinevdl";
$PoemDedicationvded: ".PoemDedicationvded";
$VerseTextvtx: ".VerseTextvtx";
$VerseRun-inTextvrtx: ".VerseRun-inTextvrtx";
$VerseRun-inTextNo-Indentvrtx1: ".VerseRun-inTextNo-Indentvrtx1";
$ListHeadlh: ".ListHeadlh";
$ListNumnl: ".ListNumnl";
$ListNumSubentrynsl: ".ListNumSubentrynsl";
$ListAlphaal: ".ListAlphaal";
$ListAlphaSubentryasl: ".ListAlphaSubentryasl";
$ListBulletbl: ".ListBulletbl";
$ListBulletSubentrybsl: ".ListBulletSubentrybsl";
$ListUnnumul: ".ListUnnumul";
$ListUnnumSubentryusl: ".ListUnnumSubentryusl";
$Checklistck: ".Checklistck";
$ChecklistSubentrycksl: ".ChecklistSubentrycksl";
$NumberedParagraphsnp: ".NumberedParagraphsnp";
$BulletedParagraphsbp: ".BulletedParagraphsbp";
$ColumnHeadch: ".ColumnHeadch";
$List2-Columncl2: ".List2-Columncl2";
$List3-Columncl3: ".List3-Columncl3";
$List4-Columncl4: ".List4-Columncl4";
$List5-Columncl5: ".List5-Columncl5";
$ColumnTextcoltx: ".ColumnTextcoltx";
$ColumnTextNo-Indentcoltx1: ".ColumnTextNo-Indentcoltx1";
$Illustrationholderill: ".Illustrationholderill";
$Captioncap: ".Captioncap";
$IllustrationSourceis: ".IllustrationSourceis";
$Menumenu: ".Menumenu";
$ChapterContentscc: ".ChapterContentscc";
$RecipeHeadrh: ".RecipeHeadrh";
$RecipeSubheadrsh: ".RecipeSubheadrsh";
$RecipeLevel-1Subheadrh1: ".RecipeLevel-1Subheadrh1";
$RecipeLevel-2Subheadrh2: ".RecipeLevel-2Subheadrh2";
$RecipeLevel-3Subheadrh3: ".RecipeLevel-3Subheadrh3";
$RecipeLevel-4Subheadrh4: ".RecipeLevel-4Subheadrh4";
$RecipeLevel-5Subheadrh5: ".RecipeLevel-5Subheadrh5";
$RecipeHeadnoterhn: ".RecipeHeadnoterhn";
$IngredientsHeadrih: ".IngredientsHeadrih";
$IngredientsListri: ".IngredientsListri";
$RecipeProceduresrp: ".RecipeProceduresrp";
$RecipeProceduresNoIndentrp1: ".RecipeProceduresNoIndentrp1";
$RecipeTimert: ".RecipeTimert";
$RecipeYieldry: ".RecipeYieldry";
$Sub-RecipeHeadsrh: ".Sub-RecipeHeadsrh";
$Sub-RecipeSubheadsrsh: ".Sub-RecipeSubheadsrsh";
$Sub-RecipeLevel-1Subheadsrsh1: ".Sub-RecipeLevel-1Subheadsrsh1";
$Sub-RecipeLevel-2Subheadsrsh2: ".Sub-RecipeLevel-2Subheadsrsh2";
$Sub-RecipeLevel-3Subheadsrsh3: ".Sub-RecipeLevel-3Subheadsrsh3";
$Sub-RecipeLevel-4Subheadsrsh4: ".Sub-RecipeLevel-4Subheadsrsh4";
$Sub-RecipeLevel-5Subheadsrsh5: ".Sub-RecipeLevel-5Subheadsrsh5";
$Sub-RecipeHeadnotesrhn: ".Sub-RecipeHeadnotesrhn";
$Sub-RecipeIngredientsHeadsrih: ".Sub-RecipeIngredientsHeadsrih";
$Sub-RecipeIngredientsListsri: ".Sub-RecipeIngredientsListsri";
$Sub-RecipeProceduressrp: ".Sub-RecipeProceduressrp";
$Sub-RecipeProceduresNoIndentsrp1: ".Sub-RecipeProceduresNoIndentsrp1";
$Sub-RecipeYieldsry: ".Sub-RecipeYieldsry";
$RecipeVarHeadrvh: ".RecipeVarHeadrvh";
$RecipeVarTextrvtx: ".RecipeVarTextrvtx";
$RecipeVarTextNo-Indentrvtx1: ".RecipeVarTextNo-Indentrvtx1";
$RecipeNutritionInforni: ".RecipeNutritionInforni";
$RecipeNoteHeadrnh: ".RecipeNoteHeadrnh";
$RecipeNoteTextrntx: ".RecipeNoteTextrntx";
$RecipeNoteTextNo-Indentrntx1: ".RecipeNoteTextNo-Indentrntx1";
$RecipeGarnishrg: ".RecipeGarnishrg";
$BoxTextbtx: ".BoxTextbtx";
$BoxTextNo-Indentbtx1: ".BoxTextNo-Indentbtx1";
$BoxHeadbh: ".BoxHeadbh";
$BoxSubheadbsh: ".BoxSubheadbsh";
$BoxHead-Level-1bh1: ".BoxHead-Level-1bh1";
$BoxHead-Level-1bh1_oldersiblings: "${BoxHeadbh}, ${BoxSubheadbsh}, #{$mainheads}";
$BoxHead-Level-2bh2: ".BoxHead-Level-2bh2";
$BoxHead-Level-2bh2_oldersiblings: "${BoxHeadbh}, ${BoxSubheadbsh}, ${BoxHead-Level-1bh1}, #{$mainheads}";
$BoxHead-Level-3bh3: ".BoxHead-Level-3bh3";
$BoxHead-Level-3bh3_oldersiblings: "${BoxHeadbh}, ${BoxSubheadbsh}, ${BoxHead-Level-1bh1}, ${BoxHead-Level-2bh2}, #{$mainheads}";
$BoxHead-Level-4bh4: ".BoxHead-Level-4bh4";
$BoxHead-Level-4bh4_oldersiblings: "${BoxHeadbh}, ${BoxSubheadbsh}, ${BoxHead-Level-1bh1}, ${BoxHead-Level-2bh2}, ${BoxHead-Level-3bh3}, #{$mainheads}";
$BoxHead-Level-5bh5: ".BoxHead-Level-5bh5";
$BoxHead-Level-5bh5_oldersiblings: "${BoxHeadbh}, ${BoxSubheadbsh}, ${BoxHead-Level-1bh1}, ${BoxHead-Level-2bh2}, ${BoxHead-Level-3bh3}, ${BoxHead-Level-4bh4}, #{$mainheads}";
$BoxEpigraph-non-versebepi: ".BoxEpigraph-non-versebepi";
$BoxEpigraph-versebepiv: ".BoxEpigraph-versebepiv";
$BoxEpigraphSourcebeps: ".BoxEpigraphSourcebeps";
$BoxListNumbnl: ".BoxListNumbnl";
$BoxListBulletbbl: ".BoxListBulletbbl";
$BoxListUnnumbul: ".BoxListUnnumbul";
$BoxExtractbext: ".BoxExtractbext";
$BoxExtract-Versebextv: ".BoxExtract-Versebextv";
$BoxSourceNotebsn: ".BoxSourceNotebsn";
$BoxFootnotebfn: ".BoxFootnotebfn";
$SidebarTextsbtx: ".SidebarTextsbtx";
$SidebarTextNo-Indentsbtx1: ".SidebarTextNo-Indentsbtx1";
$SidebarHeadsbh: ".SidebarHeadsbh";
$SidebarSubheadsbsh: ".SidebarSubheadsbsh";
$SidebarHead-Level-1sbh1: ".SidebarHead-Level-1sbh1";
$SidebarHead-Level-2sbh2: ".SidebarHead-Level-2sbh2";
$SidebarHead-Level-3sbh3: ".SidebarHead-Level-3sbh3";
$SidebarHead-Level-4sbh4: ".SidebarHead-Level-4sbh4";
$SidebarHead-Level-5sbh5: ".SidebarHead-Level-5sbh5";
$SidebarEpigraph-non-versesbepi: ".SidebarEpigraph-non-versesbepi";
$SidebarEpigraph-versesbepiv: ".SidebarEpigraph-versesbepiv";
$SidebarEpigraphSourcesbeps: ".SidebarEpigraphSourcesbeps";
$SidebarListNumsbnl: ".SidebarListNumsbnl";
$SidebarListBulletsbbl: ".SidebarListBulletsbbl";
$SidebarListUnnumsbul: ".SidebarListUnnumsbul";
$SidebarExtractsbext: ".SidebarExtractsbext";
$SidebarExtract-Versesbextv: ".SidebarExtract-Versesbextv";
$SidebarSourceNotesbsn: ".SidebarSourceNotesbsn";
$SidebarFootnotesbfn: ".SidebarFootnotesbfn";
$TableNumbertn: ".TableNumbertn";
$TableHeadth: ".TableHeadth";
$TableSubheadtsh: ".TableSubheadtsh";
$TableColumnHeadtch: ".TableColumnHeadtch";
$TableBodyTexttbtx: ".TableBodyTexttbtx";
$TableBodyTextNo-Indenttbtx1: ".TableBodyTextNo-Indenttbtx1";
$TableSourceNotetsn: ".TableSourceNotetsn";
$TableFootnotetfn: ".TableFootnotetfn";
$ChartNumbercrn: ".ChartNumbercrn";
$ChartHeadcrh: ".ChartHeadcrh";
$ChartSubheadcrsh: ".ChartSubheadcrsh";
$ChartLevel-1Subheadcrh1: ".ChartLevel-1Subheadcrh1";
$ChartLevel-2Subheadcrh2: ".ChartLevel-2Subheadcrh2";
$ChartLevel-3Subheadcrh3: ".ChartLevel-3Subheadcrh3";
$ChartLevel-4Subheadcrh4: ".ChartLevel-4Subheadcrh4";
$ChartLevel-5Subheadcrh5: ".ChartLevel-5Subheadcrh5";
$ChartColumnHeadcrch: ".ChartColumnHeadcrch";
$ChartLabelcrl: ".ChartLabelcrl";
$ChartBodyTextcrbtx: ".ChartBodyTextcrbtx";
$ChartBodyTextNo-Indentcrbtx1: ".ChartBodyTextNo-Indentcrbtx1";
$ChartSourceNotecrxn: ".ChartSourceNotecrxn";
$ChartFootnotecrfn: ".ChartFootnotecrfn";
$FigureNumberfgn: ".FigureNumberfgn";
$FigureHeadfgh: ".FigureHeadfgh";
$FigureSubheadfgsh: ".FigureSubheadfgsh";
$FigureLevel-1Subheadfgh1: ".FigureLevel-1Subheadfgh1";
$FigureLevel-2Subheadfgh2: ".FigureLevel-2Subheadfgh2";
$FigureLevel-3Subheadfgh3: ".FigureLevel-3Subheadfgh3";
$FigureLevel-4Subheadfgh4: ".FigureLevel-4Subheadfgh4";
$FigureLevel-5Subheadfgh5: ".FigureLevel-5Subheadfgh5";
$FigureColumnHeadfgch: ".FigureColumnHeadfgch";
$FigureLabelfgl: ".FigureLabelfgl";
$FigureBodyTextfgbtx: ".FigureBodyTextfgbtx";
$FigureBodyTextNo-Indentfgbtx1: ".FigureBodyTextNo-Indentfgbtx1";
$FigureSourceNotefgsn: ".FigureSourceNotefgsn";
$FigureFootnotefgfn: ".FigureFootnotefgfn";
$BMHeadbmh: ".BMHeadbmh";
$BMTitlebmt: ".BMTitlebmt";
$BMSubheadbmsh: ".BMSubheadbmsh";
$BMHeadALTabmh: ".BMHeadALTabmh";
$BMTextbmtx: ".BMTextbmtx";
$BMTextNo-Indentbmtx1: ".BMTextNo-Indentbmtx1";
$BMTextALTabmtx: ".BMTextALTabmtx";
$BMTextALTNo-Indentabmtx1: ".BMTextALTNo-Indentabmtx1";
$BMTextSpaceAfterbmtx: ".BMTextSpaceAfterbmtx";
$BMTextSpaceAroundbmtx: ".BMTextSpaceAroundbmtx";
$BMTextSpaceBeforebmtx: ".BMTextSpaceBeforebmtx";
$BMTextNo-IndentSpaceAfterbmtx1: ".BMTextNo-IndentSpaceAfterbmtx1";
$BMTextNo-IndentSpaceAroundbmtx1: ".BMTextNo-IndentSpaceAroundbmtx1";
$BMTextNo-IndentSpaceBeforebmtx1: ".BMTextNo-IndentSpaceBeforebmtx1";
$TeaserOpeningTexttotx: ".TeaserOpeningTexttotx";
$TeaserOpeningTexttotx1: ".TeaserOpeningTexttotx1";
$AppendixHeadaph: ".AppendixHeadaph";
$AppendixSubheadapsh: ".AppendixSubheadapsh";
$AppendixLevel-1Subheadaph1: ".AppendixLevel-1Subheadaph1";
$AppendixLevel-1Subheadaph1_oldersiblings: "${AppendixSubheadapsh}, #{$mainheads}";
$AppendixLevel-2Subheadaph2: ".AppendixLevel-2Subheadaph2";
$AppendixLevel-2Subheadaph2_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, #{$mainheads}";
$AppendixLevel-3Subheadaph3: ".AppendixLevel-3Subheadaph3";
$AppendixLevel-3Subheadaph3_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, ${AppendixLevel-2Subheadaph2}, #{$mainheads}";
$AppendixLevel-4Subheadaph4: ".AppendixLevel-4Subheadaph4";
$AppendixLevel-4Subheadaph4_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, ${AppendixLevel-2Subheadaph2}, ${AppendixLevel-3Subheadaph3}, #{$mainheads}";
$AppendixLevel-5Subheadaph5: ".AppendixLevel-5Subheadaph5";
$AppendixLevel-5Subheadaph5_oldersiblings: "${AppendixSubheadapsh}, ${AppendixLevel-1Subheadaph1}, ${AppendixLevel-2Subheadaph2}, ${AppendixLevel-3Subheadaph3}, ${AppendixLevel-4Subheadaph4}, #{$mainheads}";
$AppendixTextaptx: ".AppendixTextaptx";
$AppendixTextNo-Indentaptx1: ".AppendixTextNo-Indentaptx1";
$AppendixListNumapnl: ".AppendixListNumapnl";
$AppendixListUnnumapul: ".AppendixListUnnumapul";
$AppendixListBulletapbl: ".AppendixListBulletapbl";
$AppendixSourceNoteapsn: ".AppendixSourceNoteapsn";
$AppendixFootnoteapfn: ".AppendixFootnoteapfn";
$GlossaryTermglt: ".GlossaryTermglt";
$GlossaryTextgltx: ".GlossaryTextgltx";
$Entryen: ".Entryen";
$Definitiondef: ".Definitiondef";
$DefinitionSourcedefs: ".DefinitionSourcedefs";
$Definition-Numberedndef: ".Definition-Numberedndef";
$Exampleexa: ".Exampleexa";
$Example-Versevexa: ".Example-Versevexa";
$Referencesee: ".Referencesee";
$Exampleegeg: ".Exampleegeg";
$Exampleindialogformexad: ".Exampleindialogformexad";
$Addressadd: ".Addressadd";
$NoteLevel-1Subheadn1: ".NoteLevel-1Subheadn1";
$NoteLevel-2Subheadn2: ".NoteLevel-2Subheadn2";
$NoteLevel-3Subheadn3: ".NoteLevel-3Subheadn3";
$NoteLevel-4Subheadn4: ".NoteLevel-4Subheadn4";
$NoteLevel-5Subheadn5: ".NoteLevel-5Subheadn5";
$EndnoteTextntx: ".EndnoteTextntx";
$keyphrasekp: ".keyphrasekp";
$BiblioLevel-1Subheadb1: ".BiblioLevel-1Subheadb1";
$BiblioLevel-1Subheadb1_oldersiblings: "#{$mainheads}";
$BiblioLevel-2Subheadb2: ".BiblioLevel-2Subheadb2";
$BiblioLevel-2Subheadb2_oldersiblings: "${BiblioLevel-1Subheadb1}, #{$mainheads}";
$BiblioLevel-3Subheadb3: ".BiblioLevel-3Subheadb3";
$BiblioLevel-3Subheadb3_oldersiblings: "${BiblioLevel-1Subheadb1}, ${BiblioLevel-2Subheadb2}, #{$mainheads}";
$BiblioLevel-4Subheadb4: ".BiblioLevel-4Subheadb4";
$BiblioLevel-4Subheadb4_oldersiblings: "${BiblioLevel-1Subheadb1}, ${BiblioLevel-2Subheadb2}, ${BiblioLevel-3Subheadb3}, #{$mainheads}";
$BiblioLevel-5Subheadb5: ".BiblioLevel-5Subheadb5";
$BiblioLevel-5Subheadb5_oldersiblings: "${BiblioLevel-1Subheadb1}, ${BiblioLevel-2Subheadb2}, ${BiblioLevel-3Subheadb3}, ${BiblioLevel-4Subheadb4}, #{$mainheads}";
$BibliographyTextbibtx: ".BibliographyTextbibtx";
$IndexTextintx: ".IndexTextintx";
$IndexInternalSubheadih1: ".IndexInternalSubheadih1";
$IndexEntryine: ".IndexEntryine";
$IndexSubentryinse: ".IndexSubentryinse";
$IndexSub-subentryinsse: ".IndexSub-subentryinsse";
$IllustrationCreditsTextilctx: ".IllustrationCreditsTextilctx";
$IllustrationCreditsTextNo-Indentilctx1: ".IllustrationCreditsTextNo-Indentilctx1";
$PermissionAcksTextpmtx: ".PermissionAcksTextpmtx";
$PermissionAcksTextNo-Indentpmtx1: ".PermissionAcksTextNo-Indentpmtx1";
$AboutAuthorTextatatx: ".AboutAuthorTextatatx";
$AboutAuthorTextNo-Indentatatx1: ".AboutAuthorTextNo-Indentatatx1";
$AboutAuthorTextHeadatah: ".AboutAuthorTextHeadatah";
$ColophonTextcoltx: ".ColophonTextcoltx";
$ColophonTextNo-Indentcoltx1: ".ColophonTextNo-Indentcoltx1";
$BOBAdTitlebobt: ".BOBAdTitlebobt";
$BOBAdSubtitlebobst: ".BOBAdSubtitlebobst";
$BOBAdLevel-1Subheadbobh1: ".BOBAdLevel-1Subheadbobh1";
$BOBAdLevel-1Subheadbobh1_oldersiblings: "#{$mainheads}";
$BOBAdLevel-2Subheadbobh2: ".BOBAdLevel-2Subheadbobh2";
$BOBAdLevel-2Subheadbobh2_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, #{$mainheads}";
$BOBAdLevel-3Subheadbobh3: ".BOBAdLevel-3Subheadbobh3";
$BOBAdLevel-3Subheadbobh3_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, ${BOBAdLevel-2Subheadbobh2}, #{$mainheads}";
$BOBAdLevel-4Subheadbobh4: ".BOBAdLevel-4Subheadbobh4";
$BOBAdLevel-4Subheadbobh4_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, ${BOBAdLevel-2Subheadbobh2}, ${BOBAdLevel-3Subheadbobh3}, #{$mainheads}";
$BOBAdLevel-5Subheadbobh5: ".BOBAdLevel-5Subheadbobh5";
$BOBAdLevel-5Subheadbobh5_oldersiblings: "${BOBAdLevel-1Subheadbobh1}, ${BOBAdLevel-2Subheadbobh2}, ${BOBAdLevel-3Subheadbobh3}, ${BOBAdLevel-4Subheadbobh4}, #{$mainheads}";
$BOBAdTextbobtx: ".BOBAdTextbobtx";
$BOBAdTextNo-Indentbobtx1: ".BOBAdTextNo-Indentbobtx1";
$BOBAdQuoteHeadbobqh: ".BOBAdQuoteHeadbobqh";
$BOBAdQuotebobq: ".BOBAdQuotebobq";
$BOBAdQuoteNo-Indentbobq1: ".BOBAdQuoteNo-Indentbobq1";
$BOBAdQuoteSourcebobqs: ".BOBAdQuoteSourcebobqs";
$BOBAdImprintbobimp: ".BOBAdImprintbobimp";
$spanboldfacecharactersbf: ".spanboldfacecharactersbf";
$spanitaliccharactersital: ".spanitaliccharactersital";
$spansmallcapscharacterssc: ".spansmallcapscharacterssc";
$spanunderscorecharactersus: ".spanunderscorecharactersus";
$spansuperscriptcharacterssup: ".spansuperscriptcharacterssup";
$spansubscriptcharacterssub: ".spansubscriptcharacterssub";
$spanbolditalbem: ".spanbolditalbem";
$spansmcapitalscital: ".spansmcapitalscital";
$spansmcapboldscbold: ".spansmcapboldscbold";
$spansymbolssym: ".spansymbolssym";
$spanaccentcharactersacc: ".spanaccentcharactersacc";
$spancross-referencexref: ".spancross-referencexref";
$spanhyperlinkurl: ".spanhyperlinkurl";
$spanmaterialtocometk: ".spanmaterialtocometk";
$spancarryquerycq: ".spancarryquerycq";
$spanpreservecharacterspre: ".spanpreservecharacterspre";
$BookmakerPageBreakbr: ".BookmakerPageBreakbr";
$BookmakerProcessingInstructionbpi: ".BookmakerProcessingInstructionbpi";
$SpaceBreak-PrintOnlypo: ".SpaceBreak-PrintOnlypo";
$bookmakerkeeptogetherkt: ".bookmakerkeeptogetherkt";
$spanISBNisbn: ".spanISBNisbn";
$spansymbolsitalsymi: ".spansymbolsitalsymi";
$spansymbolsboldsymb: ".spansymbolsboldsymb";
$spanrun-incomputertypecomp: ".spanrun-incomputertypecomp";
$spanstrikethroughcharactersstr: ".spanstrikethroughcharactersstr";
$DesignNotedn: ".DesignNotedn";
$SeriesPageAuthorsau: ".SeriesPageAuthorsau";
$SeriesPageHeadingsh: ".SeriesPageHeadingsh";
$SeriesPageListofTitlesslt: ".SeriesPageListofTitlesslt";
$SeriesPageSubhead1sh1: ".SeriesPageSubhead1sh1";
$SeriesPageSubhead2sh2: ".SeriesPageSubhead2sh2";
$SeriesPageSubhead3sh3: ".SeriesPageSubhead3sh3";
$SeriesPageTextstx: ".SeriesPageTextstx";
$SeriesPageTextNo-Indentstx1: ".SeriesPageTextNo-Indentstx1";

/* 
TO DO:
Add #{} to each selector
Find all defs for that selector in the old CSS, add to the scss
Add any oldersibling defs to the variables
Write the final compilation script:
LOGIC:
Run after htmlmaker (and htmlmaker_post?)
Aggregate list of all styles in MS (grab all class names from HTML)
Filter for only unique styles
Aggregate list of all scss filenames
For each style:
Search for exact match in file names
IF EXACT MATCH:
  copy the contents of that file into the final scss stylesheet to be compiled
IF NOT EXACT:
  find filename that most closely resembles this style name
  save that filename as matched style name
  save this style name as source style name
  copy the contents of the matched file
  gsub the matched style name with the source style name
  append to the final scss style sheet to be compiled
  IF new style includes NoIndent, SpaceBefore, SpaceAfter, SpaceAround:
  Check to see if the copied scss already includes the appropriate mixin
  If not, add it
  then get contents of variables.scss
  append 

Finally, compile the scss*/